---
title: "Photofilm: BLITZKRIEG"
section: "photofilm"
---

<% content_for :subnav do %>
  <%= partial "partials/photofilm/navigation" %>
<% end %>

<div class="project">
  <section class="project-stage">
    <div id="video" class="video">
        <iframe src="http://player.vimeo.com/video/46571892?color=ffffff" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
  </section>
  <section class="project-info">
    <section class="project-facts">
      <h1>BLITZKRIEG / 2009</h1>
      <p>
      1min 02sec, Vienna, 2009<br />
      Starring: Anker, Busk &amp; emilone<br />
	  Original: 1920 x 1440 px<br />
      © Markus Oberndorfer 2009
      </p>
      <p class="project-credits">
        Installation of 25 disco flashlights<br />
		by Anker, Busk &amp; emilone<br />
        © by the artists
      </p>
    </section>
    <section class="project-description">
      <h1>ABOUT THE PROJECT”:</h1>
      <p>
      "The matrix of a city is split into snapshots and resolved into something new. Breaking this existing order "Graffiti" manages to irritate for an instant, although non of these traces last forever ... [...]
      </p>
      <p>
      [...] A project by Anker, Busk and emilone for the exhibition „Krieg der Zeichen“ ("War of symbols/signs" at designforum MQW 2009). Programmed by Manuel Posch. Light enginieering von Piotr Znajkowski"
      </p>
    </section>

  </section>
</div>