---
title: "Markus Oberndorfer: SOUND"
section: "sound"
layout: "layout_simple"
---


<section class="cv-section">

  <div class="exhibition-block">
    <section class="exhibition-category">
      <h1>BRANDSTIFTUNG/INHERITED:</h1>
      <article>
        <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=2438028075/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://sirlensalot.bandcamp.com/album/brandstiftung-inherited">Brandstiftung/Inherited by Sirlensalot</a></iframe>
        </ul>
     </article>

     <!--</section>
    <section class="exhibition-category">
      <article>
        <h2>Foukauld - La Disparition</h2>
        <img src="img/foukauld.jpg" alt="Lens" /><br>
        <ul>
          <li>106 pages, 22 x 28 cm, 57 color illustrations, German/French/English. Linen hardcover embossed. Texts: Essays by Inge Marszolek, Wolf Langewitz and Markus Oberndorfer, ISBN 978-3-902675-71-2,  Fotohof edition. </li>
          <li>Available via: Fotohof, Selected bookstores in Europe and US</li>
          <li>Release: October 22, 2012</li>
          <li>Edition: 750 (some left at Fotohof)</li>
          <li>Price: 39,00€</li> 
        </ul>

      </article>-->

    </section>

  </div>

  <div class="exhibition-block">
    <section class="exhibition-category">
      <h1>LIMITED EDITIONS:</h1>

      <article>
        <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=2438028075/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://sirlensalot.bandcamp.com/album/brandstiftung-inherited">Brandstiftung/Inherited by Sirlensalot</a></iframe>
        </ul>
      </article>
    </section>

    <!--<section class="exhibition-category">
      <article>
        <h2>Foukauld - La Disparition</h2>
        <img src="img/foukauld-ed.jpg" alt="Lens" /><br>
        <ul>
          <li>Signed and numbered book “Foukauld” (see left), Limited, signed and numbered “Handprinted Edition C-print” (22x28cm) + Limited Blu-ray “Omega Point” (Sound by DDay One) + Accompanying Fanzine with essay by Lydia Nsiah about the intermediate image in my photofilm "Omega Point" (also in German, French, English) + Set of postcards "Foukauld" (10 postcards)</li>
          <li>Release: October 22, 2012</li>
          <li>Edition: 50</li>
          <li>Price: 250€</li>
        </ul>
      </article>

    </section>-->

  </div>

  <div class="exhibition-block last">
    <section class="exhibition-category">
      <h1>RECORDS / OTHER:</h1>
      <article>
        <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=2438028075/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://sirlensalot.bandcamp.com/album/brandstiftung-inherited">Brandstiftung/Inherited by Sirlensalot</a></iframe>
       </ul>
    </article>
    </section>


     <!--<section class="exhibition-category">

      <article>
        <h2>Foukauld - Set of Postcards</h2>
        <img src="img/postcards.jpg" alt="Lens" /><br>
        <ul>
         <li>Selection of 10 postcards from the series "Foukauld - Disappearance" (2005 - 2010) in a handfolded cover</li>
         <li>Release: October 22, 2012</li>
         <li>Price: 12€</li>
       </ul>

      </article>
    </section>-->


  </div>
</section>
