<div class="subnav-section">
  <h1>Lenscapes #02:</h1>
  <ul>
    <li>
      <%= nav_link_to "Photofilm", "/projects/lenscapes-02/index.html" %>
    </li>
   <li>
      <%= nav_link_to "Room #106", "/projects/lenscapes-02/24-6-2011.html" %>
    </li>
   <li>
      <%= nav_link_to "Vinyl Postcard", "/projects/lenscapes-02/vinylpostcard.html" %>
    </li>
   <li>
      <%= nav_link_to "Documentation Video", "/projects/lenscapes-02/documentation.html" %>
    </li>
   <li>
      Essay (coming soon)
    </li>
  </ul>
</div>