---
title: "Photography: ROOM #106, 24-6-2011"
section: "photography"
---

<% content_for :subnav do %>
  <%= partial "partials/photofilm/navigation" %>
<% end %>

<% content_for :project_subnav do %>
  <%= partial "partials/lenscapes-02/navigation" %>
<% end %>

<div class="project">
  <section class="project-stage">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="img/oberndorfer-vor-ort-24-6-01.jpg" />
        </li>
      </ul>
    </div>
  </section>
  <section class="project-info">
    <section class="project-facts">
      <h1>ROOM #106 / 24-7-2011</h1>
      <p>
      Maltatal 2011<br />
      C-Prints: 37 cm x 46 cm to 150 cm x 120 cm <br />
	  Edition: 3+2
      </p>
      <p>
      The photography section is getting shaped and reorganized. I am sorry for the inconveniences.
      </p>
    </section>
    <section class="project-description">
      <h1>ABOUT THE PROJECT:</h1>
      <p>
      Room I lived in for one week during my artist residency at Kölnbreinsperre awarded by the Verbund. I had to leave this room directly to hospital and returned after three weeks for one more week. See "Vor Ort" project.
      </p>
      <p>
      More information and texts coming soon. (<a class="project-text-more" href="/photography/expect.html" target="_blank">Read</a>)
      </p>

    </section>

  </section>
</div>