---
title: "Lenscapes #02: Essay M.Oberndorfer"
---

<% content_for :subnav do %>
  <%= partial "partials/lenscapes-02/navigation" %>
<% end %>

<div class="project">
  <section class="project-stage project-text">
    <article>
      <h1>E: MARKUS OBERNDORFER - LENSCAPES 02 (SHORT INTRODUCTION):</h1>
      <p>
      "For quite some time I have been asking myself: What could be happening with a spectator - willing and open-minded enough to plunge into an image? And how could I combine and aswell question the media I work with: photography (analog & digital), photofilm (the result of the extended examination outgoing from the medium itself) and sound (with its potential to support a certain atmosphere and give feeling a direction).
      </p>
      <p>
      This project relates to the New Phenomenology after Hermann Schmitz and the terms of the 'Situation' and the 'suggestions of movement', Lydia Nsiah’s investigations about "actual and virtual movement' in 'Hybrid Photofilm' and Steffen Kammler’s thoughts on the 'trace of the referent' and 'photography in the broader and narrower sense' in 'Der onthologische Anspruch der Fotografie'." [...] (<a class="project-text-more" href="downloads/Markus-Oberndorfer-Lenscapes-02-Short-Introduction.pdf" target="_blank">Read</a>)
	  </p>
    </article>

    <article>
      <h1>F: MARKUS OBERNDORFER - LENSCAPES 02 (BREF INTRODUCTION):</h1>
      <p>
      "For quite some time I have been asking myself: What could be happening with a spectator - willing and open-minded enough to plunge into an image? And how could I combine and aswell question the media I work with: photography (analog & digital), photofilm (the result of the extended examination outgoing from the medium itself) and sound (with its potential to support a certain atmosphere and give feeling a direction).
      </p>
      <p>
      This project relates to the New Phenomenology after Hermann Schmitz and the terms of the 'Situation' and the 'suggestions of movement', Lydia Nsiah’s investigations about "actual and virtual movement' in 'Hybrid Photofilm' and Steffen Kammler’s thoughts on the 'trace of the referent' and 'photography in the broader and narrower sense' in 'Der onthologische Anspruch der Fotografie'." [...] (<a class="project-text-more" href="downloads/Markus-Oberndorfer-Lenscapes-02-Bref-Introduction.pdf" target="_blank">Lire</a>)
	  </p>
  </article>

    <article>
      <h1>D: MARKUS OBERNDORFER - LENSCAPES 02 (KURZE EINFÜHRUNG):</h1>
      <p>
        "Seit einiger Zeit beschäftigen mich unter anderem die Fragen: Was geschieht mit einem Betrachter, der bereit und aufgeschossen genug ist sich einer Fotografie (Bild) hinzugeben? Und wie lassen sich die von mir verwendeten Medien Fotografie (analog wie digital), Fotofilm (als Ergebnis der erweiterten Auseinandersetzung mit dem Medium) und Sound (als Atmosphäre stiftendes bzw. dem Gefühl eine Richtung gebendes Medium) in einem Projekt vereinen und hinterfragen?
      </p>
      <p>
      Das Projekt bezieht sich auf die Neue Phänomenologie nach Hermann Schmitz und die von ihm geprägten Begriffe der 'Situation' und der 'Bewegungssuggestionen', Lydia Nsiah‘s Untersuchungen zu 'aktueller und virtuellen Bewegung' im 'Hybrid Fotofilm' und Steffen Kammler‘s Gedanken zur 'Spur des Referenten' und zu 'Fotografie im engeren und weiteren Sinn' in 'Rauchzeichen aus dem Labyrinth - Der onthologische Anspruch der Fotografie'." [...] (<a class="project-text-more" href="downloads/Markus-Oberndorfer-Lenscapes-02-Kurze-Einfuehrung.pdf" target="_blank">LESEN</a>)
      </p>
    </article>
  </section>
  <section class="project-info">
    <section class="project-facts">
      <h1>About The Author:</h1>
      <p>
      Markus Oberndorfer: Artist, *1980, Ohlsdorf <br />
	  photographer &amp; shortfilm maker, <br />
	  living and working in Vienna, Austria.<br />
      </p>
    </section>
    <section class="project-description">
      <h1>Text downloads: </h1>
      <ul class="downloads">
        <li>
          <a href="downloads/Markus-Oberndorfer-On-Lenscapes-02.pdf" target="_blank">Markus Oberndorfer - Short introduction about the project / PDF</a>
        </li>
        <li>
          <a href="downloads/Markus-Oberndorfer-Sur-Lenscapes-02.pdf" target="_blank">Markus Oberndorfer - Bref introduction du projet / PDF</a>
        </li>
        <li>
          <a href="downloads/Markus-Oberndorfer-Zu-Lenscapes-02.pdf" target="_blank">Markus Oberndorfer - Kurze Einführung ins Projekt / PDF</a>
        </li>

      </ul>
    </section>

  </section>
</div>