---
title: "Lenscapes #02: Downloads"
---

<% content_for :subnav do %>
  <%= partial "partials/photofilm/navigation" %>
<% end %>

<% content_for :project_subnav do %>
  <%= partial "partials/lenscapes-02/navigation" %>
<% end %>

<div class="project">
  <section class="project-stage">
    <img src="img/lenscapes-02.jpg" alt="Lenscapes #02" />
  </section>
  <section class="project-info">
    <section class="project-facts">
      <h1>Film &amp; Wallpaper Downloads:</h1>
      <ul class="downloads">
        <li>
          <a href="downloads/Sirlensalot-Lenscapes-02.mp3" target="_blank">Lenscapes #02 / Soundtrack / MP3</a>
        </li>
        <li>
          <a href="downloads/Lenscapes-02-1920x1200.jpg" target="_blank">Lenscapes #02 Wallpaper / 1920x1200 / JPG</a>
        </li>
      </ul>

    </section>
    <section class="project-description">
      <h1>Text downloads: </h1>
      <ul class="downloads">
        <li>
          <a href="downloads/Markus-Oberndorfer-Lenscapes-02-Short-Introduction.pdf" target="_blank">Markus Oberndorfer - Lenscapes 02 (Short introduction) / PDF</a>
        </li>
        <li>
          <a href="downloads/Markus-Oberndorfer-Lenscapes-02-Kurze-Einfuehrung.pdf" target="_blank">Markus Oberndorfer - Lenscapes 02 (Kurze Einführung) / PDF</a>
        </li>

      </ul>
    </section>

  </section>
</div>