---
title: "Lenscapes #02"
---

<% content_for :subnav do %>
  <%= partial "partials/lenscapes-02/navigation" %> 
<% end %>

<div class="project">
  <section class="project-stage">
    <div id="video" class="video">
        <iframe src="http://player.vimeo.com/video/56655836?color=ffffff" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>    
  </section>
  <section class="project-info">
    <section class="project-facts">
      <h1>LENSCAPES #02 / 2011</h1>
      <p>
      Vienna / Malta 2011, Edition 3+2 <br />
	  Photo, Photofilm, Sound, Media <br />
	  © Markus Oberndorfer 2011
      </p>
      <p class="project-credits">
	  <ul class="dashed-list">
	  <li>Room #206 (C-Print, 50 x 60 cm, 3+2)</li>
	  <li>Lenscapes #02 (Vinylpostcard, 33+2)</li>
	  <li>Lenscapes #02 (Photofilm, 2min 47sec
	  Original: 2560 x 1920 px,, 3+2)</li>
	  <li>Portable Turntable (Vintage)</li>
	  </ul>
      </p>
    </section>
    <section class="project-description">
      <p>
      ABOUT THE PROJECT: "For quite some time I have been asking myself: What could be happening with a spectator, willing and open-minded enough to plunge into an image? And how could I combine and aswell question the media I work with: photography (analog & digital), photofilm (the result of the extended examination outgoing from the medium itself) and sound (with its potential to support a certain atmosphere and give feeling a direction).
      </p>
      <p>
      This project relates to the New Phenomenology after Hermann Schmitz and the terms of the 'Situation' and the 'suggestions of movement', Lydia Nsiah’s investigations about "actual and virtual movement' in 'Hybrid: Fotofilm' and Steffen Kammler’s thoughts on the 'trace of the referent' and 'photography in the broader and narrower sense' in 'Der onthologische Anspruch der Fotografie'." [...]
      </p>
    </section>

  </section>
</div>