---
title: "Photography: VINYLPOSTCARD"
target: "photography-vinylpostcard"
---

<% content_for :subnav do %>
  <%= partial "partials/photofilm/navigation" %>
<% end %>

<% content_for :project_subnav do %>
  <%= partial "partials/lenscapes-02/navigation" %>
<% end %>

<div class="project">
  <section class="project-stage">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="img/oberndorfer-vinylpostcard-01.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-vinylpostcard-02.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-vinylpostcard-03.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-djfood.jpg" />
        </li>
      </ul>
    </div>
  </section>
  <section class="project-info">
    <section class="project-facts">
      <h1>VINYLPOSTCARD / LENSCAPES #02</h1>
      <p>
      Malta / Vienna 2011<br />
      Postcard with Record-surface: A6<br />
	  Edition Vinylpostcard single: 30 (sold out)<br />
	  Edition Installation: 3+2AP 
      </p>
      <p>
      Contains Photofilm Soundtrack<br />
	  Arranged &amp; produced by Sirlensalot<br />
	  © Sirlensalot 2011
      </p>
    </section>
    <section class="project-description">
      <h1>ABOUT THE PROJECT:</h1>
      <p>
      Lenscapes #02 vinylpostcard is supposed to provide the soundtrack to photograph "Room #106" shown together with the portable turntable in the installation. The soundtrack shall help the spectator to plunge into the image "Room #106" and screen a film to it in front to his/her inner eye. So to say: the soundtrack to an in any case virtually moved photograph. (more about actually and virtually moved images in Lydia Nsiah's book "Hybrid: Fotofilm") 
      </p>
      <p>
      More information and essay coming soon.
      </p>

    </section>

  </section>
</div>