---
title: "To Forget: ESSAY LYDIA NSIAH (E/F/D)"
section: "photofilm"
---

<% content_for :subnav do %>
  <%= partial "partials/photofilm/navigation" %>
<% end %>

<% content_for :project_subnav do %>
  <%= partial "partials/archived-material/navigation" %>
<% end %>


<div class="project">
  <section class="project-stage project-text">
    <article>
      <h1>E: LYDIA NSIAH - TO FORGET:</h1>
      <p>
      The full length essay about this video artwork by media philosopher and visual artist Lydia Nsiah, called "To Forget", will be released together with the english version of "Autrement on devient fou....." and a physical release of the track "Archived Material" in 2015. A short excerpt of this essay in German, French and English will be online within the next days. Stay tuned.</p>
    </article>
  </section>
  <section class="project-info">
    <section class="project-facts">
      <h1>ABOUT THE AUTHOR:</h1>
      <p>
        Lydia Nsiah: Academic for media-studies, filmmaker, and photographer from Vienna, Austria. She worked on the project "Sponsored Films" and the Cuture of Modernisation at the Ludwig Boltzmann Institute for History and Society. Exploratory focus: Avantgarde and advertising, theory of perception, comprehensive media philosophy and audiovisual arts.
      </p>
    </section>
    <section class="project-description">
      <h1>Text downloads: </h1>
      <ul class="downloads">
        <li>
          No downloads yet. Please wait for the english version to be published and support. Some downloads will be activated after the release.
        </li>

      </ul>
    </section>

  </section>
</div>