---
title: "To Forget: ESSAY LYDIA NSIAH (E/F/D)"
section: "photofilm"
---

<% content_for :subnav do %>
  <%= partial "partials/photofilm/navigation" %>
<% end %>

<% content_for :project_subnav do %>
  <%= partial "partials/archived-material/navigation" %>
<% end %>


<div class="project">
  <section class="project-stage project-text">
    <article>
      <h1>D: LYDIA NSIAH - VERGESSEN: (Exzerpt)</h1>
      <p>
      The full length essay about this video artwork by media philosopher and visual artist Lydia Nsiah will be released together with the english version of "Autrement on devient fou....." in 2015.</p>
      <p>
      „Jeder der die Filme von der Landung der Alliierten gesehen hat, hat gesehen was da ablief.“ (Henri Lavrillat)In Archived Material (OmdU) verschränkt Markus Oberndorfer eigene Handyaufnahmen von den ehemaligen Atlantikwall-Bunkern in Cap Ferret mit einem auf YouTube hochgeladenen Film aus dem Jahr 1944. Ohne die historischen Aufnahmen von der Landung der Alliierten in der Normandie erneut ins Bild zu setzen übernimmt und verdoppelt Oberndorfer deren Bildästhetik mittels digitalem ‚Layering’: Während an der Oberfläche der Filmschleier flimmert, pixelt es im Hintergrund (und umgekehrt). Ausgestellt in der für Video-Plattformen gängigen ‚preview quality’, treibt sein SW-Video nun am digitalen Meeresgrund von Vimeo – nur einen Klick davon entfernt Einzug in unser Gedächtnis und damit in unser Erinnern (und Vergessen) zu halten. (aus "Vergessen" von Lydia Nsiah)
      </p>
    </article>
  </section>
  <section class="project-info">
    <section class="project-facts">
      <h1>ABOUT THE AUTHOR:</h1>
      <p>
        Lydia Nsiah: Academic for media-studies, filmmaker, and photographer from Vienna, Austria. She worked on the project "Sponsored Films" and the Cuture of Modernisation at the Ludwig Boltzmann Institute for History and Society. Exploratory focus: Avantgarde and advertising, theory of perception, comprehensive media philosophy and audiovisual arts.
      </p>
    </section>
    <section class="project-description">
      <h1>Text downloads: </h1>
      <ul class="downloads">
        <li>
          No downloads. Please wait for the english version to be published. 
        </li>

      </ul>
    </section>

  </section>
</div>