---
title: "Archived Material (OmdU)"
section: "photofilm"
---

<% content_for :subnav do %>
  <%= partial "partials/archived-material/navigation" %>
<% end %>


<div class="project">
  <section class="project-stage">
    <div id="video" class="video">
        <iframe src="http://player.vimeo.com/video/44931013?color=ffffff" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
  </section>
  <section class="project-info">
    <section class="project-facts">
      <h1>ARCHIVED MATERIAL (OmdU)</h1>
      <p>
      Cap Ferret / Vienna 2014 <br />
	  Video: 3:41 min, 1920x1080p, Original &amp; Subtitles: DE/EN
	  Video: Cap Ferret &amp; Villeneuve-sur-Lot 2012<br />
	  All rights reserved, &copy; Markus Oberndorfer 2014
      </p>
      <p>
        Archived Material taken from Photographic Darkroom Sessions<br />
        Written &amp; Produced by Sirlensalot<br />
        © Markus Oberndorfer 2014
      </p>
    </section>
    <section class="project-description">
      <h1>ABOUT THE PROJECT:</h1>
      <p>
      Interview with Henri Lavrillat (*1920) who recalls his compulsory work service at Cap Ferret and in Bordeaux during the Second World War. He also talks about my photographic collection "Disappearance – The Atlantic Wall around Cap Ferret", which was the starting point for this interview.
	  </p>
      <p>
      A film by Markus Oberndorfer, created with the help of Céline Foulon. Thank you to everyone that became part of that project; for your trust from the beginning and for this extraordinary experience of having the possibility to plunge into the memories of one of the last living contemporary war witnesses.
      </p>
    </section>

  </section>
</div>