---
title: "Archived Material (OmeU)"
section: "photofilm"
---

<% content_for :subnav do %>
  <%= partial "partials/photofilm/navigation" %>
<% end %>

<% content_for :project_subnav do %>
  <%= partial "partials/archived-material/navigation" %>
<% end %>


<div class="project">
  <section class="project-stage">
    <div id="video" class="video">
        <iframe src="http://player.vimeo.com/video/91795497?color=ffffff" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
  </section>
  <section class="project-info">
    <section class="project-facts">
      <h1>ARCHIVED MATERIAL (OmeU)</h1>
      <p>
      Cap Ferret / Vienna 2014 <br />
	  Video: 3:41 min, 1920x1080p, Original &amp; Subtitles: DE/EN
	  Video: Cap Ferret &amp; Villeneuve-sur-Lot 2012<br />
	  All rights reserved, &copy; Markus Oberndorfer 2014
      </p>
      <p>
        Track "Archived Material" taken from "Photographic Darkroom Sessions", contains samples of "Autrement on devient fou..... (the interview). Written &amp; Produced by Sirlensalot, 2014, © Markus Oberndorfer 2014
      </p>
    </section>
    <section class="project-description">
      <h1>ABOUT THE PROJECT:</h1>
      <p>
      Video and sound work reflecting on archived material in the digital age, media production and archival structures in general. It is using vocal snippets of the Interview "Autrement on devient fou....." with Henri Lavrillat (*1920) who recalls his compulsory work service at Cap Ferret during the Second World War, altered iphone video-footage from Cap Ferret in 2012, ... 
    </p>
      <p>
      A full length essay about this video artwork by media philosopher and visual artist Lydia Nsiah, called "To Forget", will be released together with the english version of "Autrement on devient fou....." and a physical release of the track "Archived Material" in 2015. A short excerpt of this essay will be available within the next days. Stay tuned. 
      </p>
    </section>

  </section>
</div>