---

title: "Photography: SWIM AT OWN RISK"

---

<% content_for :subnav do %>
  <%= partial "partials/photography/navigation" %>
<% end %>

<div class="project">
  <section class="project-stage">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="img/oberndorfer-own-risk-00.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-own-risk-01.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-own-risk-02.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-own-risk-03.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-own-risk-04.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-own-risk-05.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-own-risk-06.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-own-risk-07.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-own-risk-08.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-own-risk-09.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-own-risk-10.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-own-risk-11.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-own-risk-12.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-own-risk-13.jpg" />
        </li>
      </ul>
    </div>
  </section>
  <section class="project-info">
    <section class="project-facts">
      <h1>SWIM AT OWN RISK / 2006</h1>
      <p>
      Miami 2006<br />
      C-Prints: 37,5 cm x 29,2 cm to 150 cm x 120 cm <br />
	  Edition: 3+2
      </p>
      <p>
      The photography section is getting shaped and reorganized. I am sorry for the inconveniences.
      </p>
    </section>
    <section class="project-description">
      <h1>WHAT I EXPECT FROM MY PHOTOGRAPHY: </h1>
      <p>
      Local conditions, surroundings and snapshots around a photoshooting in Miami with Jork Weismann. On and inbetween location; places otherwise difficult to access but allow different views on a city and its individual parallel worlds. 
      </p>
      <p>
      "Swim at Own Risk" stands as a metaphor for the different worlds we live in. No matter who, no matter how, no matter where ... everyone has to find its own way to navigate through the hurdles.
      </p>

    </section>

  </section>
</div>