---
title: "Markus Oberndorfer: CV"
section: "cv"
layout: "layout_simple"
---


  <section class="cv-section">
    <div class="exhibition-block">


      <section class="exhibition-category">
        <h1>COPYRIGHT:</h1>
        <article>
          <div>
        <p>
        The works published on this website (image aswell as text) are governed by the copyright laws of Austria. Any duplication, processing, distribution or any form of utilisation beyond the scope of copyright law requires the prior written consent of the author in question. I am not responsible for any content shown on linked websites. © Markus Oberndorfer 2016. All Rights Reserved. 
      </p> 
      <p>
        Web programming: Richard Bausek<br>
        Web maintenance: Markus Oberndorfer<br>
      </p> 
        </article>
      </section>


      
      <section class="exhibition-category">
        <h1>RETENTION OF TITLE:</h1>
        <article>
      <div>
        <p>
        Sold works remain my property until they have been fully paid for.
        </p> 
        </article>
      </section>


      <section class="exhibition-category">
        <h1>DISCLAIMER:</h1>
        <article>
      <div>
        <p>
        I am not responsible for any damage caused by improper handling of works (such as installation-, hanging- or storing-mishaps), wear or altercations (chemical or other) caused by room-climate and the environment. 
        </p> 
        </article>
      </section>

      </section>
    </div>

<section class="cv-section">
    <div class="exhibition-block">

      <section class="exhibition-category">
        <h1>ALLGEMEINE GESCHÄFTSBEDINGUNGEN:</h1>
        <article>
          <div>
        <p>
        §1 Allgemeiner Geltungsbereich:<br>
        Die folgenden Allgemeinen Gschäftsbedingungen gelten für alle Geschäftsbeziehungen zwischen dem Kunden und:
      </p> 
        <p>
        Atelier Markus Oberndorfer<br> 
        Fesstgasse 6<br> 
        1160 Wien<br>  
      </p> 
        <p>
        §2 Vertragsabschluss:<br>
        (1) Die Darstellung von Kunstwerken im Internet stellt kein Angebot dar, sondern ist nur eine unverbindliche und freibleibende Aufforderungen an den Kunden, Kaufanfragen zu stellen. Die Onlinedarstellungen können von den bestellten Kunstwerken geringfügig abweichen. Die Farbwiedergabe ist technisch bedingt nicht 100% zuverlässig.
      </p> 
        <p>
        (2) Mit der Kaufanfrage des Kunstwerkes gibt der Kunde kein für ihn verbindliches Angebot auf Abschluss eines Kaufvertrages ab.
      </p> 
        <p>
        (3) Bei einer Kaufanfrage wird der Zugang der Anfrage per E-Mail bestätigt, dies stellt allerdings noch keine Vertragsannahme dar.
      </p> 
        <p>
        (4) Das Angebot erfolgt per E-Mail, wenn die Ware verfügbar ist und zum Verkauf steht.
      </p> 
        <p>
        (5) Die Vertragsannahme erfolgt durch eine schriftliche Annahme des vorab zugesandten Angebots per E-Mail.
      </p> 
        <p>
        §3 Preise und Lieferung:<br>
        (1) Alle angegebenen Preise sind Nettopreise und enthalten laut §6 Abs1z27 UStG1994 keine Umsatzsteuer.
      </p> 
        <p>
        (2) Hat der Kunde die Lieferung per Zusteller gewählt, kommen Versandkosten hinzu. Die Versandkosten hängen vom Gewicht der bestellten Ware, sowie der Versandart ab und werden im Angebot aufgeführt.
      </p> 
        <p>
        (3) Hat der Kunde den Versand per Zusteller gewählt, versichern wir das Kunstwerk zu seinem jeweiligen Wert.
      </p> 
        <p>
        (4) Alle Risiken und Gefahren, die im Rahmen der Warenversendung auftreten können, gehen zu Lasten des Kunden, sobald die Waren von Markus Oberndorfer an einen Zusteller, oder dem Kunden selbst übergeben wurden. Markus Oberndorfer haftet nicht für Beschädigungen oder Verlust der Kaufsache, die nach Übergabe derselben zur Beförderung entstehen. Diese sind gegebenenfalls (gemeinsam) gegenüber dem Zusteller geltend zu machen.
      </p> 
        <p>
        §4 Zahlungsbedingung:<br>
        (1) Die Zahlung erfolgt je nach Vereinbarung vor, nach oder bei Lieferung.
      </p> 
        <p>
        (2) Der Kunde erhält für den Rechnungsbetrag eine Rechnung. 
      </p> 
        <p>
        §5 Eigentumsvorbehalt:<br>
        Ich behalte mir das Eigentum an der Ware bis zur vollständigen Bezahlung des Kaufpreises vor. Eine Verpfändung oder Sicherheitsübertragung der Waren ohne unsere schriftliche Zustimmung ist nicht zulässig. 
      </p> 
        <p>
        §6 Gewährleistung:<br>
        (1) Der Kunde ist verpflichtet, die gelieferte Ware unverzüglich nach Empfang auf Qualitätsabweichungen zu überprüfen und eventuelle Reklamationen sofort schriftlich (bei Lieferung) oder mündlich (bei Übergabe) anzuzeigen, andernfalls ist die Geltendmachung von Gewährleistungsansprüchen ausgeschlossen.
      </p> 
        <p>
        (2) Ausgeschlossen sind Mängel, die durch Transport, unsachgemäße Behandlung, Veränderung des gelieferten Gegenstandes durch Raumklima oder natürlichen Verschleiß entstanden sind. Den Kunden trifft die volle Beweislast für sämtliche Anspruchsvoraussetzungen.
      </p> 
        <p>
        (3) Handelsübliche oder geringe, technisch nicht vermeidbare Abweichungen der Qualität, Farbe, Größe, des Druckes oder des Designs dürfen nicht beanstandet werden.
      </p> 
        <p>
        (4) Der Verkäufer hat das Recht zur mehrfachen Ersatzlieferung oder Nachbesserung.
      </p> 
        <p>
        §7 Widerrufsrecht:<br>
        (1) Es besteht kein Widerrufsrecht bei Lieferungen von Kunstwerken die nach Kundenwünschen angefertigt werden und/oder extra für den Kunden produziert wurden. Der Kunde hat ein 14-tägiges Widerrufsrecht auf Bücher oder Tonträger. Dieses ist schriftlich und per mail geltend zu machen.
      </p> 
        <p>
        (2) Die zur Rücksendung bestimmte Ware ist ordnungsgemäß zu verpacken. Transportschäden die durch unsachgemäße Verpackung entstanden sind, belasten den Kunden. Als ordnungsgemäße Verpackung gilt nur die Originalverpackung oder eine gleichwertige Verpackung.
      </p> 
        <p>
        §8 Vertraulichkeit:<br>
        Kundendaten werden selbstverständlich vertraulich behandelt und nicht an Dritte weitergegeben. Sie dienen lediglich dem internen Gebrauch.
      </p> 
        <p>
        §9 Schlussbestimmungen:<br>
        (1) Ist der Kunde Kaufmann, juristische Person des öffentlichen Rechts oder öffentlich-rechtliches Sondervermögen, ist ausschließlicher Gerichtsstand für alle Streitigkeiten aus diesem Vertrag mein "Geschäftssitz". Dasselbe gilt, wenn der Kunde keinen allgemeinen Gerichtsstand in Österreich hat oder der Wohnsitz oder gewöhnlicher Aufenthalt im Zeitpunkt der Klageerhebung nicht bekannt sind.
      </p> 
        <p>
        (2) Nebenabreden, Zusicherungen von Eigenschaften, Vertragsänderungen bedürfen der Schriftform. Von dieser Schriftformabrede kann nur durch schriftliche Vereinbarung abgewichen werden.
      </p> 
        <p>
        (3) Sollten einzelne Bestimmungen des Vertrags mit dem Vertragspartner einschließlich dieser allgemeinen Geschäftsbedingungen ganz oder teilweise unwirksam sein oder werden, so wird hierdurch die Gültigkeit der übrigen Bestimmungen nicht berührt. Die ganz oder teilweise unwirksame Regelung soll durch eine Regelung ersetzt werden, deren wirtschaftlicher Erfolg der unwirksamen möglichst nahe kommt.
        </p> 
        </article>
      </section>

    </div>
  </section>
</div>