<div class="subnav-section">
  <h1>AUTREMENT ON DEVIENT FOU...</h1>
  <ul>
    <li>
      <%= nav_link_to "Interview", "/autrement-on-devient-fou/index.html" %>
    </li>
    <li>
      <%= nav_link_to "Transcript", "/autrement-on-devient-fou/transcript.html" %>
    </li>
  </ul>
</div>

<div class="subnav-section subnav-related-projects">
  <h1>Related Projects:</h1>
  <ul>
    <li>
      <a href="/foukauld/">Foukauld - La Disparition</a>
    </li>
    <li>
      <a href="/omega-point/">Omega Point</a>
    </li>
    <li>
      <a href="/se-souvenir/">Se Souvenir</a>
    </li>
  </ul>
</div>