---
title: "Markus Oberndorfer: SOUND"
section: "sound"
---

<% content_for :subnav do %>
  <%= partial "partials/sound/navigation" %>
<% end %>

<div class="project">
  <section class="project-stage">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="/sound/img/oberndorfer-kalhex.jpg" />
        </li>
      </ul>
    </div>
  </section>
</div>

<div class="project">
  <section class="project-stage">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <iframe width="100%" height="140" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/76622043&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
        </li>
      </ul>
    </div>
  </section>
</div>

  <section class="project-info">
    <section class="project-facts">
      <h1>CHEZ KALHEX / 2012</h1>
      <p>
      Paris 2012, C-Prints, Edition: 3+2<br />
    Listen to my remix of "Kalhex feat. Rob-O - La fine Ligne" via <a class="link" href="https://soundcloud.com/lens_j/la-fine-ligne-sirlensalot" target="_blank">Soundcloud</a>; Download <a class="link" href="http://www.markusoberndorfer.com/xchange/StarW23_fr_38p_LD.pdf" target="_blank">Starwax Music Magazine</a> Interview (french)  and find more about Kalhex on <a class="link" href="https://akromegalierecords.bandcamp.com/merch" target="_blank">Akromegalie Records</a>.
      </p>
    </section>

    <section class="project-description">
      <h1>ABOUT THE PROJECT”:</h1>
      <p>
      Part of an <a href="/projects/kalhex/" target="_blank">ARTIST PORTRAIT (Link)</a> about my dear friends and favourite producers Kalhex (Lex de Kalhex, Le Makizar, Parental)
      </p>
    </section>

  </section>
</div>

