---
title: "Se Souvenir: ESSAY MARKUS OBERNDORFER (E/F/D)"
section: "photography"
---

<% content_for :subnav do %>
  <%= partial "partials/photography/navigation" %>
<% end %>

<% content_for :project_subnav do %>
  <%= partial "partials/se-souvenir/navigation" %>
<% end %>


<div class="project">
  <section class="project-stage project-text">
    <article>
      <h1>D: MARKUS OBERNDORFER - SE SOUVENIR (D):</h1>
      <p>Deutsch, Französisch, Deutsch, Französisch, ... so baut sich das Konstrukt aus Plakaten auf jenen Wänden auf, die Henri Lavrillat 1941 im Pflichtarbeitsdienst bauen musste und mit denen ich mich in meiner fotografischen Gegenwart über die letzten Jahre auseinandergesetzt habe. Dabei entsteht eine temporäre Installation im öffentlichen Erholungsraum des Caps, die die Arbeiten "Autrement on devient fou….." und „Foukauld - La Disparition“, die jede für sich das Sich-Erinnern und das Sich-Vorstellen aus zwei grundlegend verschiedenen Perspektiven behandeln, kontextuell und für kurze Zeit ganz konkret zeitlich und performativ am Ort des Geschehens vereint. [...]
      </p>

      <p>
       [...] Im Rahmen meiner intensiven inhaltlichen und praktisch ausführenden Auseinandersetzung mit den Erzählungen Henri Lavrillats stellte sich mir die Frage, wie sich einzelne Aussagen im Interview vor einem metaphorischen, also nicht nur rein faktischen Hintergrund interpretieren lassen; wenn man (ON*) den von Henri Lavrillat (JE*) gesprochenen, perspektivisch angelegten Erinnerungsraum der subjektiven Tatsachen verlässt, um die Geschichte in einen durch andere Identitäten gelebten Raum zu verlagern, in dem  eine dritte Person (IL*) betrachtet und interpretiert. [...] (Read more: Monograph "Autrement on devient fou..... (OmdU)")
      </p>
    </article>

    <article>
      <h1>F: MARKUS OBERNDORFER - SE SOUVENIR (F):</h1>
      <p>
      Allemand, français, allemand, français… Les deux langues alternent sur les affiches collées aux murs des blockhaus qu’Henri Lavrillat a dû construire au Cap-Ferret pendant la Seconde Guerre mondiale, dans le cadre du service du travail obligatoire (STO). C’est là que j’ai réalisé une installation temporaire. Dans l’espace public de la station balnéaire du Cap-Ferret se trouvent ainsi réunis mes deux projets « Autrement on devient fou… » et « Foukauld – La Disparition ». Selon deux points de vue très différents, ils portent sur les phénomènes du souvenir et de l’imagination. [...]
      </p>

      <p>
       [...] Mon travail sur le récit d’Henri Lavrillat a été aussi intense sur le plan du contenu que de l’action concrète : dans certains de ses propos, j’ai en effet cherché un sens métaphorique, et non purement factuel. Quand ON s’éloigne de ce que dit Henri Lavrillat (JE), c’est-à-dire de l’espace du souvenir des faits subjectifs, propre au point de vue de l’énonciateur, on transpose l’histoire dans un espace vécu par d’autres identités, vu et interprété par un tiers (IL). [...]
      (Read more: Monograph "Autrement on devient fou..... (OmdU)")
	  </p>
  </article>

    <article>
      <h1>E: MARKUS OBERNDORFER - SE SOUVENIR (E):</h1>
      <p>
      German, French, German, French, ... The languages alternate poster by poster on the bunker walls Henri Lavrillat was forced to build in 1941 during compulsory work service, the walls I have studied and captured in my photographs over the last few years. By doing so, I have created a temporary photographic installation in the recreation area of Cap Ferret, which combines two of my projects, "Autrement on devient fou….." and "Foukauld – La Disparition“. These projects, which both describe the processes of remembering and imagining, but from completely different perspectives, are contextually and performatively united, even if only for a short time, in the very place where it all happened. [...]
      </p>
      <p>
       [...] During my extensive analysis of the content and practical implementation of Henri Lavrillat's interview, I came to think about how individual statements could be interpreted against a metaphorical, i.e. not purely fact-based, background. When one (ON*) leaves Henri Lavrillat's (JE*) directional space of remembered subjective facts, one puts history in a different context and observes and interprets it from the perspective of a third person (IL*). [...]
      (Read more: Coming Soon)
      </p>
    </article>
  </section>
  <section class="project-info">
    <section class="project-facts">
      <h1>About The Author:</h1>
      <p>
      Markus Oberndorfer: Artist, *1980, Ohlsdorf <br />
	  artist, living and working in Vienna, Austria.<br />
      </p>
    </section>
    <section class="project-description">
      <h1>Text downloads: </h1>
      <ul class="downloads">
        <li>
         Buy the book "Autrement on devient fou..... (OmdU)" for German and French version or magazine version in English scheduled for 2015. 
        </li>

      </ul>
    </section>

  </section>
</div>
