---
title: "Se Souvenir"
target: "se-souvenir"
---


<% content_for :subnav do %>
  <%= partial "partials/se-souvenir/navigation" %>
<% end %>

<div class="project">
  <section class="project-stage">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="img/coming-se-souvenir.jpg" />
        </li>
      </ul>
    </div>
  </section>
  <section class="project-info">
    <section class="project-facts">
      <h1>SE SOUVENIR</h1>
      <p>
      Intervention, C-Print, Time-Lapse, ... <br />
	  La Pointe du Cap Ferret, 2013 (until faded) <br />
	  Texts by Lydia Nsiah, ... Coming: Early 2014 <br />
	  All rights reserved, &copy; Markus Oberndorfer 2013
      </p>
      <p>
      Se Souvenir (fading work and exhibition)<br />
	  La Pointe du Cap Ferret, 19.9.2013 - it has disappeared
      </p>
    </section>
    <section class="project-description">
      <h1>ABOUT THE PROJECT:</h1>
      <p>
      To interconnect both main and big single parts of my work about the Atlantic Wall around Cap Ferret ("Foukauld" &amp; "Autrement on devient fou.....", and to close the circle between two parts of history and memory, I dicided to - for a last time - paste the story of contemporary witness Henri Lavrillat, that had to build those fortifications in Cap Ferret during the compulsory work service with many others, on the walls he had to construct and that I took photos of since 2004.
	  </p>
      <p>
       Therefore, I layouted the transcript of the whole interview (35 minutes) on two different A1 billboards (one french, one german to reflect the seperation of France during the war aswell as the potential of language regarding its power to create national identity). The big quotes you can see are taken from the narration (interview) and layouted like parts of puzzles that are put together by pasting the billboards on the walls. The quotes are taken out of the interview without any transformation, still I selected them not only to ask questions but also make references to the process of perception that goes hand in hand with images we see in media, films, historical books, ... and asks questions about "lived space" and "authenticity". The quotes play with our perception as I would say: "(If) I see them like that, ..." (What is it that you see?) "He imagines, he cannot live it, he hasn't seen/experienced it" (if we are not on site - wherever this may be - at that time, can we live it?) "On a vu / les films" (We have seen the films; the films that create the pictures in our mind) ...<br /> 
	   More updates will follow in time and although my project is now finished and the circle closed, all the footage and writing will still need some months. Thank you for your understanding. 
      </p>

    </section>

  </section>
</div>


