---
title: "Se Souvenir: For Now"
section: "photography"
---

<% content_for :subnav do %>
  <%= partial "partials/photography/navigation" %>
<% end %>

<% content_for :project_subnav do %>
  <%= partial "partials/se-souvenir/navigation" %>
<% end %>


<div class="project">
  <section class="project-stage">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="img/coming-se-souvenir-n.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-kleistern.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-on-a-vu.jpg" />
        </li>
      </ul>
    </div>
  </section>
  <section class="project-info">
    <section class="project-facts">
      <h1>SE SOUVENIR</h1>
      <p>
	  La Pointe du Cap Ferret, 19.9.2013 - 21.9.2013<br />
    Intervention, Photography, Timelapse, ... <br />
	  Texts: Markus Oberndorfer (D/F/E)<br /> 
    C-Print analog, 30x37cm to 120x150cm<br /> 
	  All rights reserved, &copy; Markus Oberndorfer 2013
      </p>
      <p>
	  Monograph: <a href="http://www.markusoberndorfer.com/autrement-on-devient-fou" target="_blank">Autrement on devient fou..... (OmdU)</a>
      Se Souvenir (fading work in public space)<br />
	  Article: <a href="/cv/downloads/Anne-Debaumarche-L-Autrichien-qui-fait-parler-les-blockhaus-Cap-Ferret.pdf" target="_blank">L'Autrichien qui fait parles les blockhauses (F)</a>
      </p>
    </section>
    <section class="project-description">
      <h1>ABOUT THE PROJECT:</h1>
      <p>
      To interconnect both main work around the fortifications of the Atlantic Wall around Cap Ferret ("Foukauld" &amp; "Autrement on devient fou.....", and to close the circle between these two histories of past an present, I dicided to paste the story of the contemporary war witness Henri Lavrillat, that had to build those fortifications in Cap Ferret during the compulsory work service with many others, on the walls he had to construct and that I took photos of since 2004.
	  </p>
      <p>
       Therefore, I layouted the transcript of the whole interview (35 minutes) on two different A1 billboards (one french, one german to reflect the seperation of France during the war aswell as the potential of language regarding its power to create national identity). The big quotes you can see are taken from the narration (interview) and layouted like parts of puzzles that are put together by pasting the billboards on the walls. The quotes are taken out of the interview without any transformation, still I selected them not only to ask questions but also make references to the process of perception that goes hand in hand with images we see in media, films, historical books, ... and asks questions about "lived space" and "authenticity". The quotes play with our perception as I would say: "(If) I see them like that, ..." (What is it that you see?) "He imagines, he cannot live it, he hasn't seen/experienced it" (if we are not on site - wherever this may be - at that time, can we live it?) "On a vu / les films" (We have seen the films; the films that create the pictures in our mind) ... More information will follow in time and although my project is now "finished" and the circle closed, all the footage and writing will still need some time. Thank you for your understanding. 
      </p>

    </section>

  </section>
</div>


