---
title: "Almost Nature: TEXT MARKUS OBERNDORFER (E/F/D)"
section: "photography"
---

<% content_for :subnav do %>
  <%= partial "partials/photography/navigation" %>
<% end %>

<% content_for :project_subnav do %>
  <%= partial "partials/almost-nature/navigation" %>
<% end %>


<div class="project">
  <section class="project-stage project-text">
    <article>
      <h1>D: MARKUS OBERNDORFER - ÄSTHETISCHE VERBLENDUNG:</h1>
      <p>Ausgehend von der temporären Aneignung einer „Jäger“ Werbetafel, die mitten in der Landschaft auf den aktuellen und früheren Kraftwerksbau verweist, beschäftigt sich meine Serie „Almost Nature“ mit dem Naturbegriff. Die wie eine Bildunterschrift in die Landschaft und den fotografischen Ausschnitt eingepflanzte, als Frage zu verstehende, Behauptung „Beinahe Natur“ ist dabei der Versuch eines Anstosses zur bewussten Auseinandersetzung mit der Umgebung und unserer Rede über Natur.
      </p>
      <p>
       "Für den Menschen, der als Wesen der Natur zur Kultur fähig ist, gilt das Meer ebenso als Natur, wie die (Kultur-)Landschaft vor den Toren der Stadt, während der agroindustrielle Acker als beider Gegensatz betrachtet werden. Solche Trennung steht unter der Macht ästhetischer Verblendung, die mythisch trennt, was sich in einer unaufhebbaren Überlagerung von Natur und Kultur in hybriden Gestalten stets aufs Neue herausbildet." <sup>1</sup> Davon ausgehend stellt sich mir die Frage: Ist nun alles, was uns umgibt, nur beinahe Natur? Oder ist vielmehr alles — also auch der Mensch und sein Werk — Natur und nur die ästhetisierte Vorstellung von dem, was sie für uns zu sein hat, Grund dafür, dass überhaupt gefragt werden muss? Deutlich wird, dass das Sehnen nach einem Ort an dem nicht Arbeit im Vordergrund steht, sondern eine von rationalen Zwängen befreite Stimulation der „Sinne“ und des Leibes durch ergreifende Atmosphären der Natur <sup>2</sup> (die sich in ihren wirkenden Kräften an der dinglichen Welt ausdrücken), die Rede des Menschen über Natur und seine Befindlichkeit beherrscht. <br />  
      </p>
    </article>

    <article>
      <h1>E: MARKUS OBERNDORFER - ESTHETIC INFATUATION:</h1>
      <p>By temorarily appropriating a billboard for the Jäger construction company (an advertisment in the middle of the scenery that points out the current and earlier power plant constructions) my series Almost Nature deals with the concept of nature. The claim “Almost Nature”, embedded like an image caption in the photograph and in the landscape itself, represents an attempt to consciously examine the landscape and our speaking of nature.
      </p>
      <p>
      "For us humans, as creatures of nature who are also capable of culture, the sea is considered just as much as nature, as the (cultivated) landscape just outside the city gates, while the agro-industrial fields are considered the opposit of both. Such a seperation is subject to the power of esthetic infatuation that mythically seperates what is consistantly emerging in hybrid forms as an irreversible interaction of nature and culture." <sup>1</sup> Starting from this point I pose the question: Is everything that surrounds us only ‘Almost Nature’ ? Or is in fact everything (including human beings and their technical achievements) ‘nature’ and only the idea and imagination of what it should represent for us, the reason for having to pose this question in the first place?
      It becomes apparent, that our longing for a place — where not work, but the free stimulation of senses and sensation through natures capturing atmospheres <sup>2</sup> is the priority —, dominates our discourse about nature and our human condition.
    </p>
  </article>


  </section>
  <section class="project-info">
    <section class="project-facts">
      <h1>About The Author:</h1>
      <p>
      Markus Oberndorfer: Artist, *1980, Ohlsdorf <br />
	    living and working in Vienna, Austria.<br />
      </p>
      <p>
      <sup>1</sup> Jürgen Hasse: Atmosphären der Stadt - Aufgespürte Räume, Jovis 2012. <br />
      <sup>2</sup> Halbdinge (Licht, Wind, ...), Erscheinungen des Wetters (Nebel, ...) und synästhetische Charaktere (das Sanfte der Morgenröte, die Frische der Bergluft, ...)
      </p>
    </section>
    <section class="project-description">
      <h1>Text downloads: </h1>
      <ul class="downloads">
        <li>... 
        </li>

      </ul>
    </section>

  </section>
</div>
