---
title: "Almost Nature"
section: "photography"
---

<% content_for :subnav do %>
  <%= partial "partials/photography/navigation" %>
<% end %>

<% content_for :project_subnav do %>
  <%= partial "partials/almost-nature/navigation" %>
<% end %>


<div class="project">
  <section class="project-stage">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="img/oberndorfer-almost-nature-01.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-almost-nature-02.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-almost-nature-03.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-almost-nature-04.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-almost-nature-06.jpg" />
        </li>
        <!--<li>
          <img src="img/oberndorfer-almost-nature-05.jpg" />
        </li>-->
        <li>
          <img src="img/oberndorfer-almost-nature-07.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-almost-nature-08.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-almost-nature-09.jpg" />
        </li>
        <!--<li>
          <img src="img/oberndorfer-almost-nature-11.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-almost-nature-10.jpg" />
        </li>-->
      </ul>
    </div>
  </section>
  <section class="project-info">
    <section class="project-facts">
      <h1>ALMOST NATURE</h1>
      <p>
	    SilvrettAtelier, Artist Symposium, Illwerke AG, Bielerhöhe, Curated by Roland Haas, September 2014
      Intervention, Photography, Timelapse Documentation
	    All rights reserved, &copy; Markus Oberndorfer 2015
      </p>
    </section>

    <section class="project-description">
      <h1>ABOUT THE PROJECT:</h1>
      <p>
       Esthetic Infatuation: By temorarily appropriating a billboard for the Jäger construction company (an advertisment in the middle of the scenery that points out the current and earlier power plant constructions) my series Almost Nature deals with the concept of nature. The claim “Almost Nature”, embedded like an image caption in the photograph and in the landscape itself, represents an attempt to consciously examine the landscape and our speaking of nature.
	    </p>
      <p>
      </p>
    </section>

  </section>
</div>


