---
title: "Almost Nature"
section: "photography"
---

<% content_for :subnav do %>
  <%= partial "partials/photography/navigation" %>
<% end %>

<% content_for :project_subnav do %>
  <%= partial "partials/almost-nature/navigation" %>
<% end %>


<div class="project">
  <section class="project-stage">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="img/coming-almost-nature-01.jpg" />
        </li>
      </ul>
    </div>
  </section>
  <section class="project-info">
    <section class="project-facts">
      <h1>ALMOST NATURE</h1>
      <p>
	  SilvrettAtelier der Illwerke<br />
    Intervention, Photography, Timelapse
	  All rights reserved, &copy; Markus Oberndorfer 2015
      </p>
      <p>...</a>
      </p>
    </section>
    <section class="project-description">
      <h1>ABOUT THE PROJECT:</h1>
      <p>
      Coming after the exhibition
	  </p>
      <p>
       Coming after the exhibition
      </p>

    </section>

  </section>
</div>


