---
title: "Almost Nature"
section: "photography"
---

<% content_for :subnav do %>
  <%= partial "partials/photography/navigation" %>
<% end %>

<% content_for :project_subnav do %>
  <%= partial "partials/almost-nature/navigation" %>
<% end %>


<div class="project">
  <section class="project-stage">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="img/oberndorfer-almost-nature-01.jpg" />
        </li>
      </ul>
    </div>
  </section>
  <section class="project-info">
    <section class="project-facts">
      <h1>ALMOST NATURE</h1>
      <p>
	    SilvrettAtelier, Artist Symposium, Illwerke AG, Bielerhöhe, Curated by Roland Haas, September 2014
      Intervention, Photography, Timelapse Documentation
	    All rights reserved, &copy; Markus Oberndorfer 2015
      </p>
    </section>

    <section class="project-description">
      <h1>ABOUT THE PROJECT:</h1>
      <p>
       Ästhetische Verblendung: Ausgehend von der temporären Aneignung einer „Jäger“ Werbetafel, die mitten in der Landschaft auf den aktuellen und früheren Kraftwerksbau verweist, beschäftigt sich meine Serie „Almost Nature“ mit dem Naturbegriff. Die wie eine Bildunterschrift in die Landschaft und den fotografischen Ausschnitt eingepflanzte, als Frage zu verstehende, Behauptung „Beinahe Natur“ ist dabei der Versuch eines Anstosses zur bewussten Auseinandersetzung mit der Umgebung und unserer Rede über Natur.
	    </p>
      <p>
       More images and info after the exhibition. Palais Lichtenstein Bregenz (April 2,2015)
      </p>
    </section>

  </section>
</div>


