---
title: "Almost Nature: TIMELAPSE"
section: "photography"
---

<% content_for :subnav do %>
  <%= partial "partials/photofilm/navigation" %>
<% end %>

<% content_for :project_subnav do %>
  <%= partial "partials/almost-nature/navigation" %>
<% end %>


<div class="project">
  <section class="project-stage">
    <div id="video" class="video">
        <iframe src="http://player.vimeo.com/video/77239627?color=ffffff" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
  </section>
  <section class="project-info">
    <section class="project-facts">
      <h1>ALMOST NATURE / 2015</h1>
      <p>
      sec, Montafon 2014<br />
      Original: 1920 x 1080 px<br />
      © Markus Oberndorfer 2014
      </p>
      <p class="project-credits">
        Travelling Thoughts taken from Photographic Darkroom Sessions<br />
        Written &amp; Produced by Sirlensalot<br />
        © Markus Oberndorfer 2014
      </p>
    </section>
    <section class="project-description">
      <h1>ABOUT THE PROJECT: </h1>
      <p>
      To interconnect both main work around the fortifications of the Atlantic Wall around Cap Ferret ("Foukauld" &amp; "Autrement on devient fou.....", and to close the circle between these two histories of past an present, I dicided to paste the story of the contemporary war witness Henri Lavrillat, that had to build those fortifications in Cap Ferret during the compulsory work service with many others, on the walls he had to construct and that I took photos of since 2004.
	  </p>
      <p>
       I layouted the transcript of the whole interview (35 minutes) on two different A1 billboards (one french, one german to reflect the seperation of France during the war aswell as the potential of language regarding its power to create national identity). The big quotes you can see are taken from the narration (interview) and layouted like parts of puzzles that are put together by pasting the billboards on the walls. The quotes are directly "taken out" of the interview. I selected them not only to ask questions but also make references to the process of perception that goes hand in hand with images we see in media, films, historical books, ... They ask questions about "lived space". The quotes play with our perception: "(If) I see them like that, ..." (What is it that you see?) "He imagines, he cannot live it, he hasn't seen/experienced it" (if we are not on site - wherever this may be - at that time, can we live it?) "On a vu / les films" (We have seen the films; the films that create the pictures in our mind). The project is now "finished" and the circle closed. Proceed to the <a href="http://www.markusoberndorfer.com/shop" target="_blank">book</a>.
      </p>

    </section>

  </section>
</div>