---
title: "Almost Nature: TIMELAPSE"
section: "photography"
---

<% content_for :subnav do %>
  <%= partial "partials/photography/navigation" %>
<% end %>

<% content_for :project_subnav do %>
  <%= partial "partials/almost-nature/navigation" %>
<% end %>


<div class="project">
  <section class="project-stage">
    <div id="video" class="video">
        <iframe src="http://player.vimeo.com/video/117765112?color=ffffff" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
  </section>

<!--<div class="project">
  <section class="project-stage">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="img/Oberndorfer-Untitled_Panorama-Photomerge.jpg" />
        </li>
      </ul>
    </div>
  </section>
</div>-->

  <section class="project-info">
    <section class="project-facts">
      <h1>ALMOST NATURE / 2015</h1>
      <p>
      1min 39sec, Bielerhöhe Montafon 2014<br />
      1080p, © Markus Oberndorfer 2015. Thank you to Elisabeth Wedenig and Gudrun Bieltz for their assistance.  
      </p>
    </section>
    <section class="project-description">
      <h1>ABOUT THE PROJECT: </h1>
      <p>
      Timelapse documentation of the intervention. For more information pls read the essay.
	  </p>

    </section>

  </section>
</div>