---
title: "Sense of Balance"
section: "installation"
---

<% content_for :subnav do %>
  <%= partial "partials/installation/navigation" %>
<% end %>

<div class="project">
  <section class="project-stage">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="img/oberndorfer-sense-of-balance-persp.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-sense-of-balance-print-list.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-sense-of-balance-frontal.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-sense-of-balance-dig.jpg" />
        </li>
      </ul>
    </div>
  </section>
</div>

<div class="project">
  <section class="project-stage">
    <div id="video" class="video">
        <iframe src="http://player.vimeo.com/video/117861143?color=ffffff" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
  </section>


  <section class="project-info">
    <section class="project-facts">
      <h1>SENSE OF BALANCE / 2015</h1>
      <p>
      Mixed Media Installation<br /> 
      1x 51cm x 36cm, 13 teststripes framed<br /> 
      1x List with data of filtering<br />
      1x Analog C-Print, 50cm x 63cm, 3+1Ap<br />
      </p>
      <p class="project-credits">
      As shown at DI∞G Dialogue #10 with Max Schaffer, 
      © Markus Oberndorfer, Vienna 2015
      </p>
    </section>

    <section class="project-description">
      <h1>ABOUT THE PROJECT”:</h1>
      <p>
      The teststripes I made on my way to the first full format C-print have been mounted into a frame in chronological order. The notes with the data of filtered yellow, magenta, cyan, time, aperture,... + the data of four bigger format analog C-prints are written on a list that is also part of the work. One of the full format prints is hanging on clips, the others are in the photopaper-box on the ground. 
      </p>
      <p>
      The image production process is furthermore represented by an edit of fieldrecording coming out of another room. With that, this room suddenly becomes the place in which the production seems to happen. The sound reminds of airplane-soundscapes. Not places, somewhere between A and B. Printing an image in the darkroom one is entering a similar place. A place of physical presence and memory, where one is switching between the perfect execution of a process and imagination. Color printing does not allow any other lightsource the the one of the enlarger controlled by the timer. Means: no matter if its day or night one is executing everything in total darkness until the timer switches on the light to switch it off again. The feeling of time changes too btw. Everything seems to take really long. 
      </p>
    </section>

  </section>
</div>