---
title: "Photography: GRAU|BÜNDEN"
section: "photography"
---

<% content_for :subnav do %>
  <%= partial "partials/photography/navigation" %>
<% end %>

<div class="project">
  <section class="project-stage">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="img/oberndorfer-graubuenden-01.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-graubuenden-02.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-graubuenden-03.jpg" />
        </li>
      </ul>
    </div>
  </section>
  <section class="project-info">
    <section class="project-facts">
      <h1>GRAU|BÜNDEN / 2007</h1>
      <p>
      Graubünden 2007<br />
      C-Prints: 37,5 cm x 29,2 cm to 150 cm x 120 cm <br />
	  Edition: 3+2
      </p>
      <p>
      The photography section is getting shaped and reorganized. I am sorry for the inconveniences.
      </p>
    </section>
    <section class="project-description">
      <h1>ABOUT THE PROJECT: </h1>
      <p>
      Valleys and mountains, whose ends and peaks can just be sensed. A work about visible and invisible space. A bigger picture that can only be seen in front of the specators inner eye based on his/her own experience and imagination.
      </p>
      <p>
      More information will follow.
      </p>

    </section>

  </section>
</div>