<div class="subnav-section">
  <h1>Photography:</h1>
  <ul>
    <li>
      <a href="index.html">Photography Slideshow</a>
    </li>
    <li>
      <a href="expect.html">What I expect from my photography (E/F/D)</a>
    </li>
    <li>
      <a href="downloads.html">Downloads</a>
    </li>
  </ul>    
</div>

<div class="subnav-section">
  <h1>Related Projects:</h1>
  <ul>
    <li>
      <a href="/foukauld/">Foukauld - La Disparition</a>
    </li>
  </ul>    
</div>