<%= yield_content :project_subnav  %>

<div class="subnav-section">
  <h1>Photography:</h1>
  <ul>
    <li>
      <a href="/projects/parisian-spring/index.html">Parisian Spring</a>
    </li>
    <li>
      <a href="/foukauld/index.html">Foukauld - La Disparition</a>
    </li>
    <li>
      <a href="/projects/kalhex/index.html">At Home with Kalhex</a>
    </li>
    <li>
      <a href="/projects/21er-haus/index.html">21er Haus - 21.9.2011</a>
    </li>
    <li>
      <a href="/projects/vor-ort/index.html">Vor Ort Kölnbreinsperre</a>
    </li>
    <li>
      <a href="/projects/rosaleda/index.html">La Rosaleda</a>
    </li>
    <li>
      <a href="/projects/lilian-bailey/index.html">Lilian Bailey School</a>
    </li>
    <li>
      <a href="/projects/graubuenden/index.html">Grau|bünden</a>
    </li>
    <li>
      <a href="/projects/kraftwerk-kaprun/index.html">Kraftwerk Kaprun</a>
    </li>
    <li>
      <a href="/projects/traces-IV/index.html">Traces IV</a>
    </li>

<!-- <li>
      <a href="/projects/traces-III/index.html">Traces III</a>
    </li> -->
    <li>
      <a href="/projects/bakary-j/index.html">Bakary J</a>
    </li>
    <li>
      <a href="/projects/swim/index.html">Swim At Own Risk</a>
    </li>
  </ul>
</div>

<div class="subnav-section">
  <h1>What I expect:</h1>
  <ul>
    <li>
      <a href="expect.html">Essay M. Oberndorfer (E/F/D)</a>
    </li>
  </ul>
</div>