<div class="subnav-section">
  <h1>Photography:</h1>
  <ul>
    <li>
      <a href="index.html">Selection Slide</a>
    </li>
    <li>
      <a href="expect.html">Essay M. Oberndorfer (E/F/D)</a>
    </li>
  </ul>    
</div>

<div class="subnav-section">
  <h1>Related Projects:</h1>
  <ul>
    <li>
      <a href="/foukauld/">Foukauld - La Disparition</a>
    </li>
  </ul>    
</div>