---

title: "Photography: VOR ORT"

---

<% content_for :subnav do %>
  <%= partial "partials/photography/navigation" %>
<% end %>

<% content_for :project_subnav do %>
  <%= partial "partials/vor-ort/navigation" %>
<% end %>

<div class="project">
  <section class="project-stage">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="img/oberndorfer-vor-ort-27-7-01.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-vor-ort-27-7-02.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-vor-ort-27-7-03.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-vor-ort-27-7-04.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-vor-ort-27-7-05.jpg" />
        </li>
      </ul>
    </div>
  </section>
  <section class="project-info">
    <section class="project-facts">
      <h1>VOR ORT / 27-7-2011</h1>
      <p>
      Maltatal 2011<br />
      C-Prints: 37 cm x 46 cm to 150 cm x 120 cm <br />
	  Edition: 3+2
      </p>
      <p>
      The photography section is getting shaped and reorganized. I am sorry for the inconveniences.
      </p>
    </section>
    <section class="project-description">
      <h1>ABOUT THE PROJECT:</h1>
      <p>
      Works I realized at Kölnbreinsperre between 24-7-2011 and 28-7-211
      </p>
      <p>
      More information and texts coming soon. (<a class="project-text-more" href="/photography/expect.html" target="_blank">Read</a>)
      </p>

    </section>

  </section>
</div>