---
title: "Illumation: MOSTA"
section: "photofilm"
---

<% content_for :subnav do %>
  <%= partial "partials/photofilm/navigation" %>
<% end %>

<div class="project">
  <section class="project-stage">
    <div id="video" class="video">
        <iframe src="http://player.vimeo.com/video/46144089?color=ffffff" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
  </section>
  <section class="project-info">
    <section class="project-facts">
      <h1>ILLUMATION / MOSTA / 2008</h1>
      <p>
      0min 32sec, Vienna, 2008<br />
      Starring: Lady Mosta<br />
	  Original: 2560 x 1920 px<br />
      © Markus Oberndorfer 2008
      </p>
      <p class="project-credits">
        No Sound Yet<br />
        © XY 2013
      </p>
    </section>
    <section class="project-description">
      <h1>ABOUT THE PROJECT”:</h1>
      <p>
      One out of a series of illustration animations I realized from live freestyle drawing performances between Conmostaza and Kryot [...]
      </p>
      <p>
      [...] Each photo for my photofilms has been taken by consciously pressing the trigger (no scripts or automations). All motion blurs for transitions are the result of moving the photographic process. No effects or graphic elements are used."
      </p>
    </section>

  </section>
</div>