<nav role="navigation" class="mainnav">
  <ul>    
    <li><a href="/">Home</a></li>
    <li>
      <a href="/">Photography</a>
    </li>
    <li>
      <a href="/">Photofilm</a>
    </li>
    <li>
      <a href="/cv/">Cv</a>
    </li>          
    <li>
      <a href="/">Friends</a>
    </li>           
    <li>
      <a href="/foukauld/">Foukauld - La Disparition</a>
    </li>           
  </ul>
</nav>