<nav role="navigation" class="mainnav">
  <ul>
    <li><a href="/photography/">Photography</a>
    </li>
    <li>
      <a href="/photofilm/">Photofilm</a>
    </li>
    <li>
      <a href="/cv/">Cv</a>
    </li>
    <li>
      <a href="/friends/">Friends</a>
    </li>
    <li>
      <a href="/foukauld/">Foukauld - La Disparition</a>
    </li>
  </ul>
</nav>