<div class="subnav-section">
  <h1>VOR ORT Kölnbreinsperre</h1>
  <ul>
    <!-- <li>
      <a href="index.html">Fish in a box</a>
    </li> -->
    <li>
      <%= nav_link_to "Kölnbrein 24-7-2011", "/projects/vor-ort/24-7-2011.html" %>
    </li>
    <li>
      <%= nav_link_to "Kölnbrein 26-7-2011", "/projects/vor-ort/26-7-2011.html" %>
    </li>
    <li>
      <%= nav_link_to "Kölnbrein 27-7-2011", "/projects/vor-ort/27-7-2011.html" %>
    </li>
    <!--  <li>
      <%= nav_link_to "Kölnbrein 28-7-2011", "/projects/vor-ort/28-7-2011.html" %>
    </li> -->
  </ul>
</div>

<div class="subnav-section subnav-related-projects">
  <h1>Related Projects:</h1>
  <ul>
    <li>
      <a href="/projects/lenscapes-02">Lenscapes #02</a>
    </li>
  </ul>
</div>