<div class="subnav-section">
  <h1>VOR ORT</h1>
  <ul>
    <li>
      <a href="index.html">Fish in a box</a>
    </li>
    <li>
      <a href="24-7-2011.html">24-7-2011</a>
    </li>
    <li>
      <a href="26-7-2011.html">26-7-2011</a>
    </li>
    <li>
      <a href="27-7-2011.html">27-7-2011</a>
    </li>
    <li>
      <a href="28-7-2011.html">28-7-2011</a>
    </li>
  </ul>
</div>

<div class="subnav-section">
  <h1>Related Projects:</h1>
  <ul>
    <li>
      <a href="/projects/lenscapes-02">Lenscapes #02</a>
    </li>
  </ul>
</div>