---
title: "Photography: ROSALEDA"
section: "photography"
---

<% content_for :subnav do %>
  <%= partial "partials/photography/navigation" %>
<% end %>

<div class="project">
  <section class="project-stage">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="img/oberndorfer-rosaleda-01.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-rosaleda-02.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-rosaleda-03.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-rosaleda-04.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-rosaleda-05.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-rosaleda-06.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-rosaleda-07.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-rosaleda-08.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-rosaleda-09.jpg" />
        </li>
      </ul>
    </div>
  </section>
  <section class="project-info">
    <section class="project-facts">
      <h1>LA ROSALEDA / 2010</h1>
      <p>
      Los Salias, Venezuela 2010<br />
      C-Prints: 37,5 cm x 29,2 cm to 150 cm x 120 cm <br />
	  Edition: 3+2
      </p>
      <p>
      The photography section is getting shaped and reorganized. I am sorry for the inconveniences.
      </p>
    </section>
    <section class="project-description">
      <h1>ABOUT THE PROJECT: </h1>
      <p>
      La Rosaleda is situated on a hill about 18km outside of Caracas. It consists of 32 buildings, each one of which has 16 floors with 4 flats. Between the buildings you find meager open space for social activities and parkdecks. Every block carries the indian name of a big venezuelan river. The namegiving rosegarden still waits to be completed more than 30 years after the begin of construction.
      </p>
      <p>
      The first part of the urbanisation project was built for social workers and supported by the government. The construction of further buildings after that was funded by the department of defense that's why appartments would only be sold or rented to members of the military and their families. The quota of militaries in Rosaleda rose up to over 40 percent of all inhabitants. A "normal" and average venezuelan neigborhood .  <br />
	  Over the last 10 years the quality of living impaired due to the growth of Caracas' suburbs, the absence of appartments around the metropolis, their proportionally high price and the availablity of flats on the open market. Notifications of assaults, violence and even murders in the surroundings and in Rosaleda increased. I lived in building "Uracoa" for 3 weeks and resolved to continue this work in future to document changes.
      </p>

    </section>

  </section>
</div>