<div class="subnav-section">
  <h1>Almost Nature:</h1>
  <ul>
    <li>
      <%= nav_link_to "Selection Slide", "/projects/almost-nature/index.html" %>
    </li>
    <!--<li>
      <%= nav_link_to "Postcard Book", "/projects/almost-nature/postcard- book.html" %>
    </li>-->
    <li>
      <%= nav_link_to "Essay Oberndorfer", "/projects/almost-nature/essay-oberndorfer.html" %>
    </li>
    <li>
      <%= nav_link_to "Timelapse", "/projects/almost-nature/timelapse.html" %>
    </li>
  </ul>
</div>