<div class="subnav-section">
  <h1>Almost Nature:</h1>
  <ul><li>
      <%= nav_link_to "Slideshow (Coming 2015)", "/projects/almost-nature/index.html" %>
    </li>
    <!--<li>
      <%= nav_link_to "Essay", "/projects/almost-nature/essay-oberndorfer.html" %>
    </li>-->
    <li>
      <%= nav_link_to "Timelapse", "/projects/almost-nature/timelapse.html" %>
    </li>
  </ul>
</div>