.project-stage
  margin-bottom: 2em


.project-facts
  font-size: 11px
  +at-breakpoint()
    +span-columns(3, 9)

.project-description
  +at-breakpoint()
    +span-columns(6 omega, 9)

.project-text
  > article
    margin-bottom: 1em