<div class="subnav-section">
  <h1>21er HAUS</h1>
  <ul>
    <li>
      <%= nav_link_to "Opening Publication", "/projects/21er-haus/index.html" %>
    </li>
    <li>
      <%= nav_link_to "Opening Billboard", "/projects/21er-haus/billboard.html" %>
    </li>
  </ul>
</div>
