<div class="subnav-section">
  <h1>21er HAUS</h1>
  <ul>
    <li>
      <a href="index.html">Opening Publication</a>
    </li>
    <li>
      <a href="billboard.html">Opening Billboard</a>
    </li>
  </ul>    
</div>
