---
title: "Photography: TRACES IV"
target: "photography-traces-iv"
---

<% content_for :subnav do %>
  <%= partial "partials/photography/navigation" %>
<% end %>

<div class="project">
  <section class="project-stage">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="img/oberndorfer-traces_IV-01.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-traces_IV-02.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-traces_IV-03.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-traces_IV-04.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-traces_IV-05.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-traces_IV-06.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-traces_IV-07.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-traces_IV-08.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-traces_IV-09.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-traces_IV-10.jpg" />
        </li>
      </ul>
    </div>
  </section>
  <section class="project-info">
    <section class="project-facts">
      <h1>TRACES IV / 2006</h1>
      <p>
      Vienna 2006<br />
      C-Prints: 37,5 cm x 29,2 cm to 150 cm x 120 cm <br />
	  Edition: 3+2
      </p>
      <p>
      The photography section is getting shaped and reorganized. I am sorry for the inconveniences. 
      </p>
    </section>
    <section class="project-description">
      <h1>ABOUT THE PROJECT: </h1>
      <p>
      Free from commercial necessities and until their ultimate decline abandonned buildings develope their own life. Accompanied by graffiti artists, homeless people, ... and nature that give them a new meaning and function.
      </p>
      <p>
      Please also read "Before Disappearance" about my work by Ruth Horak (<a class="project-text-more" href="http://www.markusoberndorfer.com/foukauld/downloads/Ruth-Horak-Before-Disappearance.pdf" target="_blank">Read</a>)
      </p>

    </section>

  </section>
</div>