---
title: "Photography: Ortsmarkierung Ohne Namen"
section: "photography"
---

<% content_for :subnav do %>
  <%= partial "partials/photography/navigation" %>
<% end %>


<div class="project">
  <section class="project-stage">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="img/oberndorfer-lightboxes.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-47-80-095-N-13-03-836-E-14-6-2013-17h16-W.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-48-12-40-N-16-19-31-E-28-3-2013-21h10-S.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-XX-XX-XXX-X-YY--YY-YYY-Y--t-dir-plan.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-lightbox-70x56cm.jpg" />
        </li>
      </ul>
    </div>
  </section>
  <section class="project-info">
    <section class="project-facts">
      <h1>ORTSMARKIERUNG OHNE NAMEN</h1>
      <p>
      2 Duratrans-Lightboxes, Edition: 5+2<br />
      70cm x 56 cm / 70cm x 46 cm<br>
      XX&deg;XX&acute;X.XX X t dir<br>
      YY&deg;YY&acute;Y.YY Y t dir<br>
      </p>

      <p>
     What is it that we see? Is it where I was in the "now of the image", or is it the situation you find yourself in entering an image in the exhibitions space itself? 
      </p>
    </section>
    <section class="project-description">
      <h1>ABOUT THE PROJECT: </h1>
      <p>
      "Ortsmarkierung ohne Namen" (E: untitled placemark) is a work relating to the term of the "lived space". The title itself also includes the variables X and Y representing the coordinate system, aswell as the variable for time t and dir for direction/perspective in search for an horizon. All these variables ultimately get assigned to the location (not where I was when I took the photo) but to where the lightbox is shown or exhibited/ where the spectator is and enters the image (in his/her time and space). If you now for example have both lightboxes in one exhibition - facing each other; or in an entirely different room - the two different frames of ONE original photo (lightboxes) will each have different location marks, different timestamps and perspectives. All of which could - by the irritation of seeing the "same place" twice (two lightboxes) in one room or show - makes the the spectator think: Why? 
      </p>
      <p>
      In last consequence the photo from the installed lightboxes (representing the time when I saw it) generates the entire title and freezes again my personal "lived space". Ortsmarkierung ohne Namen at MdM Möchnsberg, exhbition documentation: "Ortsmarkierung ohne Namen 47&deg;80&acute;0.95-N-W-13&deg;03&acute;836-E-W 14-6-2013--N-17h16"
      </p>

    </section>

  </section>
</div>