<div class="subnav-section">
  <h1>Omega Point:</h1>
  <ul>
    <li>
      <a href="index.html" class="active">Photofilm Stream</a>
    </li>
    <li>
      <a href="essay.html">Essay By Lydiah Nsiah (e/f/d)</a>
    </li>
    <li>
      <a href="downloads.html">Downloads</a>
    </li>
  </ul>    
</div>

<div class="subnav-section">
  <h1>Related Projects:</h1>
  <ul>
    <li>
      <a href="/foukauld/">Foukauld - La Disparition</a>
    </li>
    <li>
      <a href="essay.html">AUTREMENT ON DEVIENT FOU...</a>
    </li>
  </ul>    
</div>
