<div class="subnav-section">
  <h1>Omega Point:</h1>
  <ul>
    <li>
      <%= nav_link_to "Photofilm Stream", "/omega-point/index.html" %>
    </li>
    <li>
      <%= nav_link_to "Essay By Lydiah Nsiah (e/f/d)", "/omega-point/essay.html" %>
    </li>
    <li>
      <%= nav_link_to "Downloads", "/omega-point/downloads.html" %>
    </li>
  </ul>
</div>

<div class="subnav-section subnav-related-projects">
  <h1>Related Projects:</h1>
  <ul>
    <li>
      <a href="/foukauld/">Foukauld - La Disparition</a>
    </li>
    <li>
      <a href="/autrement-on-devient-fou/">Autrement on devient fou.....</a>
    </li>
    <li>
      <a href="/se-souvenir/">Se Souvenir</a>
    </li>
    <li>
      <a href="/archived-material/">Archived Material</a>
    </li>
  </ul>
</div>