---
title: "Photography: EMPIRE DE LA LUMIERE"
target: "photography-empire-de-la-lumiere"
---

<% content_for :subnav do %>
  <%= partial "partials/photography/navigation" %>
<% end %>

<div class="project">
  <section class="project-stage">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="img/oberndorfer-lumiere-01.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-lumiere-02.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-lumiere-03.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-lumiere-04.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-lumiere-05.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-lumiere-06.jpg" />
        </li>
      </ul>
    </div>
  </section>
  <section class="project-info">
    <section class="project-facts">
      <h1>EMPIRE DE LA LUMIERE / 2005</h1>
      <p>
      Basle 2005<br />
      C-Prints: 60 cm x 70 cm to 150 cm x 120 cm <br />
	  Edition: 3+2
      </p>
      <p>
      The photography section is getting shaped and reorganized. I am sorry for the inconveniences. 
      </p>
    </section>
    <section class="project-description">
      <h1>ABOUT THE PROJECT: </h1>
      <p>
      Inspired by the correspondent of Rene Magritte, that has been shown at "Fondation Beyeler" in Basle at that time I wante to show two opposites: The visible and invisible space and it's atmosphere
      </p>
      <p>
      Space that is arising from the light of a street lamp in contrast to the diffuse and unseizable space that is disappearing in the darkness of the night.
      </p>

    </section>

  </section>
</div>