---
title: "Friends"
section: "friends"
layout: "layout_simple"
---


<section class="friends" id="friends">
  <div class="friends-content">
    <section class="page-section">
      <h1>THANK YOU:</h1>
      <p>
        I would like to take the opportunity and thank everyone that - in which way ever - contribute(d) something to my work and/or support(s)ed me in doing what I do. Friends, collectors, writers, the bm:ukk, forum culturel paris, ... Thank you!! I really do very much appreciate the support.

      </p>
    </section>

    <section class="page-section">
	<h1>Me, MYSELF &amp; I:</h1>
      <ul>
        <li><a href="http://www.rotaug.com" target="_blank">Rotaug, Media Collective</a></li>
        <li><a href="http://sirlensalot.bigcartel.com/" target="_blank">Bigcartel Shop</a></li>
        <li><a href="http://www.vimeo.com/sirlensalot" target="_blank">My Vimeo Channel, Film</a></li>
        <li><a href="http://www.soundcloud.com/lens_j" target="_blank">My Soundcloud, Music</a></li>
        <li><a href="http://www.mixcloud.com/sirlensalot" target="_blank">My Mixcloud, Music</a></li>
        <li><a href="http://www.sir-lens-a-lot.blogspot.com" target="_blank">My Blogger, Thoughts</a></li>
      </ul>
    </section>

    <section class="page-section">
      <h1>TYPO &amp; ILLUSTRATION:</h1>
      <ul>
        <li><a href="http://www.baume.info" target="_blank">Baume, Illu</a></li>
		<li><a href="http://www.conmostaza.com" target="_blank">Conmostaza, Illu</a></li>
        <li><a href="http://www.cmod.at" target="_blank">Cmod / Busk, Typo</a></li>
        <li><a href="http://www.littlestars.at" target="_blank">Manfred Veigl, Graphic</a></li>
        <li><a href="http://www.smeltery.net" target="_blank">Jack Usine, Typo</a></li>
        <li><a href="http://www.re-p.org" target="_blank">Nik Thönen, Typo</a></li>
      </ul>
    </section>

    <section class="page-section">
      <h1>VISUAL MEDIA:</h1>
      <ul>
        <li><a href="http://www.sira-zoe-schmid.com" target="_blank">Sira Zoé Schmid, Photo</a></li>
		<li><a href="http://www.artibella.com" target="_blank">Richard Bausek, Web</a></li>
		<li><a href="http://www.jork.at" target="_blank">Jork Weismann, Photo</a></li>
		<li><a href="http://www.felixfriedmann.com" target="_blank">Felix Friedmann, Photo</a></li>
		<li><a href="http://www.muezzindocumentary.com" target="_blank">Sebastian Brameshumber, Film</a></li>
		<li><a href="http://www.kevinarausch.com" target="_blank">Kevin A. Rausch, Paint</a></li>
      </ul>
    </section>

    <section class="page-section">
      <h1>MUSIC:</h1>
      <ul>
        <li><a href="http://www.rotaug.com/kompact" target="_blank">M. Kassmannhuber, Music</a></li>
		<li><a href="http://www.ddayone.com" target="_blank">DDay One L.A., Music</a></li>
		<li><a href="http://www.myspace.com/ridershafique" target="_blank">Rider Shafique, Music</a></li>
		<li><a href="http://www.akromegalierecords.com" target="_blank">Kalhex Paris, Music</a></li>
      </ul>
    </section>

    <section class="page-section">
      <p>All Rights Reserved. Unauthorised copying of any content of this website is prohibited unless stated otherwise. Files that are for download are explicitly marked as such. Please ask if you would like to work together or use something; I dont bite. As always: I am not responsible for any content shown on linked websites.
      </p>
      <p>© Markus Oberndorfer 2003-2012</p>
    </section>

  </div>

  <div class="friends-image">
    <a href="/img"><img src="img/friends-image.jpg" alt="Friends" /></a>
  </div>

</section>
