<div class="subnav-section">
  <h1>Violators will be prosecuted</h1>
  <ul>
    <li>
      <%= nav_link_to "Object Model", "/violators-prosecuted/index.html" %>
    </li>
  </ul>
</div>

<div class="subnav-section subnav-related-projects">
  <h1>Related Projects:</h1>
  <ul>
    <li>
      <a href="/autrement-on-devient-fou/">Autrement on devient fou.....</a>
    </li>
    <li>
      <a href="/se-souvenir/">Se Souvenir Intervention</a>
    </li>
    <li>
      <a href="/foukauld/">Foukauld - La Disparition</a>
    </li>
    <li>
      <a href="/omega-point/">Omega Point</a>
    </li>
    <li>
      <a href="/archived-material/">Archived Material</a>
    </li>
    <li>
      <a href="/projects/taylor-nova/">Taylor &amp; Nova</a>
    </li>
    - - - 
  </ul>
</div>