---
title: "Legends Never Die: ESSAY (D)"
section: "legends"
---

<% content_for :subnav do %>
  <%= partial "partials/photography/navigation" %>
<% end %>

<% content_for :project_subnav do %>
  <%= partial "partials/legends/navigation" %>
<% end %>


<div class="project">
  <section class="project-stage project-text">
    <article>
      <h1>D: WOLFGANG POPP - LEGENDS NEVER DIE:</h1>
      <p>
        Schuss:  Biggie Smalls war einer der Protagonisten des Hardcore Rap. Die Gewalt, über die er sang, war nicht aus der Luft gegriffen, sie gehörte zu seinem Alltag. Selbst wegen diverser Gewaltdelikte angeklagt, starb er mit 24 bei einem Schussattentat. "Legends never die", steht auf dem Graffiti neben seinem Porträt, das auf einem Foto basiert, auf dem sich Mr. B.I.G. mit schief sitzender Königskrone als Monarch des Ostküsten Rap inszeniert hat. Dieses Zitat, das Markus Oberndorfer zum Titel seiner Ausstellung gemacht hat, soll von Babe Ruth stammen, der selbst als Baseball-Legende gilt. In voller Länge lautet es: "Heroes get remembered, but legends never die."

      <p>
        Gegenschuss:  Ein junges Mädchen steht im flachen Meerwasser, der rechte Arm ausgestreckt, lässt sie ihr Smartphone auf sich herunterschauen. Sekunden später, so kann man sich vorstellen, wird sie das Selbstporträt auf ihrem Facebook-Account posten. Sollte es besonders gelungen sein, wird es wohl das bisherige Profilbild ersetzen.<br />
        Der Facebook-Account ist für die einen Informationsplattform, für die anderen die "Narzissmuskraftkammer" (© Thomas Edlinger), in der das Ego zur Legende hochgezüchtet werden soll. Wenn das Leben aber mit dem Daumen auf dem iPhone-Auslöser verbracht wird, wird der Mensch zur einhändigen Existenz. Wer immer halb mit seiner Selbstdarstellung beschäftigt ist, dem bleibt nur mehr eine Hälfte, um sein Selbst zu leben. Von Narziss und Narzissmus war bereits die Rede, doch ging es dort noch um das verliebte Betrachten des eigenen Spiegelbilds.<br />
        Die neue Selfie-Manie, die Markus Oberndorfer phänomenologisch hinterfragt, geht da einen wesentlichen Schritt weiter. Während man beim Spiegelbild auf seiner Seite der reflektierenden Fläche bleibt, nimmt man beim Selfie gleichzeitig auch noch die Position des Beobachters ein, der den Blick auf sich selbst (auf sein Selbst) einrichtet und komponiert. Der Mensch wird zu seinem eigenen Paparazzi und ist damit gleichzeitig Begehrender und Objekt der Begierde. Wie manisch wird das perfekte Bild von sich gesucht. Der vorherrschende Blickmodus ist idealisierend und nach innen gerichtet. Was aber die Frage aufwirft, ob der gegenläufige Blickmodus, der kritisch und nach außen gerichtet ist, unter diesen Umständen nicht ins Hintertreffen geraten ist und Gefahr läuft verlernt zu werden. Dass man seine Haltung auf Facebook bis vor kurzem nur mit einem LIKE-, nicht jedoch mit einem DISLIKE- Button kundtun konnte, unterstützt diese Vermutung der verminderten Kritikfähigkeit.
        ￼
      <p>
        Schwenk:  Ein Strandfest. Die jungen Leute wirken statuenhaft, ihre Körpersprache wie auswendig gelernt. Ich habe den Facebook-Account oben eine "Narzissmuskraftkammer" genannt, da kann ich jetzt konkreter werden und von einer Schule der Mimiken und Gesten sprechen. Nicht irgendwelcher Mimiken und Gesten natürlich, sondern solcher, die sich in der Legendenbildung bewährt haben.<br />
        Mit den im virtuellen öffentlichen Raum angeeigneten Selbstbildern ziehen wir in den realen öffentlichen Raum hinaus, modifizieren unsere Selbste dort weiter und kehren mit diesen Einsichten in die digitale Öffentlichkeit zurück und so weiter und so fort. So häufig finden diese Wechsel statt, dass reale Welt und digitales Paralleluniversum immer austausch- und ununterscheidbarer werden. Wer weiß noch, wo er wie wer ist?
         
      <p>
        Abspann:  Das zwischen Bildschirmwelt und Realwelt hin und herhetzende Individuum nimmt erschöpft auf einer Bank Platz und als es nach einem ersten Atemschöpfen dazu kommt, sich umzusehen, merkt es, dass es allein ist, eingeschlossen von Trennwänden, der Blick gelenkt wie von Scheuklappen.<br />
        So durchlässig die Grenze zwischen den Welten geworden ist, so massiver und höher werden die Segregationen innerhalb der Welten gezogen.
      <p>
        Oh brother where are thou?
      </p>
    </article>

    
  </section>
  <section class="project-info">
    <section class="project-facts">
      <h1>About The Author:</h1>
      <p>
      Wolfgang Popp: Journalist &amp; Author <br />
      Ö1 Kultur
      </p>
    </section>
    <section class="project-description">
      <h1>Text downloads: </h1>
      <ul class="downloads">
        <li>
          <a href="downloads/Markus-Oberndorfer-Disappearance.pdf" target="_blank">Wolfgang Popp - Legends Never Die (D) / PDF </a>
        </li>
      </ul>
    </section>

  </section>
</div>
