---
title: "Legends Never Die: EXHIBITION VIEW"
section: "legends"
---


<% content_for :subnav do %>
  <%= partial "partials/photography/navigation" %>
<% end %>

<% content_for :project_subnav do %>
  <%= partial "partials/legends/navigation" %>
<% end %>

<div class="project">
  <section class="project-stage">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="img/Oberndorfer-Strike-A-Pose-Artist.jpg" />
        </li>
        <li>
          <img src="img/Oberndorfer-Strike-A-Pose-Springbreak-02.jpg" />
        </li>
        <li>
          <img src="img/Oberndorfer-No-Stagediving-Ocean-Drive-Bench.jpg" />
        </li>
        <li>
          <img src="img/Oberndorfer-Ocean-Drive-Park-Bench.jpg" />
        </li>
        <li>
          <img src="img/Oberndorfer-Currently-In-Between-Scandals-02-Mirror-In-Iphone.jpg" />
        </li>
        <li>
          <img src="img/Oberndorfer-Photography-Outlives-Itself-02.jpg" />
        </li>
        <li>
          <img src="img/Oberndorfer-A-Discontinued-Love-Affair-Fuji-Reala.jpg" />
        </li>
        <li>
          <img src="img/Oberndorfer-Darkroom-Debuts.jpg" />
        </li>
        <li>
          <img src="img/Oberndorfer-Bildraum-01-Front.jpg" />
        </li>
      </ul>
    </div>
  </section>
  <section class="project-info">
    <section class="project-facts">
      <h1>LEGENDS NEVER DIE / 2015</h1>
      <p>
      Exhibition view from "Legends Never Die". Bildraum 01, Strauchgasse 2, 1010 Vienna. 



      </p>
      <p><a href="http://www.parnass.at/aktuelles/legends-never-die-bildraum-01" target="_blank">Parnass Art magazine: "Legends Never Die" (D)</a>
      </p>
	  
    </section>
    <section class="project-description">
      <h1>ABOUT THE PROJECT:</h1>
      <p>
        The ‚tag‘ in the graffiti of famous portrait of rapper Notorious B.I.G. staging himself as the ‚King of New York‘ has been the inspiration for my work group and correspondent exhibition „Legends Never Die“. Following the footsteps of growing narcissism in our society the work scrutinizes the omnipresent media-hyped self as a catalyst of inflated ego constructs and the demarcation coming along with it.<br />
        By having a thought through selection of works (photographs, objects
        — built aswell as modified and ready made, text, sound, ...) interact with each other in a gallery setting, I tried to distinguish man as his own papa- razzi on the threshold between real world and digital parallel universe.</p>
        The titles of the works shown originate from what surrounds me in daily life, ranging from Popular Music Videos „Strike A Pose“ (Woman taking a Selfie in the water), over Reality TV &amp; TV Series „Currently In Between Scandals“ (Mirror in Iphone on display) to my artistic practice „A discontinued love affair“ (A Fuji rollfilm on display that refers to the discontinuation of this film, that I exclusively used since 2002). This is important because the discontinuation of this (quite popular) film is only one of many signs of the shift that took place. Not only from analog to digital, but also from one apparatus to another, represented by a rollfilm and my old iphone. „Photography Outlives Itself“ — Self portraits have been part of photo- graphy since the beginning of the medium itself of course. Nevertheless the devices we keep handy at all time also predetermine their main use. With smartphones our lives have become easy to document and frame. As „easy“ as it has become to stage ourselves by curating our Facebook- Walls, Instagram, Snap-Chat, ... to create the Legend we are copying by using poses of pop culture in order to become the legend ourselves.<br />
        The self-inflicted segregation coming along with the inflated ego constructs and self-created „safe-spaces“ not only is present in the digital world. Unfortunately it also is very real in public space and becomes more and more visible through ‚Hostile Architecture‘. In „An Ocean Drive Park Bench“ we see two partitions splitting the bench in three parts
        to make the benches impossible to sleep on for homeless people or drunks. Even if this seems to be a very small intervention in public space, it changes lived space for every participant drastically as we can see in the background of the image showing people bringing their own ben- ches or trying to lean on each other but being segregated. „No Stagedi- ving“ ironically stages this upward dynamic and tendency of segregation in society by ironically exaggerating the partition.
      </p>

    </section>

  </section>
</div>