---
title: "Legends Never Die: SLIDE"
section: "legends"
---

<% content_for :subnav do %>
  <%= partial "partials/photography/navigation" %>
<% end %>

<% content_for :project_subnav do %>
  <%= partial "partials/legends/navigation" %>
<% end %>

<div class="project">
  <section class="project-stage">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="img/oberndorfer-disparition-2005-0.jpg" />
        </li>
      </ul>
    </div>
  </section>

  <section class="project-stage">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="img/oberndorfer-disparition-exhib-01.jpg" />
        </li>
      </ul>
    </div>
  </section>

  <section class="project-info">
    <section class="project-facts">
      <h1>LEGENDS NEVER DIE / 2015</h1>
      <p>
      Miami 2015<br />
      C-Prints: 150 cm x 120 cm, 100 x 80 cm, 24 x 16 cm <br />
	    Edition: 5+2
      </p>
      <p>
      Officially 
      </p>
    </section>
    <section class="project-description">
      <h1>ABOUT THE PROJECT: </h1>
      <p>
      My work examines 
      </p>
      <p>
      Those 
      </p>

    </section>

  </section>
</div>