@charset "UTF-8"

@import compass
@import "partials/base"
@import "partials/layout"
@import "partials/modules"




header
  margin-bottom: 4em
  a
    h1
      margin: 0
      font-size: 1.4em
    &:hover h1
      color: $link-hover-color
    h2
      font-size: 1em
      margin: 0
      color: $font-color



