---
title: "Photofilm Reference Project"
---

<% content_for :subnav do %>
  <%= partial "partials/photofilm/navigation" %> 
<% end %>

<div class="project">
  <section class="project-stage">
    <div id="video" class="video">
        <iframe src="http://player.vimeo.com/video/56655873?color=ffffff" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>    
  </section>
  <section class="project-info">
    <section class="project-facts">
      <h1>COMMUNICATE / 2005</h1>
      <p>
      Endlessloop, Vienna, 2005<br />
      Starring: Berserka &amp; Lens<br />
	  Original: 1920 x 1080 px<br />
      © Markus Oberndorfer 2005
      </p>
      <p class="project-credits">
        Sound by Markus Oberndorfer<br />
        © Markus Oberndorfer, 2005
      </p>
    </section>
    <section class="project-description">
      <h1>ABOUT THE PROJECT”:</h1>
      <p>     
      "Communicate" beschäftigt sich mit dem Phänomen der nonverbalen Kommunikation. Seien es die Tasten eines Computers, oder die eines Handys in die wir unsere Nachrichten hämmern um sie in die weite Welt zu verschicken. Kommuniziert wird schon lange nicht mehr nur mit unsererm Sprachorgan. Im speziellen möchte ich mich in dieser Arbeit mit den Phänomen chat bzw. instant messaging auseinandersetzen. Basierend auf einem soziologischen Text zur “Chat-Kommunikation im Internet – eine kommunikative Gattung?” von Gurly Schmidt möchte ich auf einige für mich charakteristische Phänomene, wie soundalike slang, Abkürzungen und emoticons aufmerksam machen:[...]
      </p>
      <p>
      [...] Ziel ist es nun, dieses Konzept in Form einer animierten Computertastatur darzustellen. Die einzelnen Tasten als Buchstaben. Die Tastenfolgen als Worte. Die geschriebenen Worte als Sätze. Die Tastatur als Sprachorgan und Kommunikationsbasis. Die Computer und der virtuelle Raum zwischen ihnen als konstruiertes Raumgefüge. Der Text soll nicht als geschriebener Text erscheinen. Es soll prinzipiell um den manuellen Prozess gehen. Allerdings soll - angenommen der Betrachter ist schnell genug die Tastenfolgen zu Wörtern und Sätzen zusammenzusetzen - ein sinnvoller Text unter Berücksichtigung der oben genannten Phänomene, zu verstehen sein; eine übliche Chat Kommunikation.
      </p>
    </section>

  </section>
</div>