---
title: "Photography: DOWN WITH THE KING"
target: "photography-king"
---

<% content_for :subnav do %>
  <%= partial "partials/photography/navigation" %>
<% end %>

<div class="project">
  <section class="project-stage">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="img/oberndorfer-down-with-the-king-01.jpg" />
        </li>
        <!--<li>
          <img src="img/oberndorfer-down-with-the-king-02.jpg" />
        </li>-->
      </ul>
    </div>
  </section>
  <section class="project-info">
    <section class="project-facts">
      <h1>DOWN WITH THE KING / 2015</h1>
      <p>
       Celebrity Self-Bombing, Vienna 2015<br />
       Digital C-Print in Bedside-Table-Frame <br />
       Edition: 3+2
      </p>
    </section>
    <section class="project-description">
      <h1>ABOUT THE PROJECT: </h1>
      <p>
        In "Down With The King" I followed BUSK's invitation to participate in his exhibition "Look At Me Now" and reflected narcissism in graffiti by applying it to my own main medium, photography. <br />
        Graffiti can be considered an artform in which making your alias, style or agenda visible as often and representative as possible (being "All-City") without being spied out (hiding behind a mask becoming a myth). In "Down With The King" I applied this principle to current movements in photography — selfie-mania, sharing how cool we are by showing where we are or who we hang out with — in a subtle manner. <br />
        To do this I adapted the "celebrity bombing principle" to the "look at me now" exhibition concept. On first sight the image might communicate: "Yeah! I'm hanging out with Busk" indicating "I am down with the king", but ultimately it is me wearing his mask celebrity bombing myself pointing out that "I am the king myself" underlined by the bedside table frame. Framings like these are mainly used for family portraits, portraits of ancestors, ... we do like to keep these moments handy and identify with them as part of our memory. Read about Busk's exhibition concept here: 
         <a href="http://www.thegap.at/kunststories/artikel/look-at-him-now/" target="_blank">Look At Me Now</a></p>
    </section>

  </section>
</div>