---
title: "Photography: TAYLOR &amp; NOVA"
target: "photography"
---

<% content_for :subnav do %>
  <%= partial "partials/photography/navigation" %>
<% end %>

<div class="project">
  <section class="project-stage">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="img/oberndorfer-oh-my-god.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-la-pointe-taylor.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-la-pointe-nova.jpg" />
        </li>
      </ul>
    </div>
  </section>
  <section class="project-info">
    <section class="project-facts">
      <h1>TAYLOR &amp; NOVA / 2012</h1>
      <p>
      Cap Ferret 2012<br />
      C-Prints: 120cm x 150cm, 70cm x 80cm <br />
	    Edition: 5+2Ap
      </p>
      <p>
      The remnants of "total war" seem to have disappeared entirely on these photographs but if we take a closer look, we find them in the backlight and on the beach resembling rocks. Putting the objects into their context again, we locate ourselves at La Pointe du Cap Ferret in post-war WW2 times.
      </p>
    </section>
    <section class="project-description">
      <h1>ABOUT THE PROJECT: </h1>
      <p>
      Diptychon in Anlehnung an die letzte Szene des ersten Teils von „Planet der Affen“ von Franklin J. Schaffner (1968). In die „Verbotene Zone“ geflüchtet und auf einem Pferd den Strand entlang reitend entdecken Taylor und Nova in dieser Szene die Überreste der zur Hälfte versunkenen Freiheitsstatue. Diese Überreste lassen Taylor zu dem Schluss kommen, dass sie sich nicht — wie bis zu diesem Zeitpunkt vermutet — die ganze Zeit auf einem anderen Planeten, sondern auf der (post-apokalyptischen) Erde befunden haben. <br />
      Der Abschnitt des Strandes in Malibu (L.A.) an dem die Szene gedreht wurde trägt den Namen „Point Dume“ ... Jener Abschnitt des Strandes auf Cap Ferret an dem ich die beiden Fotos gemacht habe heisst „La Pointe“ (du Cap Ferret). Aus Ortsangabe (La Pointe) und Individuum (den Protagonisten Taylor &amp; Nova) generieren sich so die Bildtitel „La Pointe — Taylor“ und „La Pointe — Nova“. Die versinkenden Bunker fungieren ebenso verortend wie die versinkende Freiheitsstatue im Film.
      </p>
      <p>
      [...] „Räume sind, nach Foucault, von Lagerungsbeziehungen gekennzeichnet. Solche Lagerungen oder Platzierungen, die sich an die realen Orte anbinden, schließen auch die Utopien, die Nicht-Orte, an den Ort zurück. Diese Heterotopien, also die „Orte außerhalb aller Orte, wiewohl sie gleichermaßen geortet werden können“. (Dr. Inge Marszolek in Markus Oberndorfer "Foukauld")
      </p>

    </section>

  </section>
</div>