---
title: "Omega Point: Downloads"
target: "omega-point-downloads"
---

<% content_for :subnav do %>
  <%= partial "partials/photofilm/navigation" %>
<% end %>

<% content_for :project_subnav do %>
  <%= partial "partials/omega-point/navigation" %>
<% end %>

<div class="project">
  <section class="project-stage">
    <img src="img/omega-point.jpg" alt="Omega Point" />
  </section>
  <section class="project-info">
    <section class="project-facts">
      <h1>Film &amp; Wallpaper Downloads:</h1>
      <ul class="downloads">
        <li>
          <a href="https://s3-eu-west-1.amazonaws.com/markusoberndorfer/omegapoint/Omega-Point-iphone.mp4">Omega Point Photofilm / Iphone / MP4</a>
        </li>
        <li>
          <a href="https://s3-eu-west-1.amazonaws.com/markusoberndorfer/omegapoint/Omega-Point-1280x720.mov" target="_blank">Omega Point Photofilm / 1280x720 / MOV</a>
        </li>
        <li>
          <a href="downloads/OP-Wallpaper-02-1920x1200.jpg" target="_blank">Omega Point Wallpaper / 1920x1200 / JPG</a>
        </li>
      </ul>

    </section>
    <section class="project-description">
      <h1>Text downloads: </h1>
      <ul class="downloads">
        <li>
          <a href="downloads/Lydia-Nsiah-The-intermediate-image.pdf" target="_blank">Lydia Nsiah - The Intermediate Image in the photofilm Omega Point / PDF</a>
        </li>
        <li>
          <a href="downloads/Lydia-Nsiah-L-image-intermediaire.pdf" target="_blank">Lydia Nsiah - L’image intermédiaire dans le film-photos Omega Point / PDF</a>
        </li>
        <li>
          <a href="downloads/Lydia-Nsiah-Das-Bild-des-Dazwischen.pdf" target="_blank">Lydia Nsiah - Das Bild des Dazwischen im Fotofilm Omega Point / PDF</a>
        </li>

      </ul>
    </section>

  </section>
</div>