<% content_for :subnav do %>
  <%= partial "partials/omega-point/navigation" %>
<% end %>

<div class="project">
  <section class="project-stage project-text">
    <article>
    <h1>E: LYDIA NSIAH - THE IMAGE OF THE INBETWEEN IN THE PHOTOFILM OMEGA POINT:</h1>
    <p>
    "Nowadays, humans do not live in the real world. [...] They rather live in their own images, the images they have made of the world, themselves and others, and from images that have been constructed for them of the world, themselves and others." (Dietmar Kamper: Bildstörungen. Im Orbit des Imaginären)</p>

    <p>The clouds appear to move intermittently in the sky above Cap Ferret. Several bunkers, which have almost entirely sunken in the sea and sand, are scanned by the photo-camera. Waves break on them. The viewfinder moves in the panorama, and focuses one of the objects: "NOS!"/"WE!" is written on it.<br />
    Markus Oberndorfers digital photofilm Omega Point (2008/2012) consists of around 1300 single photographs, which are turned from "still" into "moving" pictures by the filmic montage. (CONTINUE READING)</p>
  </article>

  <article>
    <h1>F: LYDIA NSIAH - L’IMAGE INTERMEDIAIRE DANS LE FILM-PHOTOS OMEGA POINT:</h1>
    <p>
    "De nos jours, les gens ne vivent pas dans le monde réel. [...] Ils vivent plutôt dans une perception individuelle du monde qu´íls ont d´eux-mêmes et des autres, dans les images qu´on leur présentes du monde, d´eux-mêmes et des autres." (Dietmar Kamper: Bildstörungen. Im Orbit des Imaginären)
    </p>

    <p>Les nuages défilent, saccadés, au-dessus du Cap Ferret. L´objectif de l´appareil photo effleure plusieurs objets pour partie ensevelis sous la mer et le sable. Les vagues y cassent leur élan. Un promeneur apparaît dans l´objectif et observe l´un d´eux sur lequel est inscrit: "NOS!"/"NOUS!".<br /> 
    Le film-photos numérique Omega Point (2008/2012) de Markus Oberndorfer est composé d´environ 1300 photos individuelles qui, lors du montage cinématographique, sont transformées d´images statiques en images animées. (CONTINUER DE LIRE)
    </p>
  </article>

    <div>
      D: LYDIA NSIAH - DAS BILD DES DAZWISCHEN IM FOTOFILM OMEGA POINT:
      „Die Menschen leben heute nicht in der Welt. [...] Sie leben vielmehr in ihren Bildern, in den Bildern, die sie sich von der Welt, von sich selbst und von den anderen gemacht haben, die man ihnen von der Welt, von sich selbst und von den anderen Menschen gemacht hat." (Dietmar Kamper: Bildstörungen. Im Orbit des Imaginären)
  
      Ruckend bewegen sich die Wolken am Himmel über Cap Ferret. Mehrere fast vollständig im Meer und Sand versunkene Objekte werden mit der Fotokamera abgetastet. Wellen brechen sich an ihnen. Der Sucher bewegt sich im Panorama und fokussiert eines der Objekte: „NOS!“/„WIR!” steht darauf geschrieben. 
      Markus Oberndorfers digitaler Fotofilm Omega Point (2008/2012) besteht aus ca. 1300 einzelnen Foto-grafien, die durch die filmische Montage von „unbewegten" zu „bewegten" Bildern werden. (WEITERLESEN)
    </div>
  </section>
  <section class="project-info">
    <section class="project-facts">
      <h1>PHOTOFILM / FILM-PHOTOS / FOTOFILM</h1>
      <p>
      3min 18sec, Cap Ferret / Vienna, 2008<br />
      Revised 2012, Original: 1920 x 1080 px<br />
      © Markus Oberndorfer, 2012
      </p>
      <p class="project-credits">
        Omega Point taken from Heavy Migration<br />
        Written &amp; Produced by DDay One (U. Ukwuoma)<br />
        thecontentlabel.com + ddayone.com<br />
        Publishing: Samplist (Ascap)<br />
        © Content (L)abel, 2008
      </p>
    </section>
    <section class="project-description">
      <p>
      EXCERPT from LYDIA NSIAH’S ESSAY “THE IMAGE OF THE INBETWEEN IN THE PHOTOFILM OMEGA POINT”: The clouds appear to move intermittently in the sky above Cap Ferret. Several bunkers, which have almost entirely sunken in the sea and sand, are scanned by the photo-camera. Waves break on them. The viewfinder moves in the panorama, and focuses one of the objects: "NOS!"/"WE!" is written on it. [...]
      </p>
      <p>
      [...] With the fusion of photography and film in "Hybrid Fotofilm“ the attributions of two differently perceived media are enhanced with a new, invisible and fictive production of images. The blanks between the filmic animated photographs and their saccadic movement are filled with intermediate images.
      "Time hovers [in photofilm] between present and past, between the captured and projected. [It] becomes 'present', although it cannot be artificially [like in film] reconstructed. [...] Time and motion, again, become part of imagination."
      </p>
    </section>

  </section>
</div>