---
title: "Omega Point: PHOTOFILM"
target: "omega-point-photofilm"
---

<% content_for :subnav do %>
  <%= partial "partials/photofilm/navigation" %>
<% end %>

<% content_for :project_subnav do %>
  <%= partial "partials/omega-point/navigation" %>
<% end %>


<div class="project">
  <section class="project-stage">
    <div id="video" class="video">
        <iframe src="http://player.vimeo.com/video/44931013?color=ffffff" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
  </section>
  <section class="project-info">
    <section class="project-facts">
      <h1>OMEGA POINT / 2008 (2012)</h1>
      <p>
      3min 18sec, Cap Ferret / Vienna, 2008<br />
      Revised 2012, Original: 1920 x 1080 px<br />
      © Markus Oberndorfer, 2012
      </p>
      <p class="project-credits">
        Omega Point taken from Heavy Migration<br />
        Written &amp; Produced by DDay One <br />
        <a href="http://www.thecontentlabel.com" target="_blank">thecontentlabel.com</a> + <a href="http://www.ddayone.com" target="_blank">ddayone.com</a><br />
        Publishing: Samplist (Ascap)<br />
        © Content (L)abel, 2008
      </p>
    </section>
    <section class="project-description">
      <h1>EXCERPT from LYDIA NSIAH’S ESSAY “THE IMAGE OF THE INBETWEEN ...”: </h1>
      <p>
      The clouds appear to move intermittently in the sky above Cap Ferret. Several bunkers, which have almost entirely sunken in the sea and sand, are scanned by the photo-camera. Waves break on them. The viewfinder moves in the panorama, and focuses one of the objects: "NOS!"/"WE!" is written on it. [...]
      </p>
      <p>
      [...] With the fusion of photography and film in "Hybrid Fotofilm“ the attributions of two differently perceived media are enhanced with a new, invisible and fictive production of images. The blanks between the filmic animated photographs and their saccadic movement are filled with intermediate images.
      "Time hovers [in photofilm] between present and past, between the captured and projected. [It] becomes 'present', although it cannot be artificially [like in film] reconstructed. [...] Time and motion, again, become part of imagination."
      </p>
    </section>

  </section>
</div>