---
title: "Omega Point: ZINE"
section: "photofilm"
---

<% content_for :subnav do %>
  <%= partial "partials/photofilm/navigation" %>
<% end %>

<% content_for :project_subnav do %>
  <%= partial "partials/omega-point/navigation" %>
<% end %>

<div class="project">
  <section class="project-stage">
    <div id="video" class="video">
        <iframe src="http://player.vimeo.com/video/70955486?color=ffffff" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
  </section>
  
  <section class="project-info">
    <section class="project-facts">
      <h1>OMEGA POINT ZINE / 2012</h1>
      <p>
      Photofilm Blu-Ray "Omega Point" &amp; Zine with accompanying zine that features the essay "The image of the inbetween in the photofilm Omega Point" by Lydia Nsiah in three languages.
      </p>
      <p>
       <a href="/shop" target="_blank">BUY HERE</a> "Foukauld-Ltd Edition"
      </p>
    </section>
    <section class="project-description">
      <h1>ABOUT THE PROJECT: </h1>
      <p>
      "Nowadays, humans do not live in the real world. [...] They rather live in their own images, the images they have made of the world, themselves and others, and from images that have been constructed for them of the world, themselves and others." (Dietmar Kamper: Bildstörungen. Im Orbit des Imaginären)

      The clouds appear to move intermittently in the sky above Cap Ferret. Several bunkers, which have almost entirely sunken in the sea and sand, are scanned by the photo-camera. Waves break on them. The viewfinder moves in the panorama, and focuses one of the objects: "NOS!"/"WE!" is written on it.
      Markus Oberndorfers digital photofilm Omega Point (2008/2012) consists of around 1300 single photographs, which are turned from "still" into "moving" pictures by the filmic montage. [...]
      </p>

    </section>

  </section>
</div>