---
title: "Hermann / The making of Österreich"
section: "installation"
---

<% content_for :subnav do %>
  <%= partial "partials/installation/navigation" %>
<% end %>


<div class="project">
  <section class="project-stage">
    <div id="video" class="video">
        <iframe src="http://player.vimeo.com/video/118144406?color=ffffff" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
  </section>

  <section class="project-info">
    <section class="project-facts">
      <h1>HERMANN / Making of Österreich 2014</h1>
      <p>
      Multichannel Audio installation comissioned by Kunsthalle Wien for <a href="http://www.mqw.at/no_cache/programm//programmdetail/the-making-of-oesterreich-eine-revue-durch-den-ba/?source=menu&cHash=132cd6b0c31e64cfb55c3baf266e6c60" target="_blank">"The making of Österreich - Eine Revue durch den barocken MQ Dachboden"</a>. Binaurale recording, please use headphones to watch the video.
      </p>
      <p class="project-credits">
      Coproduction with Matthias Kassmannhuber. 
      © The artists, Vienna 2014
      </p>
    </section>

    <section class="project-description">
      <h1>ABOUT THE PROJECT”:</h1>
      <p>
      Soon
      </p>
    </section>

  </section>
</div>