---
title: "Any misuse is punished"
section: "installation"
---

<% content_for :subnav do %>
  <%= partial "partials/installation/navigation" %>
<% end %>

<% content_for :project_subnav do %>
  <%= partial "partials/any-misuse-punished/navigation" %>
<% end %>


<div class="project">
  <section class="project-stage">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="img/oberndorfer-object-model-01.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-object-model-02.jpg" />
        </li>
      </ul>
    </div>
  </section>
</div>

<div class="project">
  <section class="project-stage">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="img/oberndorfer-3d-object-model.jpg" />
        </li>
      </ul>
    </div>
  </section>
</div>

  <section class="project-info">
    <section class="project-facts">
      <h1>ANY MISUSE IS PUNISHED / 2015</h1>
      <p>
      Counter monument for public space<br />
      Object for exhibition concept<br /> 
      Body: 5.5m x 1.5m x 1m <br /> 
      Ground: 7.5m x 7.5m x 1.2m<br />
      </p>
      <p class="project-credits">
      Various constructions depending on location, Concrete, Iron, Wood<br /> 
      © Markus Oberndorfer 2015
      </p>
    </section>

    <section class="project-description">
      <h1>ABOUT THE PROJECT”:</h1>
      <p>
      Vor allem unsere Performance im öffentlichen Raum wird durch verschiedenste Tendenzen weltweit immer weiter eingeschränkt. Jängste Beispiele (Hostile Architecture, Homeless Spikes, Eingezäunte Bänke in der französischen Stadt Angoulême, Cubicals als Bänke,... ) zeugen davon. Diese Eingriffe beeinflussen jedoch, wie man glauben könnte, nicht nur unsere Bewegungsfreiheit im Raum, sie verändern vor allem auch den Gefühlsraum unserer gelebten Umwelt. Homeless Spikes, Skatestoppers, Bänke auf denen man nicht mehr miteinander (sondern jeder einzeln für sich nebeneinander) sitzt machen die Umgebung, den öffentlichen Raum und unsere gelebte Umwelt zu einer feindseeligen und unkommunikativen. Führt doch aber so oft erst die ungeplante und unmittelbare Auseinandersetzung mit anderen Teilnehmern der Gesellschaft zu Verständnis und Solidarität.<br /> 
      Der Titel des Objekts reflektiert diese Thematik. „Any missuse is punished“ (ohne konkrete Bedienungsanleitung die definiert, was nun recht oder unrecht ist) weisst darauf hin, dass — sollte man sich falsch oder nicht einer bestimmten Idee konform verhalten — anscheindend Bestrafung droht. Was nun aber richtig oder falsch ist, bleibt offen. Es liegt wie immer im Auge des Betrachters und der Bedeutsamkeit die er oder sie, beeinflusst von angeeignetem Kontext, hineinlegt. Nun kann man diesen Kontext nicht bei jedem voraussetzen. Das Interesse am Kontext ergibt sich im Fragen und Stutzen. Denn um aufmerksam sein zu können müssen wir durch ausserordentlichen Zuspruch, oder durch Betroffensein immer wieder aus dem Dahinleben — unserer sogenannten primitiven Gegenwart — herausgerissen werden.<br /> 
      Dies passiert zu einem Teil durch das skulpturale Objekt selbst, vielmehr aber durch dessen Aneignung, die daraus resultierende Irritation und durch das „einverstanden oder dagegen“ sein. Das Objekt ist "Projektionsfläche" für Bedeutsamkeiten, das zeigt sich auch in den verschiedenen Perspektiven, die sich in meiner Arbeit zu den verschwindenden Bunkern des Atlantikwalls herausbilden.
      Die aus der täglichen Performance mit dem Objekt wachsenden gemeinsamen Situationen sind es, die zur Diskussion (vor Ort, in Medien, ...) führen und einmal mehr herausstreichen, dass es viele verschiende Möglichkeiten des Umgangs gibt und niemand als einzelne/r den einzig wahren Nutzen definieren kann. 
      </p>
    </section>

  </section>
</div>