---
title: "1024_14_Thoenen_Oberndorfer"
section: "installation"
---

<% content_for :subnav do %>
  <%= partial "partials/installation/navigation" %>
<% end %>

<div class="project">
  <section class="project-stage">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="img/oberndorfer-1024_14-03.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-1024_14-01.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-1024_14-00.jpg" />
        </li>
      </ul>
    </div>
  </section>
  <section class="project-info">
    <section class="project-facts">
      <h1>1024_14_Thoenen_Oberndorfer / 2014</h1>
      <p>
      C-Prints: 78,3 cm x 103 cm<br />
	  1024_14_Thoenen_Oberndorfer<br />
	  Positive Offset Printing Plates<br />
	  Aluminium, Edition: 1<br />
      Exhibition: DI&#8734;G, Dialogue 05
      </p>
      <p>
     Original and used printing plates from "Autrement on devient fou..... (OmdU)" production process. KYMC / CMYK as a hint to the reversed basic production process itself. Analogue to digital to analogue. 
      </p>
    </section>
    <section class="project-description">
      <h1>ABOUT THE PROJECT: </h1>
      <p>
      Analogue to digital: After scanning the c-prints (made in the analog photographic darkroom) resp. after converting the analog photographs to digital data for the layouting, the images are composed by red green and blue (RGB). For the offset printing process these RGB date have to be converted to a CMYK (Cyan, Magenta, Yellow and Black) color profile. These four colors (sometimes a fith pantone color) create everything the human eye can see printed. 
      <p>
      Digital to analogue: To translate the digitally layouted data to something that we can touch again (a book, a magazine, ...), the basic process kind of reverses itself and becomes an analog one. Like the one the whole process started with. The single CMYK color channels are exposed like a negative film or photograph in the darkroom. In the end we have transferred the digital color channels on aluminium plates from which the book we hold in our hands is printed.
      </p>
    </section>

  </section>
</div>