---
title: "Photography: SUNSET 400"
target: "photography"
---

<% content_for :subnav do %>
  <%= partial "partials/photography/navigation" %>
<% end %>

<div class="project">
  <section class="project-stage">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="img/oberndorfer-sunset-400m.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-sunset-400m-2.jpg" />
        </li>
      </ul>
    </div>
  </section>
  <section class="project-info">
    <section class="project-facts">
      <h1>SUNSET 400 / 2014</h1>
      <p>
      Kefalonia 2014 <br />
      Analog C-Prints in variable sizes <br />
	    Edition: 5+2Ap
      </p>
      <p>
      All photographs shown are reproduced from handmade analog c-prints.
      </p>
    </section>
    <section class="project-description">
      <h1>ABOUT THE PROJECT: </h1>
      <p>
      An attempt to ironically work with our utopic vision of the ultimate sunset experience (as advertised in holiday catalogues) we are trying to find in paradise. It seems to be just around the corner like the lottery jackpot we long wished for, maybe only some hundred meters away. But rather than it being real, this "ultimate sunset" is a "place of imagination and desire". Means: Depicting a sunset itself is probably less close to the sunset we are looking for, than having an arrow pointing its way and leaving it to imagination. 
      </p>

    </section>

  </section>
</div>