---
title: "Re-enacting Every Building On The Sunset Strip in 360° Video"
section: "photography"
---

<% content_for :subnav do %>
  <%= partial "partials/photography/navigation" %>
<% end %>

<% content_for :project_subnav do %>
  <%= partial "partials/revisited/navigation" %>
<% end %>


<div class="project">
  <section class="project-stage project-text">
    <article>
      <h1>E: MARKUS OBERNDORFER: (excerpt)</h1>
      <p>
      Based on Ed Ruscha‘s famous artist book Every Building On The Sunset Strip (1966), I fifty years later approached the Sunset Strip from yet another medial perspective. By quoting Ruscha and re-enacting Every Building On The Sunset Strip to be able to record multipe 360° videos of it for a “Virtual Reality“ exhibition setting, we get the possibility to oppose two timeline based media works with each other that deal with the same surroundings but a different visual medium. Making it not only possible to compare the “Then &amp; Now“ aspects related to built environment and lived space, but also to compare two (Zeitgeist defined) visual media and apparatuses capturing it.  
    </p>
      <p>
      Both, photography and 360° video aim to document our surroundings at a given moment, for a spectator to later plunge into what has been documented. Both aim to make a „re-enter“ for the spectator possible. In photography by choosing the most accurate frame and constellation to define what is visible for the spectator to interprete. In 360° video by literally documenting everything that is visible for the camera and making the spectator his/her own director of photography that chooses what is visible when by looking in one direction or the other.
      The essence of my continuation of Ed Ruscha‘s approach on the Sunset Strip, in my opinion, lies in the necessity of an artisticly-reflected step from one media into the other, that leads to scrutinizing both based on the visual landscapes they create. A step that can beautifully be shown and contextualized by applying the concept of Every Building On The Sunset Strip to 360° video. Realizing the project 50 years after the first edition of the accordion book has been published, has been a conscious decision adding another layer in terms of how visual technology progressed and changed in that time span. (...) 
    </p>
      <p>
      Excerpt. More to come when the time is right.
      </p>
    </article>
  </section>
  <section class="project-info">
    <section class="project-facts">
      <h1>ABOUT THE AUTHOR:</h1>
      <p>
        Markus Oberndorfer: Artist. Primary focus on photography and audiovisual media. *1980, Ohlsdorf <br />
    
      </p>
    </section>
    <section class="project-description">
      <h1>Text downloads: </h1>
      <ul class="downloads">
        <li>
          No downloads.  
        </li>

      </ul>
    </section>

  </section>
</div>