---
title: "Revisited 360° Video (Trailer #2: Afterglow): "
section: "photography"
---

<% content_for :subnav do %>
  <%= partial "partials/photography/navigation" %>
<% end %>

<% content_for :project_subnav do %>
  <%= partial "partials/revisited/navigation" %>
<% end %>


<div class="project">
  <section class="project-stage">
    <div id="video" class="video">
        <iframe width="500" height="281" src="https://www.youtube.com/embed/3xWjEzv2q6s" frameborder="0" allowfullscreen></iframe>
    </div>
  </section>


<div class="project">
  <section class="project-stage">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="img/oberndorfer-stereoscope.jpg" />
        </li>
      </ul>
    </div>
  </section>
</div>


  <section class="project-info">
    <section class="project-facts">
      <h1>REVISITED - AFTERGLOW (light)</h1>
      <p>
      2x2 360° videos, Los Angeles 2016, © Markus Oberndorfer 2016
    </p>
      <p>
      Afterglow Original: 2x 360° videos: 
      Ride #1 (N Crescent Heights Blvd - N Doheny Dr),  
      Ride #2 (Cory Ave - N Crescent Heights Blvd), © Markus Oberndorfer 2016, Edition: 5+2Ap
    </p>
      <p>
      Use Oculus Rift, Vive, VR-Cardbox or any other VR-Headset for 360° experience. Use Firefox (if on desktop) or Youtube App (if cellphone VR-headset) for streaming 360° content. Set quatlity to 4k (only possible being in Wifi). 
    </p>
    </section>
    <section class="project-description">
      <h1>ABOUT THE PROJECT:</h1>
      <p>
      A 360° Video re-enactment of Ed Ruscha’s accordion-fold Leporello book „Every Building on Sunset Strip“ for a multiple 360° video / Virtual Reality exhibition installation.
    </p>

      <p> 
      <a href="/revisited/img/REVISITED-by-Markus-Oberndorfer.pdf" target="_blank">DOWNLOAD (PDF with detailed info)</a>
    </p>

      <p>
      A project by: Markus Oberndorfer. Producer: Markus Oberndorfer, Vivian Winther. Camera Operator &amp; Editor: Michael Mandl (<a href="http://www.vrisch.at" target="_blank">VRisch</a>). Making Of: Tyler Winther. With the friendly support of: Vivian &amp; Tyler Winther, Michael Mandl, Sira-Zoé Schmid, Thomas &amp; Martina Egger, Bundeskanzleramt Österreich, <a href="http://www.vrisch.at" target="_blank">VRisch</a>. 
      </p>
    </section>
  </section>
</div>
