---
title: "Revisited 360° Video"
section: "photography"
---

<% content_for :subnav do %>
  <%= partial "partials/photography/navigation" %>
<% end %>

<% content_for :project_subnav do %>
  <%= partial "partials/revisited/navigation" %>
<% end %>


<div class="project">
  <section class="project-stage">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="img/oberndorfer-trailer-day-holder.jpg" />
        </li>
      </ul>
    </div>
  </section>


  <section class="project-info">
    <section class="project-facts">
      <h1>REVISITED (Trailer #1: Early Morning)</h1>
      <p>
      360° Video, Los Angeles 2016, © Markus Oberndorfer 2016
      <p>
      Viewing Instructions: Use Oculus, VR-Cardbox or any other VR-Headset for 360° experience. Use Firefox (desktop) or Youtube App (cellphone) for streaming. Set quatlity to 4k if possible. 
      </p>
      </p>
      <p>
      Original: 2x 360° Video, 8:15 min (N Crescent Heights Blvd - N Doheny Dr),  
      8:40 min (Cory Ave - N Crescent Heights Blvd), 6k video. All Rights Reserved. © Markus Oberndorfer 2016, Edition: 5+2Ap
      </p>
    </section>
    <section class="project-description">
      <h1>ABOUT THE PROJECT:</h1>
      <p>
      A 360° Video re-enactment of Ed Ruscha’s „Every Building on Sunset Strip“ for a multiple 360° video / Virtual Reality exhibition setting in 2016.
    </p>

      <p>
      By quoting Ruscha and re-enacting Every Building On The Sunset Strip to be able to record multipe 360° videos of it for a “Virtual Reality“ exhibition setting, we get the possibility to oppose two timeline based media works with each other that deal with the same surroundings but a different visual medium. Making it not only possible to compare the “Then &amp; Now“ aspects related to built environment and lived space, but also to compare two (Zeitgeist defined) visual media and apparatuses capturing it. 
    </p>

      <p> 
      In 1966 one crucial part of Ed Ruscha’s concept in documenting the famous strip along Sunset Boulevard in L.A. has been the technical aspect of experimenting with how to actually be able to document it and make the strip access- and to some extent experienceable. Ruscha mounted a motor-driven Nikon on a pick-up truck that shot single frames facing the right side of the sidewalk, going up and down the Sunset Strip. From the photos he took he selected those most suitable for a collage and glued them together to what has become his famous accordion book Every Building On The Sunset Strip. 
    </p>

      <p> 
      2016, 50 years after the accordion book has been published I applied one of the most current 
      visual technologies to the concept of Every Building on The Sunset Strip. Re-enacting Ed Ruscha‘s performance from 1966, I mounted a 360° camera on a pick-up and drove up and down Sunset Strip with the aim of creating multiple video-collages for a 360° virtual experience of the Sunset Strip. 
    </p>

      <p>  
      Staying true to Ed Ruscha‘s timbebased media concept we drive up and down the Sunset Strip on a timeline defined by me being the driver. We are again stuck on a timeline. Mine. The fundamental differenence between the 360° video collage and the photographical collage lies with the spectator himself. He/She has the power to actually define his/her frame. While Ed Rucha‘s work is showing a defined and self-contained detail of the Sunset Strip in 1966, the 360° video shows everything there is and — watching it in a closed VR-goggle — surrounds us with it. If our field of vision was not limited, we would be able to literally see everything. It feels a little bit as if we were able to actually revisit the Sunset Strip at the time of shooting: May 11th, 2016 in the early morning respectively after sunset with a little bit of afterglow light and the neon street signs switched on (2x 360° Video: „Early Morning“, 2x 360° Video: „Afterglow“).
    </p>

      <p>
      Concept: Markus Oberndorfer. Producer: Markus Oberndorfer, Vivian Winther. Camera Operator &amp; Editor: Michael Mandl (<a href="http://www.vrisch.at" target="_blank">VRisch</a>). Making Of: Tyler Winther. With the friendly support of: Vivian &amp; Tyler Winther, Michael Mandl, Sira-Zoé Schmid, Thomas &amp; Martina Egger, Bundeskanzleramt Österreich, <a href="http://www.vrisch.at" target="_blank">VRisch</a>. 
    </section>
  </section>
</div>