---
title: "Revisited Re-Enactment"
section: "photography"
---

<% content_for :subnav do %>
  <%= partial "partials/photography/navigation" %>
<% end %>

<% content_for :project_subnav do %>
  <%= partial "partials/revisited/navigation" %>
<% end %>

<div class="project">
  <section class="project-stage">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="img/oberndorfer-revisited-title.jpg" />
        </li>
      </ul>
    </div>
  </section>

  <section class="project-info">
    <section class="project-facts">
      <h1>Revisited</h1>
      <p>
      "Markus Oberndorfer and his camera operator, Michael Mandl, with Tyler Winther in Oberndorfer's Ford pick-up", Los Angeles 2016, © Markus Oberndorfer, Edition: 5+2Ap
      </p>
      <p> 
      <a href="/revisited/img/REVISITED-by-Markus-Oberndorfer.pdf" target="_blank">DOWNLOAD (PDF with detailed info)</a>
    </p>
    </section>
    <section class="project-description">
      <h1>ABOUT THE PROJECT:</h1>
      <p>
      Portrait of my team, inspired by an image that shows "Ed Ruscha and his camera assistant, Bryan Heath, with Danny Kwan in Ruscha's Datsun pick-up" originating from the "Hollywood Boulevard" project in 1975. This image aswell is the result of another, additional 360° video I shot during the making of "Revisited" which is to be released when the parameters are right.
    </p>
    </section>

  </section>
</div>