---
title: "Foukauld: Downloads"
section: "foukauld"
---


<% content_for :subnav do %>
  <%= partial "partials/photography/navigation" %>
<% end %>

<% content_for :project_subnav do %>
  <%= partial "partials/foukauld/navigation" %>
<% end %>

<div class="project">
  <section class="project-stage">
    <img src="img/foukauld.jpg" alt="Foukauld" />
  </section>
  <section class="project-info">
    <section class="project-facts">
      <h1>PRESS &amp; WALLPAPER DOWNLOADS:</h1>
      <ul class="downloads">
        <li>
          <a href="downloads/Foukauld-La-Disparition-Repros.zip" target="_blank">Foukauld Double-Page Repros / 1000 x 687 / ZIP</a>
        </li>
        <li>
          <a href="downloads/Foukauld-La-Disparition-Bookinfo.rtf" target="_blank">Foukauld Bookinfo (FOTOHOF) / DE-FR-EN / RTF</a>
        </li>
        <li>
          <a href="downloads/Oberndorfer-Foukauld-Cover.tif" target="_blank">Foukauld Book Cover Print / 1000 x 687 / TIF</a>
        </li>
        <li>
          <a href="downloads/LD-Wallpaper-01-1920x1200.jpg" target="_blank">La Disparition Wallpaper 01 / 1920x1200 / JPG</a>
        </li>
        <li>
          <a href="/cv/downloads/Oberndorfer-Photonews-Rezension.jpg" target="_blank">Rezension / Photonews 2013 / PDF</a>
        </li>
      </ul>
      <p>
      More wallpapers coming soon.
      </p>
    </section>
    <section class="project-description">
      <h1>ADDITIONAL TEXTDOWNLOADS: </h1>
      <ul class="downloads">
        <li>
          <a href="downloads/Ruth-Horak-Before-Disappearance.pdf" target="_blank">Ruth Horak - Before Disappearing (EIKON #71) / PDF</a>
        </li>
        <li>
          <a href="downloads/Ruth-Horak-Vor-dem-Verschwinden.pdf" target="_blank">Ruth Horak - Vor dem Verschwinden (EIKON #71) / PDF</a>
        </li>
        <li>
          <a href="downloads/Markus-Oberndorfer-Short-Intruduction.pdf" target="_blank">M. Oberndorfer - Disappearance (Short introduction &amp; What I expect from my photography) / PDF</a>
        </li>
        <li>
          <a href="downloads/Markus-Oberndorfer-Bref-Intruduction.pdf" target="_blank">M. Oberndorfer - La Disparition (Bref introduction &amp; Mon ambition en matière de photographie) / PDF</a>
        </li>
        <li>
          <a href="downloads/Markus-Oberndorfer-Kurze-Einfuehrung.pdf" target="_blank">M. Oberndorfer - Das Verschwinden (Kurzbeschreibung &amp; Mein Anspruch an meine Fotografie) / PDF</a>
        </li>
      </ul>
      <p>
        For more please click on the individual authors essays or - even better - get yourself a copy of the book.
        Your support is very much appreciated! Essay-downloads will be activated later this year..
      </p>
    </section>

  </section>
</div>