---
title: "Foukauld: ESSAY MARKUS OBERNDORFER (E/F/D)"
---

<% content_for :subnav do %>
  <%= partial "partials/foukauld/navigation" %> 
<% end %>

<div class="project">
  <section class="project-stage project-text">
    <article>
      <h1>E: MARKUS OBERNDORFER - DISAPPEARANCE - THE ATLANTIC WALL AROUND CAP FERRET:</h1>
      <p>
      [...] The Allies' landing in the Normandy had some influence on the meaning and handling of the bunkers along specific parts of the Atlantic Wall. In Normandy where the Allies landed it was partly declared a historic monument; several bunkers have been converted into museums, others have become monuments or memorials for the fallen soldiers, prisoners of war, deported Jews, and civilians.
      </p>

      <p>
      In Cap Ferret and on other parts of the Atlantic Wall that have not directly been involved in the hostilities around the “D-Day", the Atlantic Wall, in contrast, is disposed of its elemental history. It decays or is re-designated. One is not trying to restrain it as something it was 60 years ago, one tries to "live with it“ and "let it live“. [...] 
      ( <a class="project-text-more" href="downloads/Markus-Oberndorfer-Disappearance.pdf" target="_blank">Read</a>)
      </p>
    </article>

    <article>
      <h1>F: MARKUS OBERNDORFER - LA DISPARITION - LE MUR DE L’ATLANTIQUE AUTOUR DU CAP FERRET:</h1>
      <p>
      [...] Le débarquement des Alliés en Normandie a directement influencé l´utilisation ultérieure des Bunkers et leur signification dans les différentes zones d´implantation du mur de l´Atlantique. En Normandie, les Bunkers sont en partie classés comme monuments historiques; quelques uns sont transformés en musée, d´autres en mémorial pour les soldats tombés au combat, les prisonniers de guerre, les Juifs et les civils déportés.
      </p>

      <p>
      Par contre, au Cap Ferret et dans les autres endroits de la côte Atlantique qui ne furent pas directement concernés par les combats autour du “D–Day", le Mur de l´Atlantique est laissé à l´abandon — il tombe en ruines ou est détourné de son utilisation initiale. Rien n´est fait pour le conserver en tant que monument ou mémorial en souvenir de ce qui s´est passé il y a 60 ans; on essaie plutôt de vivre avec lui et de le "laisser vivre“. [...]  
      ( <a class="project-text-more" href="downloads/Markus-Oberndorfer-La-Disparition.pdf" target="_blank">Lire</a>
       )</p>
  </article>

    <article>
      <h1>D: MARKUS OBERNDORFER - DAS VERSCHWINDEN - DER ATLANTIKWALL UM CAP FERRET:</h1>
      <p>
      [...] Die Landung der Alliierten in der Normandie hatte Einfluss auf den Umgang mit den Bunkern und ihre Bedeutung an einzelnen Abschnitten des Atlantikwalls. In der Normandie wurde er von den Behörden zum Teil unter Denkmalschutz gestellt; einige Bunker wurden zu Museen umgebaut, andere zu Denkmälern für die gefallenen Soldaten, für Kriegsgefangene, deportierte Juden und Zivilisten.
      </p>
      <p>
      In Cap Ferret und an anderen Orten entlang der Atlantikküste, die nicht unmittelbar von Kampfhandlungen um den D-Day betroffen waren, wird der Atlantikwall im Gegensatz dazu seiner „natürlichen” Geschichte überlassen — er verfällt oder wird umgewidmet. Man versucht ihn nicht als das, was er vor 60 Jahren war, festzuhalten, sondern mit ihm zu leben und ihn „leben zu lassen”. [...] 
      ( <a class="project-text-more" href="downloads/Markus-Oberndorfer-Das-Verschwinden.pdf" target="_blank">LESEN</a> )
      </p>
    </article>
  </section>
  <section class="project-info">
    <section class="project-facts">
      <h1>About The Author:</h1>
      <p>
      Markus Oberndorfer: Artist, *1980, Ohlsdorf <br />
	  photographer &amp; shortfilm maker, <br />
	  living and working in Vienna, Austria.<br />
      ( <a href="/">CV still on flash-profile</a> )
      </p>
    </section>
    <section class="project-description">
      <h1>Text downloads: </h1>
      <ul class="downloads">
        <li>
          <a href="downloads/Markus-Oberndorfer-Disappearance.pdf" target="_blank">Markus Oberndorfer - Disappearance - The Altanic Wall around Cap Ferret / PDF </a>
        </li>
        <li>
          <a href="downloads/Markus-Oberndorfer-La-Disparition.pdf" target="_blank">Markus Oberndorfer - La Disparition - Le mur de l’Atlantique autour du Cap Ferret / PDF</a>
        </li>
        <li>
          <a href="downloads/Markus-Oberndorfer-Das-Verschwinden.pdf" target="_blank">Markus Oberndorfer - Das Verschwinden - Der Atlantikwall um Cap Ferret / PDF</a>
        </li>

      </ul>
    </section>

  </section>
</div>
