---
title: "Foukauld: Essay Wolf Langewitz (E/F/D)"
section: "foukauld"
---

<% content_for :subnav do %>
  <%= partial "partials/photography/navigation" %>
<% end %>

<% content_for :project_subnav do %>
  <%= partial "partials/foukauld/navigation" %>
<% end %>


<div class="project">
  <section class="project-stage project-text">
    <article>
      <h1>E: WOLF LANGEWITZ - IMAGES ON SECOND GLANCE - AN ESSAY ON THE VOID IN MARKUS OBERNDORFER’S PHOTOGRAPHS:</h1>
      <p>
      [...] I think the desire to say something concrete when viewing these images also stems from a dread of this emptiness. This emptiness — just as the vague — is taken to be inferior, it is defined as the absence of an effable content. However, following Schmitz, it is worthwhile to engage with this feeling of emptiness in its pure form, i.e. not as ”despair about something”, since even without this directedness it is already tied to distinct modes of experience and images.
      </p>

      <p>
      Sometimes this emptiness takes on a menacing quality, the spectator reports the impression of an abyss, which is lurking somewhere, an abyss from which one cannot protect oneself as one does not know where it will open. Sometimes in this menacing emptiness a certain direction of bodily sensation develops: the emptiness takes on something burdensome, a direction from top to bottom. [...]
      <!-- ( <a class="project-text-more" href="downloads/Wolf-Langewitz-An-Essay-on-the-Void.pdf" target="_blank">Read</a>) -->
      </p>
    </article>

    <article>
      <h1>F: WOLF LANGEWITZ - CAPTURE AU DEUXIÈME REGARD - ESSAI SUR LE VIDE DANS LES PHOTOGRAPHIES DE MARKUS OBERNDORFER:</h1>
      <p>
      [...] Il ne me parait pas impossible que l’envie de dire quelque chose de concret au sujet d'une photographie soit aussi due au fait que le vide nous intimide. Le vide, tout comme le vague, n’aurait pas de valeur en soi; il traduirait simplement l’absence d’un contenu clairement défini. Cela vaut pourtant le peine, en écho à Schmitz, de se plonger dans ce sentiment de vide à l’état pur, c’est-à-dire non comme un désespoir de quelque chose, car ce sentiment dénué d’orientation se retrouve dans maintes expériences et images.
      </p>

      <p>
      Ce vide dégage parfois quelque chose de menaçant, l’observateur ressent la menace d’un abîme, face auquel il est impuissant, car il ne sait d’où surgira le danger. Nous sentons alors au fond de nous-même, dans notre corps vivant, une direction se former: le vide se fait oppressant, une direction du haut vers le bas s’y inscrit. [...]
      <!-- ( <a class="project-text-more" href="downloads/Wolf-Langewitz-Essai-sur-le-vide.pdf" target="_blank">Lire</a>
       ) -->
       </p>
    </article>


    <article>
      <h1>D: WOLF LANGEWITZ - EIN VERSUCH ÜBER DIE LEERE IN DEN FOTOGRAFIEN VON MARKUS OBERNDORFER:</h1>
      <p>
      [...] Ich könnte mir vorstellen, dass der Wunsch, angesichts einer Fotografie etwas Konkretes aussagen zu wollen, auch aus der Scheu vor dieser Leere resultiert. Sie wird — ähnlich wie das Vage — nicht für wertvoll gehalten, sondern vor allem über das Fehlen benennbarer Inhalte definiert. Es lohnt sich aber — in Anlehnung an Schmitz — sich mit diesem Leeregefühl in seiner reinen Form, also nicht bereits als „Verzweiflung über" zuzuwenden, da es bereits ohne dieses Gerichtetsein an unterschiedliche Erlebensweisen und Bilder geknüpft ist.
      </p>
      <p>
      Manchmal bekommt diese Leere eine bedrohliche Note, der Betrachter berichtet vom Eindruck eines irgendwo drohenden Abgrundes, vor dem man sich nicht in Sicherheit bringen kann, weil man nicht weiss, wo er sich auftun wird. In dieser bedrohlichen Leere entwickelt sich manchmal im leiblichen Spüren eine gewisse Richtung: die Leere bekommt etwas Drückendes, eine Richtung von oben nach unten. [...]
      <!-- ( <a class="project-text-more" href="downloads/Wolf-Langewitz-Ein-Versuch-ueber-die-Leere.pdf" target="_blank">WEITERLESEN</a> ) -->
      </p>
    </article>
  </section>
  <section class="project-info">
    <section class="project-facts">
      <h1>About The Author:</h1>
      <p>
      Wolf Langewitz: Univ,-Prof.Dr.med., Internist, Psychotherapist, Co-Editor of Uexküll, Hornbook for Psychosomatic Medicin, num. publications primarily in the field of doctor-patient-communication (psychosomatik-basel.ch). Member of Society for New Phenomenology..
      </p>
    </section>
    <section class="project-description">
      <h1>Text downloads: </h1>
      <!--
      <ul class="downloads">
        <li>
          <a href="downloads/Wolf-Langewitz-An-Essay-on-the-Void.pdf" target="_blank">Wolf Langewitz - Images at Second Glance - An Essay on the Void ... / PDF</a>
        </li>
        <li>
          <a href="downloads/Wolf-Langewitz-Essai-sur-le-vide.pdf" target="_blank">Wolf Langewitz - Capture au deuxième regard - Essai sur le vide ... / PDF</a>
        </li>
        <li>
          <a href="downloads/Wolf-Langewitz-Ein-Versuch-ueber-die-Leere.pdf" target="_blank">Wolf Langewitz - Bilder auf den Zweiten Blick - Ein Versuch über die Leere... / PDF</a>
        </li>
      </ul>
      -->
      <p>Thank You for your support buying a book. Downloads will be activated later this year.</p>
    </section>

  </section>
</div>
