---
title: "Foukauld: ESSAY LYDIA NSIAH (E/F/D)"
section: "foukauld"
---

<% content_for :subnav do %>
  <%= partial "partials/photography/navigation" %>
<% end %>

<% content_for :project_subnav do %>
  <%= partial "partials/foukauld/navigation" %>
<% end %>


<div class="project">
  <section class="project-stage project-text">
    <article>
      <h1>E: LYDIA NSIAH - THE IMAGE OF THE INBETWEEN IN THE PHOTOFILM OMEGA POINT:</h1>
      <p>
      "Nowadays, humans do not live in the real world. [...] They rather live in their own images, the images they have made of the world, themselves and others, and from images that have been constructed for them of the world, themselves and others." (Dietmar Kamper: Bildstörungen. Im Orbit des Imaginären)</p>

      <p>TThe clouds appear to move intermittently in the sky above Cap Ferret. Several bunkers, which have almost entirely sunken in the sea and sand, are scanned by the photo-camera. Waves break on them. The viewfinder moves in the panorama, and focuses one of the objects: "NOS!"/"WE!" is written on it.<br />
      Markus Oberndorfers digital photofilm Omega Point (2008/2012) consists of around 1300 single photographs, which are turned from "still" into "moving" pictures by the filmic montage. [...] ( <a class="project-text-more" href="downloads/Lydia-Nsiah-The-intermediate-image.pdf" target="_blank">Read</a>)</p>
    </article>

    <article>
      <h1>F: LYDIA NSIAH - L’IMAGE INTERMEDIAIRE DANS LE FILM-PHOTOS OMEGA POINT:</h1>
      <p>
      "De nos jours, les gens ne vivent pas dans le monde réel. [...] Ils vivent plutôt dans une perception individuelle du monde qu´íls ont d´eux-mêmes et des autres, dans les images qu´on leur présentes du monde, d´eux-mêmes et des autres." (Dietmar Kamper: Bildstörungen. Im Orbit des Imaginären)
      </p>

      <p>Les nuages défilent, saccadés, au-dessus du Cap Ferret. L´objectif de l´appareil photo effleure plusieurs objets pour partie ensevelis sous la mer et le sable. Les vagues y cassent leur élan. Un promeneur apparaît dans l´objectif et observe l´un d´eux sur lequel est inscrit: "NOS!"/"NOUS!".<br />
      Le film-photos numérique Omega Point (2008/2012) de Markus Oberndorfer est composé d´environ 1300 photos individuelles qui, lors du montage cinématographique, sont transformées d´images statiques en images animées. [...] ( <a class="project-text-more" href="downloads/Lydia-Nsiah-L-image-intermediaire.pdf" target="_blank">Lire</a>
       )</p>
  </article>

    <article>
      <h1>D: LYDIA NSIAH - DAS BILD DES DAZWISCHEN IM FOTOFILM OMEGA POINT:</h1>
      <p>
        „Die Menschen leben heute nicht in der Welt. [...] Sie leben vielmehr in ihren Bildern, in den Bildern, die sie sich von der Welt, von sich selbst und von den anderen gemacht haben, die man ihnen von der Welt, von sich selbst und von den anderen Menschen gemacht hat." (Dietmar Kamper: Bildstörungen. Im Orbit des Imaginären)
      </p>
      <p>
        Ruckend bewegen sich die Wolken am Himmel über Cap Ferret. Mehrere fast vollständig im Meer und Sand versunkene Objekte werden mit der Fotokamera abgetastet. Wellen brechen sich an ihnen. Der Sucher bewegt sich im Panorama und fokussiert eines der Objekte: „NOS!“/„WIR!” steht darauf geschrieben.<br />
        Markus Oberndorfers digitaler Fotofilm Omega Point (2008/2012) besteht aus ca. 1300 einzelnen Foto-grafien, die durch die filmische Montage von „unbewegten" zu „bewegten" Bildern werden.  [...] ( <a class="project-text-more" href="downloads/Lydia-Nsiah-Das-Bild-des-Dazwischen.pdf" target="_blank">WEITERLESEN</a> )
      </p>
    </article>
  </section>
  <section class="project-info">
    <section class="project-facts">
      <h1>ABOUT THE AUTHOR:</h1>
      <p>
        Lydia Nsiah: Academic for media-studies, filmmaker, and photographer from Vienna, Austria. She currently works on the project "Sponsored Films" and the Cuture of Modernisation at the Ludwig Boltzmann
        Institute for History and Society. Exploratory focus: Avantgarde and advertising, theory of perception, comprehensive media philosophy and audiovisual arts.
      </p>
    </section>
    <section class="project-description">
      <h1>Text downloads: </h1>
      <ul class="downloads">
        <li>
          <a href="downloads/Lydia-Nsiah-The-intermediate-image.pdf" target="_blank">Lydia Nsiah - The Intermediate Image in the photofilm Omega Point / PDF</a>
        </li>
        <li>
          <a href="downloads/Lydia-Nsiah-L-image-intermediaire.pdf" target="_blank">Lydia Nsiah - L’image intermédiaire dans le film-phtos Omega Point / PDF</a>
        </li>
        <li>
          <a href="downloads/Lydia-Nsiah-Das-Bild-des-Dazwischen.pdf" target="_blank">Lydia Nsiah - Das Bild des Dazwischen im Fotofilm Omega Point / PDF</a>
        </li>

      </ul>
    </section>

  </section>
</div>