---
title: "Foukauld"
---

<% content_for :subnav do %>
  <%= partial "partials/foukauld/navigation" %> 
<% end %>

<div class="project">
  <section class="project-stage">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="img/01-foukauld-cover.jpg" />
        </li>
        <li>
          <img src="img/02-foukauld-vorsatz.jpg" />
        </li>
        <li>
          <img src="img/03-foukauld-17-18.jpg" />
        </li>
        <li>
          <img src="img/04-foukauld-19-20.jpg" />
        </li>
        <li>
          <img src="img/05-foukauld-23-24.jpg" />
        </li>
        <li>
          <img src="img/06-foukauld-26-27.jpg" />
        </li>
        <li>
          <img src="img/07-foukauld-fold-out.jpg" />
        </li>
        <li>
          <img src="img/08-foukauld-58-59.jpg" />
        </li>
        <li>
          <img src="img/09-foukauld-72-73.jpg" />
        </li>
        <li>
          <img src="img/12-foukauld-102-103.jpg" />
        </li>
        <li>
          <img src="img/21-foukauld-box-open.jpg" />
        </li>
        <li>
          <img src="img/23-foukauld-box-gloves.jpg" />
        </li>
        <li>
          <img src="img/24-foukauld-box-book.jpg" />
        </li>
        <li>
          <img src="img/27-foukauld-box-ltd-print.jpg" />
        </li>
        <li>
          <img src="img/28-foukauld-ltd-box-blu-ray-heft.jpg" />
        </li>
        <li>
          <img src="img/29-foukauld-ltd-box.jpg" />
        </li>
        <li>
          <img src="img/30-foukauld-ltd-box.jpg" />
        </li>        
      </ul>
    </div>  
  </section>
  <section class="project-info">
    <section class="project-facts">
      <h1>PHOTOBOOK / MONOGRAPHY / 2012</h1>
      <p>
      With essays by Inge Marszolek, Wolf Langewitz and Markus Oberndorfer in German, French, Englisch // 22,5 x 28,5 cm, 106 pages, 57 color illustrations // Linen hardcover embossed with Fold-Out // October 2012, Fotohof edition <br />
	  ISBN 978-3-902675-71-2
      </p>
      <p>Price: 39€ / BUY HERE / BUY from <a href="http://www.fotohof.at/content.php?id=29&buchid=824" target="_blank">FOTOHOF</a></p>
    </section>
    <section class="project-description">
      <h1>LIMITED BOX / 2012</h1>
      <p>     
        1 Signed, numbered book “Foukauld” (see left)<br />
        1 Signed, numbered, handprinted “Edition-print”<br />
        1 Numbered, limited Blu-ray “Omega Point” with<br />
        1 Accompanying booklet that includes an Essay about the intermediate image <br />
		in my photofilm "Omega Point" by Lydia Nsiah in German, French, Englisch, ...<br />
		October 2012 // Edition: 50+4
      </p>
      <p>Price: 250€ / BUY HERE (15.10.2012) </p>

    </section>

  </section>
</div>