---
title: "Foukauld"
---


<% content_for :subnav do %>
  <%= partial "partials/photography/navigation" %>
<% end %>

<% content_for :project_subnav do %>
  <%= partial "partials/foukauld/navigation" %>
<% end %>


<div class="project">
  <section class="project-stage">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="img/01-foukauld-cover.jpg" />
        </li>
        <li>
          <img src="img/02-foukauld-vorsatz.jpg" />
        </li>
        <li>
          <img src="img/03-foukauld-17-18.jpg" />
        </li>
        <li>
          <img src="img/04-foukauld-19-20.jpg" />
        </li>
        <li>
          <img src="img/06-foukauld-26-27.jpg" />
        </li>
        <li>
          <img src="img/07-foukauld-fold-out.jpg" />
        </li>
        <li>
          <img src="img/08-foukauld-58-59.jpg" />
        </li>
        <li>
          <img src="img/10-foukauld-74-75.jpg" />
        </li>
        <li>
          <img src="img/11-foukauld-80-81.jpg" />
        </li>
        <li>
          <img src="img/12-foukauld-102-103.jpg" />
        </li>
        <li>
          <img src="img/21-foukauld-box-open.jpg" />
        </li>
        <li>
          <img src="img/27-foukauld-box-ltd-print.jpg" />
        </li>
        <li>
          <img src="img/28-foukauld-ltd-box-blu-ray-heft.jpg" />
        </li>
        <li>
          <img src="img/29-foukauld-ltd-box.jpg" />
        </li>
        <li>
          <img src="img/30-foukauld-ltd-box.jpg" />
        </li>
      </ul>
    </div>
  </section>
  <section class="project-info">
    <section class="project-facts">
      <h1>PHOTOBOOK / MONOGRAPHY / 2012</h1>
      <p>
      With essays by Inge Marszolek, Wolf Langewitz and Markus Oberndorfer in German, French, Englisch // 22,5 x 28,5 cm, 106 pages, 57 color illustrations // Linen hardcover embossed with Fold-Out // October 2012, Fotohof edition <br />
	  ISBN 978-3-902675-71-2
      </p>
      <p>Price: 39€ / <a title="Opens window for sending email" class="mail" href="mailto:sirlensalot@gmail.com">BUY HERE</a> / <a href="http://www.fotohof.at/content.php?id=29&buchid=824" target="_blank">BUY FOTOHOF</a> <br />
	  	Insured Shipping Austria: 4€ <br />
		Other Countries: Please ask</p>
    </section>
    <section class="project-description">
      <h1>LIMITED BOX / 2012</h1>
      <p>
        1 Signed, numbered book “Foukauld” (see left)<br />
        1 Handprinted, signed, numbered, “Edition-print”, Cap Ferret 2012<br />
        1 Limited Blu-ray “Omega Point” photofilm (HD) // Sound: DDay One, Content (L)abel 2008<br />
        1 Limited accompanying booklet with color illustrations and Essay "The intermediate image <br />
		in my photofilm Omega Point" by Lydia Nsiah in German, French, Englisch, ...<br />
		October 2012 // Edition: 50+3
      </p>
      <p>Do-It-Yourself / Price: 250€ / <a title="Opens window for sending email" class="mail" href="mailto:sirlensalot@gmail.com">BUY HERE</a> (8 for sale remaining)<br />
	  	Insured Shipping Austria: 4€ <br />
	  	Other Countries: Please ask</p>

    </section>

  </section>
</div>