---
title: Omega Point Photofilm
foo: bar
---
<% content_for :subnav do %>
  <%= partial "partials/foukauld/navigation" %> 
<% end %>

<div class="project">
  <section class="project-stage">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="img/disparition-2005-1.jpg" />
        </li>
        <li>
          <img src="img/disparition-2005-2.jpg" />
        </li>
        <li>
          <img src="img/disparition-2005-3.jpg" />
        </li>
        <li>
          <img src="img/disparition-2008-1.jpg" />
        </li>
        <li>
          <img src="img/disparition-2008-2.jpg" />
        </li>
        <li>
          <img src="img/disparition-2008-3.jpg" />
        </li>        
      </ul>
    </div>  
  </section>
  <section class="project-info">
    <section class="project-facts">
      <h1>PHOTOBOOK / MONOGRAPHY / 2012</h1>
      <p>
      With essays by Inge Marszolek, Wolf Langewitz and Markus Oberndorfer in German, French, Englisch // 22,5 x 28,5 x 1,5 cm, 106 pages, 57 color illustrations // Linen hardcover embossed with Fold-Out // August 2012, Fotohof edition //<br />
      ISBN 978-3-902675-71-2 Edition: 750,<br />
      Price: 39€ // (BUY)
      </p>
    </section>
    <section class="project-description">
      <h1>FOUKAULD LTD BOX / 2012</h1>
      <p>     
        1 Signed and numbered book “Foukauld” (see left)<br />
        1 Signed, numbered, handprinted and limited “Edition-print”<br />
        1 Limited Blu-ray “Omega Point” with<br />
        1 Accompanying booklet that includes an Essay by Lydia Nsiah in German, French, Englisch ...<br />
        Edition: 50, Price: 250€ (BUY)
      </p>
      
    </section>

  </section>
</div>