---
title: "Foukauld: SLIDES"
---

<% content_for :subnav do %>
  <%= partial "partials/foukauld/navigation" %> 
<% end %>

<div class="project">
  <section class="project-stage">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="img/disparition-2005-1.jpg" />
        </li>
        <li>
          <img src="img/disparition-2005-2.jpg" />
        </li>
        <li>
          <img src="img/disparition-2005-3.jpg" />
        </li>
        <li>
          <img src="img/disparition-2008-1.jpg" />
        </li>
        <li>
          <img src="img/disparition-2008-2.jpg" />
        </li>
        <li>
          <img src="img/disparition-2008-3.jpg" />
        </li>        
      </ul>
    </div>  
  </section>
  <section class="project-info">
    <section class="project-facts">
      <h1>PHOTOGRAPHY / 2005 - 2012</h1>
      <p>
      Cap Ferret 2005, 2006, 2008, 2010, 2012 /
      C-Prints: 37,5 cm x 29,2 cm  to 150 cm x 120 cm, Edition: 3+2 (Rescue Triptych: 5+2). 
      </p>
      <p>
      Officially nominated for the “Jeux de la Francophonie September 2013” in Nice by the Austrian Foreign Ministry (bmeia) in response to this work.
      </p>
    </section>
    <section class="project-description">
      <h1>LA DISPARITION: BRIEF DESCRIPTION OF THE PROJECT: </h1>
      <p>     
      My work examines the disappearance of Nazi Germany‘s concrete fortification on the Atlantic Coast remnants around Cap Ferret. Not only their physical disappearance because of corrosion, water and sand, but also the one that results from man converting those relicts by using them in many different ways.
      </p>
      <p>
      Those different layers/stages of disappearing are, what I‘m trying to capture, photographically and with regards to content. A „snapshot“ of what a place like Cap Ferret is „now“, sixty years after the end of the Second World War.<br />
      Getaway destination and historical location both at the same time. 
      </p>
      
    </section>

  </section>
</div>