---
title: "Autrement On Devient Fou: Interview With Henri Lavrillat"
---

<% content_for :subnav do %>
  <%= partial "partials/autrement/navigation" %> 
<% end %>

<div class="project">
  <section class="project-stage">
    <div id="video" class="video">
      <iframe src="http://player.vimeo.com/video/47292860?color=ffffff" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>       
    </div>    
  </section>
  <section class="project-info">
    <section class="project-facts">
      <h1>INTERVIEW / FILM / 2012</h1>
      <p>
      30min 21sec, Interview,<br />
      Villeneuve-sur-Lot, 
      March 14th 2012, realised with the more than friendly help of Céline Foulon. 1280 x 720 px
      </p>
      <p>
      Original Language: French <br />
      Subtitles: English, German 
      </p>
    </section>
    <section class="project-description">
      <h1>ABOUT THE INTERVIEW WITH HENRI LAVRILLAT:</h1>
      <p>     
      Henri Lavrillat’s memories around Second World War, basically the Compulsory Work Service “STO” (<a href="http://en.wikipedia.org/wiki/Service_du_travail_obligatoire" target="_blank">Service du Travail Obligatoire</a>) in Bordeaux and on Cap Ferret, where he was forced to build the bunkers I continuously took photos of for my project “Disappearance” since 2005. (<a href="/foukauld/">Foukauld-La Disparition</a>).
      </p>
      <p>
      He talks about how these bunkers were constructed, refers to my work in regard to his history on site, the state of the bunkers in the "here and now" and of course how it all started,...<br /> (Villeneuve-sur-lot, March 14th 2012)
      </p>
      
    </section>

  </section>
</div>


