---
title: "Autrement On Devient Fou....."
section: "photography"
---

<% content_for :subnav do %>
  <%= partial "partials/photography/navigation" %>
<% end %>

<% content_for :project_subnav do %>
  <%= partial "partials/autrement/navigation" %>
<% end %>

<div class="project">
  <section class="project-stage">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="img/autrement-spread-01.jpg" />
        </li>
        <li>
          <img src="img/autrement-spread-02.jpg" />
        </li>
        <li>
          <img src="img/autrement-spread-03.jpg" />
        </li>
        <li>
          <img src="img/autrement-spread-04.jpg" />
        </li>
        <li>
          <img src="img/autrement-spread-05.jpg" />
        </li>
        <li>
          <img src="img/autrement-spread-06.jpg" />
        </li>
        <li>
          <img src="img/autrement-spread-07.jpg" />
        </li>
        <li>
          <img src="img/autrement-spread-08.jpg" />
        </li>
        <li>
          <img src="img/autrement-spread-09.jpg" />
        </li>
      </ul>
    </div>
  </section>
  <section class="project-info">
    <section class="project-facts">
      <h1>AUTREMENT ON DEVIENT FOU..... (OmdU)</h1>
      <p>
      96 pages, 16 x 23 cm, two different papers, 42 illustrations, German/French, linen hardcover silkscreened. Texts: Talk between Henri Lavrillat, Céline Foulon & Markus Oberndorfer, essays by Inge Marszolek & Markus Oberndorfer. Design: NIk Thönen. <a href="http://www.markusoberndorfer.com/shop" target="_blank">BUY HERE (Selfpublished)</a>
      </p>
      <p>
	  Article about "Se Souvenir" intervention: <a href="/cv/downloads/Anne-Debaumarche-L-Autrichien-qui-fait-parler-les-blockhaus-Cap-Ferret.pdf" target="_blank">L'Autrichien qui fait parles les blockhauses (F)</a>
      </p>
    </section>
    <section class="project-description">
      <h1>ABOUT THE PROJECT:</h1>
      <p>
      Interview with Henri Lavrillat (*1920) who recalls his compulsory work service at Cap Ferret and in Bordeaux during the Second World War. He also talks about my photographic collection "Disappearance – The Atlantic Wall around Cap Ferret", which was the starting point for this interview.
	  </p>
      <p>
      A film by Markus Oberndorfer, created with the help of Céline Foulon. Thank you to everyone that became part of that project; for your trust from the beginning and for this extraordinary experience of having the possibility to plunge into the memories of one of the last living contemporary war witnesses.
      </p>

    </section>

  </section>
</div>


