---
title: "Autrement On Devient Fou"
target: "autrement-on-devient-fou"
---


<% content_for :subnav do %>
  <%= partial "partials/autrement/navigation" %>
<% end %>

<div class="project">
  <section class="project-stage">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="img/coming-late2013.jpg" />
        </li>
      </ul>
    </div>
  </section>
  <section class="project-info">
    <section class="project-facts">
      <h1>INTERVIEW / VIDEO / 2013</h1>
      <p>
      Original Language: French<br>
      Subtitles: English, German
      </p>
      <p>
      Premiere: November 2013
      </p>
    </section>
    <section class="project-description">
      <h1>ABOUT THE PROJECT:</h1>
      <p>
      More information coming as soon as it's time.
	  </p>
      <p>

      </p>

    </section>

  </section>
</div>


