---
title: "Autrement On Devient Fou"
target: "autrement-on-devient-fou"
---


<% content_for :subnav do %>
  <%= partial "partials/autrement/navigation" %>
<% end %>

<div class="project">
  <section class="project-stage">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="img/coming-autrement.jpg" />
        </li>
      </ul>
    </div>
  </section>
  <section class="project-info">
    <section class="project-facts">
      <h1>AUTREMENT ON DEVIENT FOU.....</h1>
      <p>
      Interview, Villeneuve-sur-Lot, March 14, 2012 <br />
	  Photo: Cap Ferret &amp; Villeneuve-sur-Lot 2012<br />
	  Texts: Markus Oberndorfer, Prof. Dr. Inge Marszolek<br />
	  All rights reserved, &copy; Markus Oberndorfer 2012
      </p>
      <p>
      Autrement on devient fou.....: (Premiere, November 2013, MdM Mönchsberg)
      Se Souvenir (fading work and exhibition): La Pointe du Cap Ferret, 19. - it faded ...
      </p>
    </section>
    <section class="project-description">
      <h1>ABOUT THE PROJECT:</h1>
      <p>
      Interview with Henri Lavrillat (*1920): Lavrillat recalls his compulsory work service at Cap Ferret and in Bordeaux during the Second World War and talks about my photographic collection "Disappearance – The Atlantic Wall around Cap Ferret", which was the starting point for this interview.
	  </p>
      <p>
      A film by Markus Oberndorfer, created with the help of Céline Foulon. "Se Souvenir" (fading work playing with the process of perception): currently and for however long it will last at La Pointe du Cap Ferret. Dedicated to Henri Lavrillat and Céline Foulon for their trust from the beginning and for this extraordinary experience of being able to plunge into the memories of one of the last living contemporary war witnesses.
      </p>

    </section>

  </section>
</div>


