---
title: "Autrement On Devient Fou....."
section: "photography"
---


<% content_for :subnav do %>
  <%= partial "partials/autrement/navigation" %>
<% end %>

<div class="project">
  <section class="project-stage">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="img/coming-autrement.jpg" />
        </li>
      </ul>
    </div>
  </section>
  <section class="project-info">
    <section class="project-facts">
      <h1>AUTREMENT ON DEVIENT FOU.....</h1>
      <p>
      Villeneuve-sur-Lot, 14 March 2012 <br />
	  Video: 30:20 min, 1024x576p, Subtitles: DE/EN<br />
	  Photo: Cap Ferret &amp; Villeneuve-sur-Lot 2012<br />
	  Texts: Henri Lavrillat, Inge Marszolek<br />
	  All rights reserved, &copy; Markus Oberndorfer 2013
      </p>
      <p>
	  Monograph: <a href="http://www.markusoberndorfer.com/autrement-on-devient-fou" target="_blank">Autrement on devient fou..... (OmdU)</a>
	  Article: <a href="/cv/downloads/Anne-Debaumarche-L-Autrichien-qui-fait-parler-les-blockhaus-Cap-Ferret.pdf" target="_blank">L'Autrichien qui fait parles les blockhauses (F)</a>
      </p>
    </section>
    <section class="project-description">
      <h1>ABOUT THE PROJECT:</h1>
      <p>
      Interview with Henri Lavrillat (*1920) who recalls his compulsory work service at Cap Ferret and in Bordeaux during the Second World War. He also talks about my photographic collection "Disappearance – The Atlantic Wall around Cap Ferret", which was the starting point for this interview.
	  </p>
      <p>
      A film by Markus Oberndorfer, created with the help of Céline Foulon. Thank you to everyone that became part of that project; for your trust from the beginning and for this extraordinary experience of having the possibility to plunge into the memories of one of the last living contemporary war witnesses.
      </p>

    </section>

  </section>
</div>


