---
title: "Autrement On Devient Fou.....: Interview"
section: "photofilm"
---

<% content_for :subnav do %>
  <%= partial "partials/photofilm/navigation" %>
<% end %>

<% content_for :project_subnav do %>
  <%= partial "partials/autrement/navigation" %>
<% end %>


<div class="project">
  <section class="project-stage">
    <div id="video" class="video">
        <iframe src="http://player.vimeo.com/video/44931013?color=ffffff" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
  </section>
  <section class="project-info">
    <section class="project-facts">
      <h1>AUTREMENT ON DEVIENT FOU..... (OmdU)</h1>
      <p>
      Interview, Villeneuve-sur-Lot, March 14, 2012 <br />
	  31:21 min, Video Format: 1024x576 <br />
	  Texts: Dr. Inge Marszolek<br />
	  All rights reserved, &copy; Markus Oberndorfer 2012
      </p>
      <p class="project-credits">
      Premiere: 1.11.2013, MdM Mönchsberg
      </p>
    </section>
    <section class="project-description">
      <h1>ABOUT THE PROJECT:</h1>
      <p>
      Interview with Henri Lavrillat (*1920) who recalls his compulsory work service at Cap Ferret and in Bordeaux during the Second World War and talks about my photographic collection "Disappearance – The Atlantic Wall around Cap Ferret", which was the starting point for this interview.
	  </p>
      <p>
      A film by Markus Oberndorfer, created with the help of Céline Foulon. Dedicated to Henri Lavrillat. Thank you to all that took part; for their trust from the beginning and for this extraordinary experience of being able to plunge into the memories of one of the last living contemporary war witnesses.
      </p>
    </section>

  </section>
</div>