---
title: "Autrement On Devient Fou....."
section: "photography"
---

<% content_for :subnav do %>
  <%= partial "partials/photography/navigation" %>
<% end %>

<% content_for :project_subnav do %>
  <%= partial "partials/autrement/navigation" %>
<% end %>

<div class="project">
  <section class="project-stage">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="img/oberndorfer-signal-02.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-signal-01.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-signal-03.jpg" />
        </li>
      </ul>
    </div>
  </section>
  <section class="project-info">
    <section class="project-facts">
      <h1>SIGNAL MAGAZINE &amp; TOOTHPASTE</h1>
      <p>
      Signal Magazine, Janvier 1941 (FN°1)</br>
      Signal Toothpaste "White Now" 
      </p>
    </section>
    <section class="project-description">
      <h1>ABOUT THE PROJECT:</h1>
      <p>
      During my work on the translation of the interview I found multiple branches that one could follow for further examination. One was the name of the Nazis propaganda magazine during the war, called "Signal". The word "signal" itself kept its signal-function even 70 years after the war. In the interview he mentioned along with a more detailed background story: "You can have a look yourself: There will never be "Signal" toothpaste in my house. For me, the word "Signal” is the photograph of the young man playing the accordion with the Germans, it is me carrying the shovel over my shoulder, but..." 
	  </p>
      <p>
      I looked for the "Signal" magazine he is talking about in the interview and found a copy in a second hand bookstore for further examination and exhibition purposes. As shown in "Under Pressure" at MdM Mönchsberg. For more information please contact me.
      </p>

    </section>

  </section>
</div>


