---
title: "Autrement On Devient Fou: Transcript (E/F/D)"
---

<% content_for :subnav do %>
  <%= partial "partials/autrement/navigation" %>
<% end %>

<div class="project">
  <section class="project-stage project-text">
    <article>
      <h1>E: AUTREMENT ON DEVIENT FOU ... :</h1>
      <p>
      [...] on April 1st, and this was no  “April Fool”, this really was a convocation for the Compulsory Work Service (STO), according to which i had to betake myself to Cap Ferret, leaving on point from Brive, where I abandonned my wife, that was expecting a little baby, my daughter. From there, i have passed, ... we have entered the train in Brive. Most of the people that boarded the train, that was my age, have immediately taken refuge on the countryside to offer resistance. I have not followed them, because I was already a little bit worried about my upcoming paternity.
      </p>

      <p>
      We have arrived at the submarine base of Bordeaux - an immense submarine base - and from there, they have loaded us on trucks and brought us to Cap-Ferret. That’s where I found the big photo fo Hiter, and so on [...] 
      <!-- ( <a class="project-text-more" href="#" target="_blank">Read</a>) -->
      </p>
    </article>


    <article>
      <h1>F: AUTREMENT ON DEVIENT FOU ... :</h1>
      <p>
      [...] le 1er Avril 1943, c’était pas un « poisson d’Avril », c’était vraiment une convocation du Service du Travail Obligatoire (STO), comme quoi je devais me rendre au Cap-Ferret partant à telle heure de Brive, où j’abandonnais ma femme qui attendait d’ailleurs un pétit bébé, ma fille. De là, je suis passé, ... on est monté dans le train à Brive. La plupart des gens qui montaient, qui avaient mon âge, se sont tout de suite sauvés dans la campagne pour faire la Résistance. Je ne les ai pas suivis, parce que j’avais déjà un peu le souci de la paternité. 
      </p>

      <p>
      On est arrivé à la base sous-marine de Bordeaux - une base sous-marine immense - et de là on nous a mis dans des camions et on nous a emmenés au Cap-Ferret. C’est là que j’ai trouvé la grande photo d’Hitler, etcetera [...] 
      <!-- ( <a class="project-text-more" href="#" target="_blank">Lire</a> ) -->
       </p>
    </article>

    <article>
      <h1>D: AUTREMENT ON DEVIENT FOU ... :</h1>
      <p>
      [...] am 1.April 1943, das war kein „Aprilscherz“, das war tatsächlich ein Einberufungsbefehl zum Pflichtarbeitsdienst (STO) demnach ich mich nach Cap Ferret begeben musste. Pünktlich; von Brive, wo ich meine Frau, die ein kleines Baby erwartete (unsere Tochter), zurückgelassen habe. Von dort bin ich, ... wir sind in Brive in den Zug gestiegen. Der Grossteil der Leute, die mit mir eingestiegen sind und so alt waren wie ich, sind sofort aufs Land geflüchtet, um sich dem Widerstand (Résistance) anzuschliessen. Ich bin ihnen nicht gefolgt, da ich wegen meiner bevorstehenden Vaterschaft schon etwas besorgt war.
      </p>
      <p>
      Wir sind an der U-Boot Basis in Bordeaux angekommen - eine immens grosse Anlage - und dort hat man uns auf Lastwagen verladen und nach Cap Ferret verfrachtet. Das ist dort wo ich auch das grosse Foto von Hitler, usw. gesehen habe. [...]
      <!-- ( <a class="project-text-more" href="#" target="_blank">WEITERLESEN</a> ) -->
      </p>
    </article>
  </section>
  <section class="project-info">
    <section class="project-facts">
      <h1>ABOUT HENRI LAVRILLAT:</h1>
      <p>
      Henri Lavrillat: *1920, Dijon, Retired Director of Sales at Pont-A-Mousson S.A., Division Machine Tools, Nancy, France. Still living in his house in Villeneuve-sur-Lot. 
      </p>

    </section>
    <section class="project-description">
      <h1>Text downloads: </h1>
      <p>All downloads are going to be activated after the official release of this work.</p>
    </section>

  </section>
</div>