---
title: "Texts"
section: "texts"
layout: "layout_simple"
---


<section class="texts" id="texts">
  <div class="friends-content">
    <section class="page-section">
	<h1>FOUKAULD &amp; OMEGA POINT:</h1>
      <ul>
        <li class="download"><a href="/foukauld/essay-marszolek.html" target="_blank">Inge Marzsolek - Looking at bunker(photos) - Thoughts of a historian (German / French / English)</a></li>
        <li class="download"><a href="/foukauld/essay-oberndorfer.html" target="_blank">Markus Oberndorfer - Disappearance - The Atlantic Wall around Cap Ferret (German / French / English)</a></li>
        <li class="download"><a href="/foukauld/essay-langewitz.html" target="_blank">Wolf Langewitz - Images on second glance - An essay on the void in Oberndorfers photographs (German / French / English)</a></li>
        <li class="download"><a href="/omega-point/essay.html" target="_blank">Lydia Nsiah - The image of the inbetween in the photofilm Omega Point (German / French / English)</a></li>
      </ul>
    </section>

    <section class="page-section">
      <h1>AUTREMENT &amp; SE SOUVENIR:</h1>
      <ul>
        <li><a href="/autrement-on-devient-fou/transcript.html" target="_blank">Henri Lavrillat - Interview (German / French / English)</a></li>
        <li><a href="/autrement-on-devient-fou/" target="_blank">Inge Marszolek - Who built the seven gates of Thebes? (German / French / English)</a></li>
        <li><a href="/se-souvenir/essay-oberndorfer.html" target="_blank">Markus Oberndorfer - Se Souvenir (German / French / English)</a></li>
      </ul>
    </section>

    <section class="page-section">
      <h1>GENERAL:</h1>
      <ul>
        <li class="download"><a href="/photography/expect.html" target="_blank">Markus Oberndorfer - What I expect from my photography (German / French / English)</a></li>
        <li class="download"><a href="/foukauld/downloads/Ruth-Horak-Before-Disappearance.pdf" target="_blank">Ruth Horak - Before Disappearance (English)</a></li>
        <li class="download"><a href="/foukauld/downloads/Ruth-Horak-Vor-dem-Verschwinden.pdf" target="_blank">Ruth Horak - Vor dem Verschwinden (German)</a></li>
      </ul>
    </section>

    <section class="page-section">
      <h1>BOOK REZENSIONS:</h1>
      <ul>
        <li class="download"><a href="/cv/downloads/EIKON-Rezension-2014.pdf" target="_blank">Katharina Manojlovic, Eikon #87</a></li>
        <li class="download"><a href="/cv/downloads/Oberndorfer-Photonews-Rezension.pdf" target="_blank">Christoph Schaden, Photonews</a></li>
		    <li class="download"><a href="/cv/downloads/Oberndorfer-Eikon-Rezension.jpg" target="_blank">Anna Stuhlpfarrer, Eikon #81</a></li>
      </p>
        Newspaper articles and features are to be found in </br>
        CV / "Print Features"
      </ul>
    </section>

  </div>

  <div class="friends-image">
    <a href="/img"><img src="img/friends-image.jpg" alt="Texts" /></a>
  </div>

</section>
