---
title: "Texts"
section: "texts"
layout: "layout_simple"
---


<section class="texts" id="texts">
  <div class="friends-content">
    <section class="page-section">
	<h1>FOUKAULD &amp; OMEGA POINT:</h1>
      <ul>
        <li class="download"><a href="/foukauld/essay-marszolek.html" target="_blank">Inge Marzsolek: </br>Looking at bunker(photos) - Thoughts of a historian </br>Essay (German / French / English)</a></li>
        <li class="download"><a href="/foukauld/essay-oberndorfer.html" target="_blank">Markus Oberndorfer: </br>Disappearance - The Atlantic Wall around Cap Ferret </br>Essay (German / French / English)</a></li>
        <li class="download"><a href="/foukauld/essay-langewitz.html" target="_blank">Wolf Langewitz: </br>Images on second glance - An essay on the void in Oberndorfers photographs </br>Essay (German / French / English)</a></li>
        <li class="download"><a href="/omega-point/essay.html" target="_blank">Lydia Nsiah: </br>The image of the inbetween in the photofilm Omega Point </br>Essay (German / French / English)</a></li>
      </ul>
    </section>

    <section class="page-section">
      <h1>AUTREMENT &amp; SE SOUVENIR:</h1>
      <ul>
        <li><a href="/autrement-on-devient-fou/transcript.html" target="_blank">Henri Lavrillat: </br>Interview (German / French / English)</a></li>
        <li><a href="/autrement-on-devient-fou/" target="_blank">Inge Marszolek: </br>Who built the seven gates of Thebes? </br> Essay (German / French / English)</a></li>
        <li><a href="/se-souvenir/essay-oberndorfer.html" target="_blank">Markus Oberndorfer: </br>Se Souvenir </br> Essay (German / French / English)</a></li>
      </ul>
    </section>

    <section class="page-section">
      <h1>GENERAL:</h1>
      <ul>
        <li class="download"><a href="/photography/expect.html" target="_blank">Markus Oberndorfer: </br>What I expect from my photography </br> Essay (German / French / English)</a></li>
        <li class="download"><a href="/foukauld/downloads/Ruth-Horak-Before-Disappearance.pdf" target="_blank">Ruth Horak: </br>Before Disappearance </br> Essay (English)</a></li>
        <li class="download"><a href="/foukauld/downloads/Ruth-Horak-Vor-dem-Verschwinden.pdf" target="_blank">Ruth Horak: </br>Vor dem Verschwinden </br> Essay (German)</a></li>
      </ul>
    </section>

    <section class="page-section">
      <h1>BOOK REZENSIONS:</h1>
      <ul>
        <li class="download"><a href="/cv/downloads/EIKON-Rezension-2014.pdf" target="_blank">Katharina Manojlovic: </br>Autrement on devient fou..... (Eikon #87)</br> Rezension (German) </a></li>
        <li class="download"><a href="/cv/downloads/Oberndorfer-Photonews-Rezension.pdf" target="_blank">Christoph Schaden: </br>Foukauld (Photonews 7/2013)</br> Rezension (German)</a></li>
		    <li class="download"><a href="/cv/downloads/Oberndorfer-Eikon-Rezension.jpg" target="_blank">Anna Stuhlpfarrer: </br> Foukauld (Eikon #81)</br> Rezension (German)</a></li>
      </ul>
    </section>

    <section class="page-section">
      <h1>NEWSPAPER &amp; PRESS:</h1>
      <ul>
        <li class="download"><a href="/cv/" target="_blank">Print Features (CV Main Navigation)</a></li>
      </ul>
    </section>

  </div>

<div class="project">
  <section class="project-stage">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="img/bookspread.jpg" />
        </li>
      </ul>
    </div>
  </section>
  <section class="project-info">
    <section class="project-facts">

  <!--<div class="friends-image">
    <a href="/img"><img src="img/friends-image.jpg" alt="Texts" /></a>
  </div>-->

</section>
