---
title: "Photography: LILIAN BAILEY SCHOOL"
section: "photography"
---

<% content_for :subnav do %>
  <%= partial "partials/photography/navigation" %>
<% end %>

<div class="project">
  <section class="project-stage">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="img/oberndorfer-lilian-bailey-01.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-lilian-bailey-02.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-lilian-bailey-03.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-lilian-bailey-04.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-lilian-bailey-05.jpg" />
        </li>
		<li>
          <img src="img/oberndorfer-lilian-bailey-06.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-lilian-bailey-07.jpg" />
        </li>
      </ul>
    </div>
  </section>
  <section class="project-info">
    <section class="project-facts">
      <h1>LILIAN BAILEY SCHOOL / 2006 &amp; 2008 </h1>
      <p>
      London 2008<br />
      C-Prints: 37,5 cm x 29,2 cm to 150 cm x 120 cm <br />
	  Edition: 3+2
      </p>
      <p>
      All photographs shown are reproduced from handmade analog c-prints.
      </p>
    </section>
    <section class="project-description">
      <h1>ABOUT THE PROJECT: </h1>
      <p>
      Portrait of a school that is not just school anymore, but atelier, meeting point, living space. By renting parts of this listed builling to artists, social workers, workshops ... for affordable prices the borough of lambeth north first of all saves the basic structure and living fundament of the building from it's decline; second: the builing itself from squatters.
      </p>
      <p>
      This project and initiative cries for imitation folks. It's not all about the profit!</a>)
      </p>

    </section>

  </section>
</div>