<div class="subnav-section">
  <h1>Photofilm:</h1>
  <ul>
    <li>
      <a href="index.html">UNTITLED IN CASE 07_1</a>
    </li>
    <li>
      Please be patient, this part of the website is momentarily getting reorganized
    </li>
  </ul>    
</div>

<div class="subnav-section">
  <h1>Related Projects:</h1>
  <ul>
    <li>
      <a href="/omega-point/">OMEGA POINT</a>
    </li>
    <li>
      <a href="/lenscapes-02/">LENSCAPES #02</a>
    </li>
  </ul>    
</div>

