---
title: "Photofilm Reference Project"
---

<% content_for :subnav do %>
  <%= partial "partials/photofilm/navigation" %> 
<% end %>

<div class="project">
  <section class="project-stage">
    <div id="video" class="video">
        <iframe src="http://player.vimeo.com/video/56670794?color=ffffff" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>    
  </section>
  <section class="project-info">
    <section class="project-facts">
      <h1>UNCERTAINTIES / 2006</h1>
      <p>
      2min 51sec, Vals, 2006<br />
      Starring: Unknown<br />
	  Original: 1920 x 1080 px<br />
      © Markus Oberndorfer 2006
      </p>
      <p class="project-credits">
        Sound taken from Anim<br />
		Written & Produced by Anim<br />
        © Philip Lammer, 2005
      </p>
    </section>
    <section class="project-description">
      <h1>ABOUT THE PROJECT”:</h1>
      <p>     
      Watch [...]
      </p>
      <p>
          
      </p>
    </section>

  </section>
</div>