<div class="subnav-section">
  <h1>Se Souvenir:</h1>
  <ul>
    <li>
      <%= nav_link_to "Slideshow", "/se-souvenir/index.html" %>
    </li>
	  <li>
      <%= nav_link_to "Essay M. Oberndorfer", "/se-souvenir/essay-oberndorfer.html" %>
    </li>
    <li>
      <%= nav_link_to "Timelapse", "/se-souvenir/timelapse.html" %>
    </li>
  </ul>
</div>

<div class="subnav-section subnav-related-projects">
  <h1>Related Projects:</h1>
  <ul>
    <li>
      <a href="/foukauld/">Foukauld - La Disparition</a>
    </li>
    <li>
      <a href="/omega-point/">Omega Point</a>
    </li>
    <li>
      <a href="/autrement-on-devient-fou/">Autrement On Devient Fou...</a>
    </li>
    <li>
      <a href="/archived-material/">Archived Material</a>
    </li>
  </ul>
</div>