<div class="subnav-section">
  <h1>SE SOUVENIR</h1>
  <ul>
    <li>
      <%= nav_link_to "For Now", "/se-souvenir/index.html" %>
    </li>
  </ul>
</div>

<div class="subnav-section subnav-related-projects">
  <h1>Related Projects:</h1>
  <ul>
    <li>
      <a href="/foukauld/">Foukauld - La Disparition</a>
    </li>
    <li>
      <a href="/omega-point/">Omega Point</a>
    </li>
    <li>
      <a href="/autrement-on-devient-fou/">Autrement On Devient Fou...</a>
    </li>
  </ul>
</div>