---

title: "Photography: SLIDES"

---

<% content_for :subnav do %>
  <%= partial "partials/photography/navigation" %>
<% end %>

<div class="project">
  <section class="project-stage">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="img/oberndorfer-graubuenden-01.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-graubuenden-02.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-lilian-bailey-01.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-lilian-bailey-02.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-lilian-bailey-03.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-lilian-bailey-04.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-lilian-bailey-05.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-traces_IV-01.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-traces_IV-02.jpg" />
        </li>
        <!--
        <li>
          <img src="img/oberndorfer-traces-III-01.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-traces-III-02.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-kaprun-01.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-kaprun-02.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-kaprun-03.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-vor-ort-01.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-vor-ort-02.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-vor-ort-03.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-vor-ort-04.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-anden-01.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-anden-02.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-rosaleda-01.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-rosaleda-02.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-rosaleda-03.jpg" />
        </li>
        -->
      </ul>
    </div>
  </section>
  <section class="project-info">
    <section class="project-facts">
      <h1>PHOTOGRAPHY / SELECTION SLIDE</h1>
      <p>
      The photography section is getting shaped and reorganized. I am sorry for the inconveniences. In the meantime you can check my recently published monography <a class="project-text-more" href="foukauld" target="_blank">"Foukauld - La Disparition"</a>, the related slideshow or the one shown on this part of the website.
      </p>
      <p>
      Please drop me an email and I will send you a pdf with a selection if you need quick information about a certain project.
      </p>
    </section>
    <section class="project-description">
      <h1>WHAT I EXPECT FROM MY PHOTOGRAPHY: </h1>
      <p>
      My photography is a documentation of the pre-existing that is concerned with the 'sensed space' in the presence of one or more objects rather than the captured object itself, although it certainly is the trigger to take the picture at all. It‘s the 'relationship between the qualities of the surroundings and the human condition' in which I am interested in. The attempt of capturing a 'Situation' in the 'here-and-now' of the image and at the same time the attempt to satisfy my esthetic and graphic standards.
      </p>
      <p>
      For me personally, most of the photos have to work in groups, as sequences or stories. They are supposed to show a wider context of things. At the same time, a single picture has to be strong enough to stand for itself. That is what I expect from my photography. 'The more you know about the spatiality of feelings/sensations, the higher the competence to built spaces of sensation. Creating feelings means staging atmospheres.' (<a class="project-text-more" href="/photography/expect.html" target="_blank">Read</a>)
      </p>

    </section>

  </section>
</div>