---
title: "Markus Oberndorfer: CV"
section: "cv"
layout: "layout_simple"
---



  <section class="cv cv-section" id="cv">
    <table>
      <tr class="cv-intro">
        <th>7/1980</th>
        <td>Ohlsdorf / Gmunden / Upper Austria / Mag.art </td>
      </tr>
      <tr>
        <th>11/2008</th>
        <td>Diploma Academy of Fine Arts Vienna (Matthias Herrmann, with mention)</td>
      </tr>
      <tr>
        <th>2003 - 2008</th>
        <td>Art &amp; Photography, Academy of Fine Arts Vienna (Eva Schlegel, Matthias Herrmann)</td>
      </tr>
      <tr>
        <th>2002 - 2003</th>
        <td>School for Artistic Photography Vienna (Friedl Kubelka)</td>
      </tr>
      <tr>
        <th>9/2010</th>
        <td>Invitation to / presentation of “La Disparition - Le mur de l’Atlantique“ at the International Expert<br />
      Meeting “Redefining the Atlantic Wall“, Cultural Heritage Agency (RCE), Amersfoort, NL</td>
      </tr>
      <tr>
        <th>2007 - 2008</th>
        <td>Student Assistant, Academy of Fine Arts Vienna (Thomas Freiler)</td>
      </tr>
      <tr>
        <th>2005 - 2007 </th>
        <td>Symposium Gesellschaft für Neue Phänomenologie (Hermann Schmitz)</td>
      </tr>
      <tr>
        <th>2001 - 2009</th>
        <td>Photo Assistant (Jork Weismann, Felix Friedmann)</td>
      </tr>
      <tr>
        <th>2001 - </th>
        <td>Color-Fine-Art Printing in the photographic darkroom</td>
      </tr>
    </table>
  </section>

  <section class="cv-section">
    <div class="exhibition-block">


      <section class="exhibition-category">
        <h1>EXHIBITIONS &amp; SCREENINGS: (Selection)</h1>

        <article>
          <h2>2017</h2>
          <ul> 
            <li>"Circulation(s) 2017", Centquatre, Paris (F) 20.1.2017-05.03.2017</li> 
          </ul>
        </article>


        <article>
          <h2>2016</h2>
          <ul> 
            <li>"Kunst und Grenzen: Neu zeichnen, neu denken, neu erfinden", MAK, Vienna (A)</li> 
            <li>"Artistes sans frontières. Regards contemporains sur les frontières, l'identité et les migrations", Auditorium Institut Francais, Budapest (H)</li>
            <li>"Migrations, frontières et identités en Europe - Regards d'Artistes", Divadlo Archa, Prague (CZ)</li>
            <li>"Neulich im Labor" by Ruth Horak &amp; Claudia Rohrauer, bookfeature</li>
            <li>"Sprechen über Abraham", Schloss Bruck, Lienz (A)</li>  
            <li>"Architekt Raimund Abraham - Back Home", Schloss Bruck, Lienz (A)</li> 
            <li>"Aus der Sammlung: Landschaft", Landesgalerie, Linz (A)</li>
            <li>"Circulation(s) 2016", Centquatre, Paris (F)</li>
          </ul>
        </article>


        <article>
          <h2>2015</h2>
          <ul>
            <li>"Legends Never Die", Bildraum 01, Solo Show, Vienna, (A)</li>
            <li>"Text:Bild II" (Artist Books), Fotogalerie Wien, Vienna, (A)</li>
            <li>"Paul Busk - Look at me now", Inoperable Gallery, Vienna (A)</li>
            <li>"Page.Print-Post>Make a Book", Main Dade Library, Miami (US)</li>
            <li>"Destination Wien Extended", WellWellWell, Vienna (A)</li>
            <li>"Plasticity - In der Kubatur des Kabinetts", Fluc, Vienna (A)</li>
            <li>"Crossing Europe Filmfestival", Local Artists, Linz (A)</li>
            <li>"SilvrettAtelier", Palais Lichtenstein, Feldkirch (A)</li>
            <li>"Extra Fort @ Recyclart" Talk, Gare Bruxelles-Chapelle, Brussels (B) </li>
            <li>"Dialogue #10", Markus Oberndorfer &amp; Max Schaffer, DI∞G, Vienna (A)</li>
          </ul>
        </article>

          
        <article>
          <h2>2014</h2>
          <ul>
      			<li>"Autrement on devient fou..... (OmdU)" Exhibition &amp; Book presentation, Eyes On - Monat der Fotografie Wien, Institut Français Wien, Palais Clam Gallas (A)</li>
      			<li>"Grenzgänger. Markus Oberndorfer &amp; Gregor Sailer", Europäischer Monat der Fotografie, Loris Gallery, Berlin (D)s</li>
      			<li>"The making of Austria", MQ Wien, with Kunsthalle Wien (A)</li>
      			<li>"SilvrettAtelier 2014", Bielerhöhe (A)</li>
      			<li>"Dialogue #05", Markus Oberndorfer &amp; Max Schaffer, DI∞G, Vienna (A)</li>
      			<li>"Artist Talk &amp; Guest Teacher", Nordic Art School Kokkola (FI)</li>
      			<li>"Am Ende der Sehnsucht. Fotografische Positionen zu Tod und Meer", Kunstraum Sylt:Quelle(D)</li>
      			<li>"Artist Talk. Under Pressure", Museum of Modern Art Mönchsberg, Salzburg (A)</li>
          </ul>
        </article>

        <article>
          <h2>2013</h2>
          <ul>
          	<li>"Fragile", Bawag Contemporary, Vienna (A)</li>
          	<li>"Preise &amp; Talente 2013", Award ceremony &amp; exhibition, OÖ Kulturquartier, Linz (A)</li>
      			<li>"Under Pressure", Museum of Modern Art Mönchsberg, Salzburg (A)</li>
      			<li>"Se Souvenir", fading work &amp; exhibition, La Pointe du Cap Ferret (F)</li>
      			<li>"VII.Jeux de la Francophonie", Concours Culturel, Nice (F)</li>
            <li>"Hohe Dosis", Atterseehalle, Attersee (A)</li>
            <li>"gesammelt", Galerie Tracklhaus, Salzburg (A)</li>
      			<li>"Am Ende der Sehnsucht. Fotografische Positionen zu Tod und Meer", Altonaer Museum für Kunst und Kulturgeschichte, Hamburg (D)</li>
      			<li>"Cash, Cans &amp; Candy", Galerie Ernst Hilger, Vienna (A)</li>
      			<li>"What Would Thomas Bernhard Do?", Kunsthalle Wien, Vienna (A)</li>
      			<li>"Land in Sicht!", Museum of Modern Art Mönchsberg, Salzburg (A)</li>
      			<li>"The Side of Things", Photowall, MQ Vienna (A)</li>
      			<li>"Foukauld - La Disparition...", Bookpresentation, OstLicht, Gallery for Photography, Vienna (A)</li>
      			<li>"Industrie", OstLicht, Gallery for Photography, Vienna (A)</li>
          </ul>
        </article>

        <article>
          <h2>2012</h2>
          <ul>
            <li>Expanded Field Of Photography, W:end:y, Vienna (A)</li>
			      <li>Young Austrian Photography, Architecture &amp; Landscape, Photoweek Washington DC (US)</li>
            <li>Zwischenspiel, Vertikale Galerie, Verbund HQ, Vienna (A)</li>
			      <li>Die Letzte Weltausstellung, Gschwandner, Vienna (with Busk) (A)</li>
            <li>Frankfurter Buchmesse, Foukauld (Book), Frankfurt (D)</li>
          </ul>
        </article>

        <article>
          <h2>2011</h2>
          <ul>
            <li>Vor Ort, Kölnbreinsperre, Maltatal (A)</li>
          </ul>
        </article>

        <article>
          <h2>2010</h2>
          <ul>
            <li>Werkschau, Galerie Schloss Puchheim, (A)</li>
            <li>Redefining the Atlantic Wall, Amersfoort, (NL)</li>
            <li>Escape The Golden Cage, MAK, Vienna (A)</li>
            <li>Swim At Own Risk, Hollmann &amp; Lhotka, Vienna</li>
            <li>VIS - Vienna Independent Shorts, Topkino (A)</li>
          </ul>
        </article>

        <article>
          <h2>2009</h2>
          <ul>
            <li>Crossing Europe Film Festival, Linz (A)</li>
            <li>Nacht-Notte, Galerie Foto-Forum, Bolzano (I)</li>
            <li>Juried Artists, Bäckerstrasse 4, Vienna (A)</li>
            <li>The Essence, Galerie Art Fort Revue, Bruxxels (B)</li>
            <li>Kunstmesse Linz, Landesgalerie Linz (A)</li>
          </ul>
        </article>

        <article>
          <h2>2008</h2>
          <ul>
            <li>Das Verschwinden - Der Atlantikwall um Cap Ferret, Academy of Fine Arts, Vienna (A)</li>
            <li>Film:Riss Student Film-Festival, Salzburg (A)</li>
            <li>VIS - Vienna Independent Shorts, Topkino (A)</li>
            <li>After Urban - Video Art and Architecture<br>- Center for Contemporary Arts Moscow (RUS)</li>
            <li>Baume &amp; Mercier Award, Westlicht, Vienna (A)</li>
          </ul>
        </article>

        <article>
          <h2>2007</h2>
          <ul>
            <li>Viennafair ‘07, Messegelände, Vienna (A)</li>
            <li>Kraftwerke, Verbund, Am Hof, Vienna (A)</li>
            <li>Size does matter, Monat der Fotografie (A)</li>
            <li>Ursula Blicke Archiv, Kunsthalle Vienna (A)</li>
            <li>Empire de la lumière, Hegelstrasse , Basel (CH)</li>
            <li>AVIS - Vienna Independent Shorts, Topkino (A)</li>
            <li>After Urban - Video Art and Architecture <br>- Monkeytown, Brooklyn, New York (US) <br>- Experimental Film-Festival, Carbunari (I)</li>
          </ul>
        </article>

        <article>
          <h2>2006</h2>
          <ul>
            <li>White Club Space #01, Salzburg (A)</li>
            <li>Economy Class, Alliance Francaise, Nairobi (KE)</li>
            <li>Film:Riss Student Film-Festival, Salzburg (A)</li>
            <li>Open Cinema Festival, St. Petersburg (RUS)</li>
            <li>VIS - Vienna Independent Shorts, Topkino (A)</li>
            <li>Untitled In Case No_01 as supporting film for "China Blue" in 13 independent cinemas across Austria (A)</li>
          </ul>
        </article>

        <article>
          <h2>2005</h2>
          <ul>
            <li>Der Zweite Blick, Focus Award, Dortmund (D)</li>
          </ul>
        </article>

        <article>
          <h2>2004</h2>
          <ul>
            <li>Nice To Meet You, Reflexe, Paris (F)</li>
          </ul>
        </article>

      </section>
    </div>
    <div class="exhibition-block">

      
      <section class="exhibition-category">
        <h1>SHORT ARTIST STATEMENT:</h1>
        <article>
          <ul>
             Fine-artist with a main focus on photography and audiovisual-, timeline-based media. The documentation of the pre-existing that is concerned with the sensed space mostly notes the start of my creative process and everything that happens thereafter scrutinizing built environment, our daily performance in it and photography,... as media. By pre-existing I essentially mean everything a place presents to me. Everything that has an attractive force so strong as to pull me out of my ordinary life and thoughts or even makes me feel concerned. "The onset of the sudden in a moment of primitive present" as Hermann Schmitz calls it. 
          </ul>
        </article>
      </section>


      <section class="exhibition-category">
        <h1>DOWNLOADS:</h1>
        <article>
          <ul>
            <li class="download"><a href="/cv/downloads/CV-Markus-Oberndorfer-D.pdf" target="_blank">CV Markus Oberndorfer (D)</a></li>
            <li class="download"><a href="/cv/downloads/Markus-Oberndorfer-portfolio-E.pdf" target="_blank">Short Portfolio - April 2016 (EN / 10MB)</a></li>
            <li class="download"><a href="/cv/downloads/Markus-Oberndorfer-portfolio-D.pdf" target="_blank">Portfolio Selection - April 2016 (D / 35MB)</a></li>
            <!--<li class="download"><a href="/texts/" target="_blank">Essays &amp; Texts (DE/FR/EN)</a></li>-->
          </ul>
        </article>
      </section>

      <section class="exhibition-category">
        <h1>OWN BOOKS:</h1>
        <article>
          <ul>
            <li class="download"><a href="/autrement-on-devient-fou/index.html" target="_blank">Autrement on devient fou..... (OmdU), Markus Oberndorfer (Ed.), Selfpublished, June 6, 2014 (D/F) </li>
            <li class="download"><a href="/foukauld/book.html" target="_blank">Foukauld - La Disparition, Markus Oberndorfer (Ed.), Fotohof edition, 2012 (D/F/E)</a></li>
          </ul>
        </article>
      </section>

      <section class="exhibition-category">
        <h1>PRESS &amp; PRINT FEATURES:</h1>
        <article>
          <ul>
            <li class="download"><a href="/cv/downloads/raimund-abraham-oberndorfer-derstandard.jpg" target="_blank">derStandard, Architektur, Zu Hause hinterm Vorhang, Print</a></li>
            <li class="download"><a href="http://www.parnass.at/aktuelles/legends-never-die-bildraum-01" target="_blank">Parnass, Legends Never Die, Online</a></li>
            <li class="download"><a href="/cv/downloads/oberndorfer-parnass-utopien.jpg" target="_blank">Parnass Kunstmagazin, Double Spread (Magazin)</a></li>
            <li>Erlebnis Österreich, SilvrettAtelier, Orf (Fernsehbeitrag)</li>
            <li class="download"><a href="/cv/downloads/eyes-on-wien-spread.jpg" target="_blank">Europäischer Monat der Fotografie, Wien (Katalog)</a></li>
            <li class="download"><a href="/cv/downloads/eyes-on-berlin-spread.jpg" target="_blank">Europäischer Monat der Fotografie, Berlin (Katalog)</a></li>
            <li class="download"><a href="/cv/downloads/Anne-Debaumarche-Autrement-on-devient-fou.pdf" target="_blank">Autrement on devient fou....., Art et Histoire, Dépêche du Bassin, 9/2014 (F)</a></li>
            <li class="download"><a href="/cv/downloads/EIKON-Rezension-2014.pdf" target="_blank">Eikon #87, "Autrement on devient fou..... OmdU" Rezension (D)</a></li>
    		  	<li class="download"><a href="/cv/downloads/ooe-nachrichten.pdf" target="_blank">Künstlerportrait, OÖ Nachrichten 11/6/2014, (D)</a></li>
            <li class="download"><a href="/cv/downloads/Furche-Under-Pressure-MdM.pdf" target="_blank">Furche 49/2013, In die weite Welt hinein (D)</a></li>
            <li class="download"><a href="/cv/downloads/Oberndorfer-Tips.pdf" target="_blank">Tips, Förderprämie für Ohlsdorfer Künstler (D)</a></li>
            <li class="download"><a href="/cv/downloads/Oberndorfer-LKP_Katalog_13.pdf" target="_blank">Preise &amp; Talente 2013, Land OÖ, Direktion Kultur (D)</a></li>
            <li class="download"><a href="/cv/downloads/Anne-Debaumarche-L-Autrichien-qui-fait-parler-les-blockhaus-Cap-Ferret.pdf" target="_blank">L'Autrichien qui fait parler les blockhauses, Dépêche du Bassin, 9/2013 (F)</a></li>
            <li class="download"><a href="/cv/downloads/Oberndorfer-Photonews-Rezension.pdf" target="_blank">Photonews #7&amp;8/2013, Foukauld Rezension, 2013 (D)</a></li>
            <li class="download"><a href="/cv/downloads/Oberndorfer-Eikon-Rezension.jpg" target="_blank">Eikon #81, Foukauld Rezension, 2013 (D)</a></li>
            <li>Wotruba. Leben, Werk und Wirkung (21erHaus, Brandstätter 2013) </li>
            <li>21er Haus - Back to the future - A retroperspective look at a Museum, Galerie Schloss Belvedere 2011</li>
			      <li>Starwax Magazine N°23, Kalhex Interview, 2011</li>
			      <li>Vor Ort, Artist Residency Catalogue, 2011</li>
            <li class="download"><a href="/cv/downloads/Oberndorfer-Eikon-Artist_Pages.pdf" target="_blank">Eikon #71, 8 Artist Pages, 2010 (D/E)</a></li>
            <li>International Designers Network, Japan, 2010</li>
            <li>Nacht/Notte, Foto-Forum, 2009</li>
            <li>More exhibition Catalogues, ...</li>
          </ul>
        </article>
      </section>

      <section class="exhibition-category">
        <h1>INTERVIEW:</h1>
        <article>
          <ul>
            <li class="download"><a href="http://www.vimeo.com/46151370" target="_blank">Die Krieger des Lichts (Video)</a></li>
            <li class="download"><a href="http://www.max.de/lifestyle/urban-art/markus-oberndorfer/" target="_blank">Verliebt in Verfall (max.de)</a></li>
          </ul>
        </article>
      </section>

      </section>
    </div>

    <div class="exhibition-block last">
      <section class="exhibition-category">
        <h1>AWARDS &amp; ATTRIBUTIONS:</h1>
        <article>
          <ul>
            <li>Widerstandsmahnmal Bregenz, Competition, 2015, Shortlist (final 5 of 150)</li>
            <li>SilvrettAtelier 2014, Artist Symposium </li>
            <li>Talent Award Land Oberösterreich, Bildende Kunst, 2013</li>
            <li>Jeux de la Francophonie, Nice 2013, Participation &amp; Nomination by the Austrian Foreign Ministry (bm:eia) and OIF to represent Austria </li>
            <li>Nomination for DZ-Bank Work-Stipendium </li>
            <li>European Design Award "Gold" for best single poster, 2013 with bueronardin</li>
            <li>Artist in Residency, bm:ukk, Cite des Arts, Paris 2012</li>
            <li>Artist in Residency, Verbund, Kölnbreinsperre, Malta 2011</li>
            <li>Docuzone Austria Shortfilm Jury-Award 2006</li><br />
            <li>Project-specific support by BKA Kunst &amp; Kultur, Forum Culturel Autrichien, Direktion Kultur OÖ, IG Romanistik, Stadt Wien</li>
          </ul>
        </article>
      </section>


      <section class="exhibition-category">
        <h1>COLLECTIONS:</h1>
        <article>
          <ul>
            <li>Landesmuseum Linz </li>
            <li>MdM Salzburg (BKA)</li>
            <li>Sammlung Land OÖ</li>
            <li>Sammlung Sanziany</li>
            <li>Sammlung Stadt Wien</li>
            <li>Sammlung Verbund AG</li>
            <li>Private Collections</li>
          </ul>
        </article>
      </section>


      <section class="exhibition-category">
        <h1>THANK YOU:</h1>
        <article>
          <ul>
            <li>to everyone that - in which way ever - contributed something to my work and supported/supports me in doing what I do. Thank you. I really do very much appreciate your trust. You are keeping the dream alive!</li>
          </ul>
        </article>
      </section>

    </div>
  </section>
</div>