---
title: "CV | Markus Oberndorfer"
layout: "layout_simple"
---



  <section class="cv cv-section" id="cv">
    <table>
      <tr class="cv-intro">
        <th>7/1980</th>
        <td>Born / Ohlsdorf / Gmunden / Upper Austria / Mag.art / Exhibition:</td>
      </tr>
      <tr>
        <th>9/2010</th>
        <td>Invitation to / presentation of  “La Disparition - Le mur de l’Atlantique“ at the International Expert<br />Meeting “Redefining the Atlantic Wall“, Cultural Heritage Agency (RCE), Amersfoort, NL</td>
      </tr>
      <tr>
        <th>11/2008</th>
        <td>Diploma Academy of Fine Arts Vienna (Matthias Herrmann, with mention)</td>
      </tr>
      <tr>
        <th>2003 - 2008</th>
        <td>Art &amp; Photography, Academy of Fine Arts Vienna  (Eva Schlegel, Matthias Herrmann)</td>
      </tr>
      <tr>
        <th>2002 - 2003</th>
        <td>School for Artistic Photography Vienna (Friedl Kubelka)</td>
      </tr>
      <tr>
        <th>2007 - 2008</th>
        <td>Student Assistant, Academy of Fine Arts Vienna  (Thomas Freiler)</td>
      </tr>
      <tr>
        <th>2005 - 2007 </th>
        <td>Symposia of Society for New Phenomenology (Hermann Schmitz)</td>
      </tr>
      <tr>
        <th>2001 - 2009</th>
        <td>Multiple assistances in the field of photography</td>
      </tr>
      <tr>
        <th>2001 - </th>
        <td>Color-Fine-Art Printing in the photographic darkroom</td>
      </tr>
    </table>  

  </section>

  <section class="cv-section">
    <div class="exhibition-block">
      <section class="exhibition-category">
        <h1>EXHIBITIONS PHOTOGRAPHY: (selection)</h1>
        <article>
          <h2>2012</h2>
          <ul>
            <li>More dates for november (US) /december (A) soon ...</li>
            <li>Zwischenspiel, Vertikale Galerie, Verbund UQ, Vienna (A)</li>
            <li>Foukauld, Buchpräsentation, Frankfurter Buchmesse (D)</li>
          </ul>
        </article>

        <article>
          <h2>2011</h2>
          <ul>
            <li>Vor Ort, Kölnbreinsperre, Maltatal (A)</li>
          </ul>
        </article>

        <article>
          <h2>2010</h2>
          <ul>
            <li>Werkschau, Galerie Schloss Puchheim, (A)</li>
            <li>Redefining the Atlantic Wall, Amersfoort, (NL)</li>
            <li>Swim At Own Risk, Hollmann &amp; Lhotka, Vienna (A)</li>
          </ul>
        </article>

        <article>
          <h2>2009</h2>
          <ul>
            <li>Nacht-Notte, Galerie Foto-Forum, Bolzano (I)</li>
            <li>Plattform für Junge Kunst, Bäckerstrasse 4, Vienna (A)</li>
            <li>Artfair Linz, Landesgalerie Linz (A)</li>
          </ul>
        </article>

        <article>
          <h2>2008</h2>
          <ul>
            <li>Das Verschwinden - Der Atlantikwall um Cap Ferret, Academy of Fine Arts, Vienna (A)</li>
            <li>Baume &amp; Mercier Award, Westlicht, Vienna (A)</li>
          </ul>
        </article>

        <article>
          <h2>2007</h2>
          <ul>
            <li>Empire de la lumière, Hegelstrasse , Basle (CH)</li>
            <li>Viennafair ‘07, Messegelände, Vienna (A)</li>
            <li>Kraftwerke, Verbund, Am Hof, Vienna (A)</li>
            <li>Size does matter, Month of photography (A)</li>
          </ul>
        </article>

        <article>
          <h2>2006</h2>
          <ul>
            <li>White Club Space #01, Salzbourg (A)</li>
            <li>Economy Class, Alliance Francaise, Nairobi (KE)</li>
          </ul>
        </article>

        <article>
          <h2>2005</h2>
          <ul>
            <li>Der Zweite Blick, Focus Award, Dortmund (D)</li>
          </ul>
        </article>

        <article>
          <h2>2004</h2>
          <ul>
            <li>Nice To Meet You, Reflexe, Paris (F)</li>
          </ul>
        </article>
      
      </section>
    </div>
    <div class="exhibition-block">
      <section class="exhibition-category">
        <h1>FILM SCREENINGS: (selection)</h1>
        <article>
          <h2>2012</h2>
          <ul>
            <li>Zwischenspiel, Vertikale Galerie, Verbund HQ, Vienna (A)</li>
          </ul>
        </article>

        <article>
          <h2>2011</h2>
          <ul>
            <li>Vor Ort, Kölnbreinsperre, Maltatal (A)</li>
          </ul>
        </article>

        <article>
          <h2>2010</h2>
          <ul>
            <li>Werkschau, Galerie Schloss Puchheim (A)</li>
            <li>Escape The Golden Cage, MAK, Vienna (A)</li>
            <li>Redefining the Atlantic Wall, Amersfoort (NL)</li>
            <li>VIS - Vienna Independent Shorts, Topkino (A)</li>
          </ul>
        </article>            

        <article>
          <h2>2009</h2>
          <ul>
            <li>Crossing Europe Film Festival, Linz (A)</li>
            <li>Nacht-Notte, Galerie Foto-Forum, Bolzano (I)</li>
            <li>The Essence, Galerie Art Fort Revue, Bruxxels (B)</li>
            <li>Kunstmesse Linz, Landesgalerie Linz (A)</li>
          </ul>
        </article>            

        <article>
          <h2>2008</h2>
          <ul>
            <li>Film:Riss Student Film-Festival, Salzburg (A)</li>
            <li>VIS - Vienna Independent Shorts, Topkino (A)</li>
            <li>After Urban - Video Art and Architecture<br>- Center for Contemporary Arts Moscow (RUS)</li>
            <li>Kunstmesse Linz, Landesgalerie Linz (A)</li>
          </ul>
        </article>  

        <article>
          <h2>2007</h2>
          <ul>
            <li>Ursula Blicke Archiv, Kunsthalle Vienna (A)</li>
            <li>Empire de la lumière, Hegelstrasse , Basle (CH)</li>
            <li>AVIS - Vienna Independent Shorts, Topkino (A)</li>
            <li>After Urban - Video Art and Architecture <br>
            - Monkeytown, Brooklyn, New York (US) <br>
            - Experimental Film-Festival, Carbunari (I)
            </li>
          </ul>
        </article>  

        <article>
          <h2>2006</h2>
          <ul>
            <li>Film:Riss Student Film-Festival, Salzburg (A)</li>
            <li>White Club Space #01, Salzbourg (A)</li>
            <li>Open Cinema Festival, St. Petersburg (RUS)</li>
            <li>VIS - Vienna Independent Shorts, Topkino (A)</li>
            <li>Untitled_in_case_no_01 in 13 independent cinemas (A)</li>
          </ul>
        </article>  

        <article>
          <h2>Permanent:</h2>
          <ul>
            <li>Ursula Blicke Archiv, Kunsthalle WIen, Vienna (A)</li>
          </ul>
        </article>

      </section>
    </div>

    <div class="exhibition-block last">
      <section class="exhibition-category">
        <h1>COLLECTIONS:</h1>
        <article>
          <ul>
            <li>Adrian Riklin Trust Fund (A)</li>
            <li>Verbund Art Collection (A)</li>
            <li>Museum der Moderne, Rupertinum Salzburg (A)</li>
            <li>Kunstsammlung des Landes Oberösterreich (A)</li>
            <li>Private Collections (A, CH, D, JP, ...)</li>
          </ul> 
        </article>
      </section>

      <section class="exhibition-category">
        <h1>AWARDS &amp; ATTRIBUTIONS:</h1>
        <article>
          <ul>
            <li>Official Nomination by the Austrian Government for Foreign Affaires for “Jeux de la Francophonie”, Nice 2013</li>
            <li>Artist in Residency, bm:ukk, Cite des Arts, Paris 2012</li>
            <li>Artist in Residency, Verbund, Kölnbreinsperre 2011</li>
            <li>Docuzone Austria Shortfilm Jury-Award 2006</li>
          </ul> 
        </article>
      </section>

      <section class="exhibition-category">
        <h1>PUBLICATIONS:</h1>
        <article>
          <ul>
            <li>Foukauld - La Disparition, Markus Oberndorfer (Ed.), Oktober 2012, Fotohof edition</li>
            <li>21er Haus - Zurück in die Zukunft - Ein retroperspektiver</li>
            <li>Blick auf ein Museum, 2011, Belevedere</li>
            <li>Eikon #71, Artist Pages, 2010</li>
            <li>International Designers Network, Japan ...</li>
            <li>Exhibition Catalogues ...</li>
          </ul> 
        </article>
      </section>

      <section class="exhibition-category">
        <h1>INTRODUCING TEXTS &amp; PRESS</h1>
        <article>
          <ul>
            <li>Inge Marszolek (Foukauld - La Disparition)</li>
            <li>Wolf Langewitz (Foukauld - La Disparition)</li>
            <li>Lydia Nsiah (Foukauld - La Disparition Ltd Box)</li>
            <li>Anna Stuhlpfarrer (Eikon # 84)</li>
            <li>Ruth Horak (Eikon #71)</li>
          </ul> 
        </article>
      </section>

    </div>
  </section>
</div>