---
title: "Markus Oberndorfer: CV"
section: "cv"
layout: "layout_simple"
---



  <section class="cv cv-section" id="cv">
    <table>
      <tr class="cv-intro">
        <th>7/1980</th>
        <td>Born / Ohlsdorf / Gmunden / Upper Austria / Mag.art </td>
      </tr>
      <tr>
        <th>9/2010</th>
        <td>Invitation to / presentation of “La Disparition - Le mur de l’Atlantique“ at the International Expert<br />
		Meeting “Redefining the Atlantic Wall“, Cultural Heritage Agency (RCE), Amersfoort, NL</td>
      </tr>
      <tr>
        <th>11/2008</th>
        <td>Diploma Academy of Fine Arts Vienna (Matthias Herrmann, with mention)</td>
      </tr>
      <tr>
        <th>2003 - 2008</th>
        <td>Art &amp; Photography, Academy of Fine Arts Vienna (Eva Schlegel, Matthias Herrmann)</td>
      </tr>
      <tr>
        <th>2002 - 2003</th>
        <td>School for Artistic Photography Vienna (Friedl Kubelka)</td>
      </tr>
      <tr>
        <th>2007 - 2008</th>
        <td>Student Assistant, Academy of Fine Arts Vienna (Thomas Freiler)</td>
      </tr>
      <tr>
        <th>2005 - 2007 </th>
        <td>Symposia of Society for New Phenomenology (Hermann Schmitz)</td>
      </tr>
      <tr>
        <th>2001 - 2009</th>
        <td>Photo Assistant (Jork Weismann, Felix Friedmann)</td>
      </tr>
      <tr>
        <th>2001 - </th>
        <td>Color-Fine-Art Printing in the photographic darkroom</td>
      </tr>
    </table>

  </section>

  <section class="cv-section">
    <div class="exhibition-block">
      <section class="exhibition-category">
        <h1>EXHIBITIONS &amp; SCREENINGS: (selection)</h1>
        <article>
          <h2>2014</h2>
          <ul>
      			<li>"Monat der Fotografie Wien", Institut Français Wien, 29.10.2014 - (A)</li>
      			<li>"Autrement on devient fou..... (OmdU)" Book presentation, Institut Français Wien, 29.10.2014 (A)</li>
      			<li>"Monat der Fotografie Berlin", Gallery Loris, -08.11.2014 (D)</li>
      			<li>"The making of Austria", MQ Wien, with Kunsthalle Wien (A)</li>
      			<li>"SilvrettAtelier 2014", Bielerhöhe (A)</li>
      			<li>"Dialogue #05", Markus Oberndorfer &amp; Max Schaffer, DI∞G, Vienna (A)</li>
      			<li>"Artist Talk &amp; Guest Teacher", Nordic Art School Kokkola (FI)</li>
      			<li>"Am Ende der Sehnsucht. Fotografische Positionen zu Tod und Meer", Kunstraum Sylt:Quelle(D)</li>
      			<li>"Artist Talk. Under Pressure", Museum of Modern Art Mönchsberg, Salzburg (A)</li>
          </ul>
        </article>

          <h2>2013</h2>
          <ul>
          	<li>"Fragile", Bawag Contemporary, Vienna (A)</li>
          	<li>"Preise &amp; Talente 2013", Award ceremony &amp; exhibition, OÖ Kulturquartier, Linz (A)</li>
      			<li>"Under Pressure", Museum of Modern Art Mönchsberg, curated by Katja Mittendorfer-Oppolzer, Salzburg (A)</li>
      			<li>"Se Souvenir", fading work &amp; exhibition, La Pointe du Cap Ferret (F)</li>
      			<li>"VII.Jeux de la Francophonie", Concours Culturel, Nice (F)</li>
              	<li>"Hohe Dosis", Atterseehalle, Attersee (A)</li>
              	<li>"gesammelt", Galerie Tracklhaus, Salzburg (A)</li>
      			<li>"Am Ende der Sehnsucht. Fotografische Positionen zu Tod und Meer", Altonaer Museum für Kunst und Kulturgeschichte, Hamburg (D)</li>
      			<li>"Cash, Cans &amp; Candy", Galerie Ernst Hilger, Vienna (A)</li>
      			<li>"What Would Thomas Bernhard Do?", Kunsthalle Wien, Vienna (A)</li>
      			<li>"Land in Sicht!", Museum of Modern Art Mönchsberg, Salzburg (A)</li>
      			<li>"The Side of Things", Photowall, MQ Vienna (A)</li>
      			<li>"Foukauld - La Disparition...", Bookpresentation, OstLicht, Gallery for Photography, Vienna (A)</li>
      			<li>"Industrie", OstLicht, Gallery for Photography, Vienna (A)</li>
          </ul>
        </article>

        <article>
          <h2>2012</h2>
          <ul>
            <li>Expanded Field Of Photography, W:end:y, Vienna (A)</li>
			<li>Young Austrian Photography, Architecture & Landscape, Photoweek Washington DC (US)</li>
            <li>Zwischenspiel, Vertikale Galerie, Verbund HQ, Vienna (A)</li>
			<li>Die Letzte Weltausstellung, Gschwandner, Vienna (with Busk) (A)</li>
            <li>Frankfurter Buchmesse, Foukauld (Book), Frankfurt (D)</li>
          </ul>
        </article>

        <article>
          <h2>2011</h2>
          <ul>
            <li>Vor Ort, Kölnbreinsperre, Maltatal (A)</li>
          </ul>
        </article>

        <article>
          <h2>2010</h2>
          <ul>
            <li>Werkschau, Galerie Schloss Puchheim, (A)</li>
            <li>Redefining the Atlantic Wall, Amersfoort, (NL)</li>
            <li>Escape The Golden Cage, MAK, Vienna (A)</li>
            <li>Swim At Own Risk, Hollmann &amp; Lhotka, Vienna</li>
            <li>VIS - Vienna Independent Shorts, Topkino (A)</li>
          </ul>
        </article>

        <article>
          <h2>2009</h2>
          <ul>
            <li>Crossing Europe Film Festival, Linz (A)</li>
            <li>Nacht-Notte, Galerie Foto-Forum, Bolzano (I)</li>
            <li>Juried Artists, Bäckerstrasse 4, Vienna (A)</li>
            <li>The Essence, Galerie Art Fort Revue, Bruxxels (B)</li>
            <li>Kunstmesse Linz, Landesgalerie Linz (A)</li>
          </ul>
        </article>

        <article>
          <h2>2008</h2>
          <ul>
            <li>Das Verschwinden - Der Atlantikwall um Cap Ferret, Academy of Fine Arts, Vienna (A)</li>
            <li>Film:Riss Student Film-Festival, Salzburg (A)</li>
            <li>VIS - Vienna Independent Shorts, Topkino (A)</li>
            <li>After Urban - Video Art and Architecture<br>- Center for Contemporary Arts Moscow (RUS)</li>
            <li>Baume &amp; Mercier Award, Westlicht, Vienna (A)</li>
          </ul>
        </article>

        <article>
          <h2>2007</h2>
          <ul>
            <li>Empire de la lumière, Hegelstrasse , Basle (CH)</li>
            <li>Viennafair ‘07, Messegelände, Vienna (A)</li>
            <li>Kraftwerke, Verbund, Am Hof, Vienna (A)</li>
            <li>Size does matter, Monat der Fotografie (A)</li>
            <li>Ursula Blicke Archiv, Kunsthalle Vienna (A)</li>
            <li>Empire de la lumière, Hegelstrasse , Basle (CH)</li>
            <li>AVIS - Vienna Independent Shorts, Topkino (A)</li>
            <li>After Urban - Video Art and Architecture <br>- Monkeytown, Brooklyn, New York (US) <br>- Experimental Film-Festival, Carbunari (I)</li>
          </ul>
        </article>

        <article>
          <h2>2006</h2>
          <ul>
            <li>White Club Space #01, Salzbourg (A)</li>
            <li>Economy Class, Alliance Francaise, Nairobi (KE)</li>
            <li>Film:Riss Student Film-Festival, Salzburg (A)</li>
            <li>Open Cinema Festival, St. Petersburg (RUS)</li>
            <li>VIS - Vienna Independent Shorts, Topkino (A)</li>
            <li>Untitled In Case No_01 as supporting film for "China Blue" in 13 independent cinemas across Austria (A)</li>
          </ul>
        </article>

        <article>
          <h2>2005</h2>
          <ul>
            <li>Der Zweite Blick, Focus Award, Dortmund (D)</li>
          </ul>
        </article>

        <article>
          <h2>2004</h2>
          <ul>
            <li>Nice To Meet You, Reflexe, Paris (F)</li>
          </ul>
        </article>

      </section>
    </div>
    <div class="exhibition-block">
      <section class="exhibition-category">
        <h1>PUBLICATIONS &amp; FEATURES:</h1>
        <article>
          <ul>
            <li>Eikon #87, "Autrement on devient fou..... OmdU" Rezension, upcoming 2014 (D)</a></li>
		  	<li>Autrement on devient fou..... Markus Oberndorfer (English Version &amp; 7inch record) early 2015</li>
		  	<li><a href="/autrement-on-devient-fou/index.html" target="_blank">Autrement on devient fou..... (OmdU), Markus Oberndorfer (Ed.), Selfpublished, June 6, 2014 (D/F) </li>
		  	<li><a href="/cv/downloads/ooe-nachrichten.pdf" target="_blank">Künstlerportrait, OÖ Nachrichten 11/6/2014, (D)</a></li>
            <li><a href="/cv/downloads/Furche-Under-Pressure-MdM.pdf" target="_blank">Furche 49/2013, In die weite Welt hinein (D)</a></li>
            <li><a href="/cv/downloads/Oberndorfer-Tips.pdf" target="_blank">Tips, Förderprämie für Ohlsdorfer Künstler (D)</a></li>
            <li><a href="/cv/downloads/Oberndorfer-LKP_Katalog_13.pdf" target="_blank">Preise &amp; Talente 2013, Land OÖ, Direktion Kultur (D)</a></li>
            <li class="download"><a href="/cv/downloads/Anne-Debaumarche-L-Autrichien-qui-fait-parler-les-blockhaus-Cap-Ferret.pdf" target="_blank">L'Autrichien qui fait parler les blockhauses, Dépêche du Bassin, 9/2013 (F)</a></li>
            <li><a href="/cv/downloads/Oberndorfer-Photonews-Rezension.pdf" target="_blank">Photonews #7&amp;8/2013, Foukauld Rezension, 2013 (D)</a></li>
            <li><a href="/cv/downloads/Oberndorfer-Eikon-Rezension.jpg" target="_blank">Eikon #81, Foukauld Rezension, 2013 (D)</a></li>
            <li>Wotruba. Leben, Werk und Wirkung (21erHaus, Brandstätter 2013) </li>
            <li><a href="/foukauld/book.html" target="_blank">Foukauld - La Disparition, Markus Oberndorfer (Ed.), Fotohof edition, 2012 (D/F/E)</a></li>
            <li>21er Haus - Back to the future - A retroperspective look at a Museum, Galerie Schloss Belvedere 2011</li>
			<li>Starwax Magazine N°23, Kalhex Interview, 2011</li>
			<li>Vor Ort, Artist Residency Catalogue, 2011</li>
            <li><a href="/cv/downloads/Oberndorfer-Eikon-Artist_Pages.pdf" target="_blank">Eikon #71, 8 Artist Pages, 2010 (D/E)</a></li>
            <li>International Designers Network, Japan, 2010</li>
            <li>Nacht/Notte, Foto-Forum, 2009</li>
            <li>More exhibition Catalogues, ...</li>
          </ul>
        </article>
      </section>

      <section class="exhibition-category">
        <h1>INTRODUCING TEXTS:</h1>
        <article>
          <ul>
            <li><a href="/foukauld/essay-marszolek.html" target="_blank">Inge Marszolek (Foukauld Monography, D/F/E)</a></li>
            <li><a href="/foukauld/essay-langewitz.html" target="_blank">Wolf Langewitz (Foukauld Monography, D/F/E)</li>
            <li><a href="/omega-point/essay.html" target="_blank">Lydia Nsiah (Foukauld Monography Ltd Box, D/F/E)</a></li>
            <li><a href="/foukauld/downloads.html" target="_blank">Ruth Horak (Eikon #71, D/E)</a></li>
            <li><a href="/cv/downloads/Oberndorfer-Photonews-Rezension.pdf" target="_blank">Christoph Schaden (Foukauld Rezension, D)</a></li>
            <li><a href="/photography/expect.html" target="_blank">Markus Oberndorfer (What I expect from ..., D/F/E)</a></li>
          </ul>
        </article>

      <section class="exhibition-category">
        <h1>INTERVIEW:</h1>
        <article>
          <ul>
            <li><a href="http://www.vimeo.com/46151370" target="_blank">Die Krieger des Lichts (Video)</a></li>
            <li><a href="http://www.max.de/lifestyle/urban-art/markus-oberndorfer/" target="_blank">Verliebt in Verfall (max.de)</a></li>
          </ul>
        </article>
      </section>

      </section>
    </div>

    <div class="exhibition-block last">
      <section class="exhibition-category">
        <h1>COLLECTIONS:</h1>
        <article>
          <ul>
			<li>Riklin Foundation</li>
            <li>Art Collection bm:ukk MdM Salzburg</li>
            <li>Art Collection Land Oberösterreich</li>
            <li>Art Collection Stadt Wien</li>
            <li>Art Collection Verbund</li>
            <li>Private Collections (A, CH, D, JP, ...)</li>
          </ul>
        </article>
      </section>

      <section class="exhibition-category">
        <h1>AWARDS &amp; ATTRIBUTIONS:</h1>
        <article>
          <ul>
            <li>SilvrettAtelier 2014, Illwerke, Bielerhöhe 2014</li>
            <li>Talent Award 2013, Land Oberösterreich, Bildende Kunst</li>
            <li>Selection and Nomination by the Austrian Foreign Ministry (bm:eia) and OIF to represent Austria at “Jeux de la Francophonie”, Nice 2013 </li>
            <li>Nomination for DZ-Bank Work-Stipendium </li>
            <li>Gold at European Design Awards 2013 for best single poster, bith bueronardin</li>
            <li>Artist in Residency, bm:ukk, Cite des Arts, Paris 2012</li>
            <li>Artist in Residency, Verbund, Kölnbreinsperre, Malta 2011</li>
            <li>Docuzone Austria Shortfilm Jury-Award 2006</li><br />
            <li>Project-specific support by bm:ukk, Forum Culturel Autrichien and Direktion Kultur OÖ</li>
          </ul>
        </article>
      </section>

      <section class="exhibition-category">
        <h1>DOWNLOAD:</h1>
        <article>
          <ul>
            <li><a href="/cv/downloads/CV-Markus-Oberndorfer-D.pdf" target="_blank">CV Markus Oberndorfer (D)</a></li>
            <li>Please scroll over "Introducing Texts" and "Publications &amp; Features". Highlighted phreases lead to downloads.</li>
          </ul>
        </article>
      </section>

    </div>
  </section>
</div>