<div class="subnav-section">
  <h1>Foukauld - La Disparition:</h1>
  <ul>
    <li>
      <a href="index.html">Book &amp; Ltd Box</a>
    </li>
    <li>
      <a href="slides.html">La Disparition Slide</a>
    </li>
    <li>
      <a href="essay-marszolek.html">Essay Inge Marszolek (E/F/D)</a>
    </li>
    <li>
      <a href="essay-oberndorfer.html">Essay M. Oberndorfer (E/F/D)</a>
    </li>
    <li>
      <a href="essay-langewitz.html">Essay Wolf Langewitz (E/F/D)</a>
    </li>            
    <li>
      <a href="credits.html">Credits &amp; Support</a>
    </li>
    <li>
      <a href="downloads.html">Downloads</a>
    </li>
  </ul>    
</div>

<div class="subnav-section">
  <h1>Related Projects:</h1>
  <ul>
    <li>
      <a href="/omega-point/">Omega Point</a>
    </li>
    <li>
      <a href="/autrement-on-devient-fou/">AUTREMENT ON DEVIENT FOU...</a>
    </li>
  </ul>    
</div>