---
title: "Markus Oberndorfer: SOUND"
section: "sound"
---

<% content_for :subnav do %>
  <%= partial "partials/sound/navigation" %>
<% end %>


<div class="project">
  <section class="project-stage">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="/sound/img/oberndorfer-dead-drop.jpg" />
        </li>
      </ul>
    </div>
  </section>
</div>


<div class="project">
  <section class="project-stage">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=483197350/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://sirlensalot.bandcamp.com/album/darkroom-debuts">Darkroom Debuts by Lens J (aka Lenson Piquet)</a></iframe>
        </li>
      </ul>
    </div>
  </section>
</div>

  <section class="project-info">
    <section class="project-facts">
      <h1>DARKROOM DEBUTS / 2016</h1>
      <p>
      Premasters of a 3 Track Deep House/House Ep with a lyrical focus on self portrayal, narcissism and photographic darkroom work. </br> All tracks correlate with the topic of my exhibition "Legends Never Die". The Title is a conscious quote with regard to the popular "Boiler Room Debuts" (check youtube)
      </p>
      <p class="project-credits">
      All Ep Premasters are exclusively available on a DEAD DROP in my exhibition "Legends Never Die". Strauchgasse 2, 1010 Vienna. To get it you have to go see the exhibition.
      </p>
    </section>

    <section class="project-description">
      <h1>TRACKLISTING:</h1>
      <p>
      Track 01: Home Is Where (You Clean Your Darkroom)</br>
      Track 02: Higher Than The Universe (When I Pose Out)</br>
      Track 03: Good Things Grow</br>
      </p>

      <h1>GENERAL CREDITS:</h1>
      <p>
      All tracks produced by Lens J (aka Lenson Piquet) </br>
      Premastered by Dj Kompact, © Lens 2015 </br>  
    </section>

  </section>
</div>

