---
title: "Inherited DEMOVIDEO"
section: "photography"
---

<% content_for :subnav do %>
  <%= partial "partials/photofilm/navigation" %>
<% end %>


<div class="project">
  <section class="project-stage">
    <div id="video" class="video">
        <iframe src="http://player.vimeo.com/video/81816676?color=ffffff" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
  </section>
  <section class="project-info">
    <section class="project-facts">
      <h1>INHERITED / BRANDSTIFTUNG / 2013</h1>
      <p>
      Inherited (Luftbild 105/177, Ohlsdorf 1984, Original: Analog C-Print, 28 x 22cm)<br />
	  Brandstiftung, Track by Markus Oberndorfer (Vocals: Erik Leidal, Thomas Bernhard)<br />
	  © Markus Oberndorfer 2013
      </p>
      <p class="project-credits">
	  <ul class="dashed-list">
	  <li>Vinylpostcard (Lathecut 5")</li>
	  <li>Edition: 100</li>
	  </ul>
      </p>
    </section>
    <section class="project-description">
      <p>
      Track contains samples of Krista Fleischmann, Monologe auf Mallorca & Die Ursache bin ich selbst — Die großen Interviews mit Thomas Bernhard, 1981/1986, 94 Min, With the kind permission of Krista Fleischmann; Suhrkamp, Frankfurt am Main, 2008. Produced in connection with Erik Leidal's Intermezzi during WWTBD - What Would Thomas Bernhard Do: 17/5 - 26/5 2013, Kunsthalle Wien. Available At: <a href="http://www.kunsthallewien.at/information/shop" target="_blank">Kunsthalle Wien Shop MQ</a> for 15,00€. Download mp3 via <a href="http://sirlensalot.bandcamp.com/releases" target="_blank">bandcamp</a>
      </p>
      <p>
      "Austerity will rise modesty" — "Meine Aufgabe vor mir und niemandem anderen ist irgendwie; etwas zu Wege zu bringen aus dem Kopf ..." — "Nicht?"
      </p>
    </section>

  </section>
</div>