---
title: "Inherited DEMOVIDEO"
section: "photography"
---

<% content_for :subnav do %>
  <%= partial "partials/photography/navigation" %>
<% end %>


<div class="project">
  <section class="project-stage">
    <div id="video" class="video">
        <iframe src="http://player.vimeo.com/video/81816676?color=ffffff" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
  </section>

<div class="project">
  <section class="project-stage">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="img/oberndorfer-inherited.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-inherited-2nd-house.jpg" />
        </li>
      </ul>
    </div>
  </section>
</div>

  <section class="project-info">
    <section class="project-facts">
      <h1>INHERITED / BRANDSTIFTUNG / 2013</h1>
      <p>
      Inherited ("Luftbild 105/177", Ohlsdorf 1984, Original: Analog C-Print, 28 x 22cm)<br />
	  Brandstiftung (Arson) Track by Markus Oberndorfer. Vocals: Erik Leidal, Thomas Bernhard<br />
	  © Markus Oberndorfer 2013, Vinylpostcard (Lathecut 5"), Edition: 100
      </p>
      BUY HERE: </br>
      <a href="http://sirlensalot.bandcamp.com/releases" target="_blank">Sirlensalot Bandcamp</a></br><a href="http://www.kunsthallewien.at/information/shop" target="_blank">Kunsthalle Wien Shop MQ</a>
	  </ul>
      </p>
    </section>
    <section class="project-description">
      <p>
      The framed photograph shows my childhood home in Ohlsdorf (Upper Austria) in the 1980s. A village where Thomas Bernhard also used to live at that time. It is the only object I inherited from my grandparents besides their legacy. After returning from the war, my grandfather was kicked out of his mountain farmers parents home. My grandmother was the bastard child of a maidservant. Life in a strict-catholic rural post-war village must have been hard. Everything from scratch and making family work aswell. Their first home (a 4x4m wooden hut on stilts) was built in a small quarry that was donated by the neighboring church for which grandmother was working in construction. The quarry they were given was still scattered with stones that had to be removed. There was no electricity or running water until later they dugg their own water pipeline through the small forest behind the houses. Years passed until my father (as the youngest son of six kids) inherited the first house built with bricks when I was born. There was one room in the entire house that could be heated. This was in 1980. Its not the life most of us live nowadays. And still we inherit a part of this legacy that is given from one generation to the next, no matter if we want or not. "Inherited / Branstiftung".

      Lyrics: Erik Leidal - "Austerity will rise modesty" / Thomas Bernhard - "Meine Aufgabe vor mir und niemandem anderen ist irgendwie; was zu Wege zu bringen aus dem Kopf. Und das heisst für Bücher zu schreiben oder halt Sätze aneinander zu reihen; Gedanken. Und die kommen hier halt besser als oben. Nicht? Wenn's mir in Österreich den Hals zuschnürt, dann fahr ich halt da herunter und das ist ideal. Nicht?"
      </p>
      <p>
      Lyrics: Erik Leidal - "Austerity will rise modesty" / Thomas Bernhard - (Free translation): "My mission, towards myself and nobody else somehow is, to generate something out of my head; which means to write books or to just string sentences together; thoughts. And these thoughts are just coming up much easier here than up there. Don’t they? If it's getting to much for me in Austria, I'll just make my way down here and that is ideal. Isn’t it?“
      </p>
      <p>
       Track contains samples of Krista Fleischmann, Monologe auf Mallorca &amp; Die Ursache bin ich selbst — Die großen Interviews mit Thomas Bernhard, 1981/1986, 94 Min, With the kind permission of Krista Fleischmann; Suhrkamp, Frankfurt am Main, 2008. Produced in connection with Erik Leidal's Intermezzi during WWTBD - What Would Thomas Bernhard Do: 17/5 - 26/5 2013, Kunsthalle Wien. 
      </p>
    </section>

  </section>
</div>