---
title: "Inherited: PHOTOFILM"
section: "photofilm"
---

<% content_for :subnav do %>
  <%= partial "partials/photofilm/navigation" %>
<% end %>


<div class="project">
  <section class="project-stage">
    <div id="video" class="video">
        <iframe src="http://player.vimeo.com/video/81816676?color=ffffff" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
  </section>
  <section class="project-info">
    <section class="project-facts">
      <h1>INHERITED / BRANDSTIFTUNG / 2013</h1>
      <p>
      Inherited (Luftbild 105/177, Ohlsdorf 1984, C-Print, 28 x 22cm)<br />
	  Brandstiftung, Track by Sirlensalot (Vocals: Erik Leidal, Thomas Bernhard) <br />
	  © Markus Oberndorfer 2013
      </p>
      <p class="project-credits">
	  <ul class="dashed-list">
	  <li>Vinylpostcard (Lathecut 5")</li>
	  <li>Edition: 100</li>
	  </ul>
      </p>
    </section>
    <section class="project-description">
      <p>
      Track contains samples of Krista Fleischmann, Monologe auf Mallorca & Die Ursache bin ich selbst — Die großen Interviews mit Thomas Bernhard, 1981/1986, 94 Min, With the kind permission of Krista Fleischmann; Suhrkamp, Frankfurt am Main, 2008. Produced in connection with Erik Leidal's Intermezzi during WWTBD - What Would Thomas Bernhard Do: 17/5 - 26/5 2013, Kunsthalle Wien Museumsquartier, #WWTBD
      </p>
      <p>
      Available At: Kunsthalle Wien MQ, Museumsplatz 1, 1070 Wien. More information coming soon.
      </p>
    </section>

  </section>
</div>