---
title: "Photofilm: UNTITLED IN CASE 02"
section: "photofilm"
---

<% content_for :subnav do %>
  <%= partial "partials/photofilm/navigation" %>
<% end %>

<div class="project">
  <section class="project-stage">
    <div id="video" class="video">
        <iframe src="http://player.vimeo.com/video/45870862?color=ffffff" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
  </section>
  <section class="project-info">
    <section class="project-facts">
      <h1>UNTITLED IN CASE 02 / 2006</h1>
      <p>
      3min 18sec, Vienna, 2006<br />
      Starring: Innercity Griot<br />
	  Original: 1920 x 1080 px<br />
      © Markus Oberndorfer 2006
      </p>
      <p class="project-credits">
        Sound taken from Anim<br />
		Written & Produced by Anim<br />
        © Philip Lammer, 2005
      </p>
    </section>
    <section class="project-description">
      <h1>ABOUT THE PROJECT”:</h1>
      <p>
      Number #02 of my series of documentary photofilms on urban and suburban space, it‘s architecture, function and mystic. A snap-shot of urban intervention and the re-dedication of space, questioning, exceeding and training the limits of visual perception. What stays seems to be - at least for me - rather a feeling or impression of what i might have seen, than a concrete image of it [...]
      </p>
      <p>
      [...] Each photo for my photofilms has been taken by consciously pressing the trigger (no scripts or automations). All motion blurs for transitions are the result of moving the photographic process. No effects or graphic elements are used."
      </p>
    </section>

  </section>
</div>