---
title: "Stopmotion: THE CRAB"
section: "photofilm"
---

<% content_for :subnav do %>
  <%= partial "partials/photofilm/navigation" %>
<% end %>

<div class="project">
  <section class="project-stage">
    <div id="video" class="video">
        <iframe src="http://player.vimeo.com/video/56695031?color=ffffff" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
  </section>
  <section class="project-info">
    <section class="project-facts">
      <h1>THE CRAB / 2008</h1>
      <p>
      Endless Loop, Vienna, 2008<br />
	  Starring: Lens<br />
	  Original: 2560 x 1920 px<br />
      © Markus Oberndorfer 2008
      </p>
      <p class="project-credits">
        Contax Aria Shutter<br />
		Arranged by Markus Oberndorfer<br />
      </p>
    </section>
    <section class="project-description">
      <h1>ABOUT THE PROJECT”:</h1>
      <p>
      Part of my stopmotion series "The Riot of Things" [...]
      </p>
      <p>
      [...] Each photo for my photofilms has been taken by consciously pressing the trigger (no scripts or automations). All motion blurs for transitions are the result of moving the photographic process. No effects or graphic elements are used."
      </p>
    </section>

  </section>
</div>