---
title: "Home | Markus Oberndorfer"
layout: "layout_simple"
---


<section class="home" id="home">
  <div class="home-content">
    <section class="home-section">
      <h1>CONTACT</h1>
      <div>
        Markus Oberndorfer (Mag.art)<br>
        sirlensalot(at)gmail.com<br>
        0043 699 110 75 547<br>
        <br>
        THIS WEBSITE WILL SLOWLY BE TRANSFERRED FROM FLASH TO HTML<br>
        OVER THE NEXT MONTHS, MAIN PHOTOGRAPHY & PHOTOFILM MENU ARE <br>
		STILL FLASH BASED. I'M SORRY FOR THE INCONVENIENCES.
		
      </div>
    </section>

    <section class="home-section">
      <h1>CURRENT:</h1>

      <p>OFFICIALLY NOMINATED BY THE “AUSTRIAN FOREIGN MINISTRY” (bmeia) TO REPRESENT AUSTRIA IN THE DISCIPLINE “PHOTOGRAPHY” AT “JEUX DE LA FRANCOPHONIE, NICE, SEPTEMBER 2013”.</p>

      <ul>
        <li>
          <a href="http://www.markusoberndorfer.com/foukauld" target="_blank">Book "FOUKAULD - LA DISPARITION”
          <ul class="dashed-list">
            <li>With essays by Inge Marszolek, Wolf Langewitz and Markus Oberndorfer</li>
            <li>German, French, Englisch. Linen hardcover embossed.</li>
            <li>22,2 x 28,2 cm, 106 pages, 57 color illustrations</li>
            <li>ISBN 978-3-902675-71-2,  Fotohof edition</li>
            <li>Edition: 750, Price: 39€</li>
          </ul>
        </li>
        <li>
          Limited Box "FOUKAULD - LA DISPARITION"
          <ul class="dashed-list">
           <li>Signed and numbered book “Foukauld” (see above)</li>
           <li>Limited, signed and numbered “Edition-print” </li>
           <li>Limited Blu-ray “Omega Point” // Sound by DDay One</li>
           <li><span class="indent">Accompanying Booklet (Fanzine) with essay by Lydia Nsiah <br>
		   about the intermediate image in German, French, English</span></li>
           <li>Edition: 50+3, Price: 250€</li></a>
          </ul>
        </li>
        <li>Lenscapes #02 (Mixed Media Installation)</li>
		<li>Die Letzte Weltausstellung, Das Gschwandner, Vienna (A)</li>
		<li>Zwischenspiel, Vertikale Galerie, VERBUND, Am Hof 6a, 07/2/2013</li>
      </ul>

    </section>

    <section class="home-section">
      <h1>UPCOMING:</h1>
      <ul>
        <li>Expanded Field Of Photography, Wassergasse 6, Vienna (A), -07/12/2012, </li>
		<li><a href="http://www.austria.org/yap/markusoberndorfer.html" target="_blank">Young Austrian Photography, Architecture &amp; Landscape,
		Photoweek Washington DC (US), 14/11/2012 </a></li>
      </ul>
    </section>

    <section class="home-section">
      <h1>COPYRIGHT INFORMATION:</h1>
      <p>All Rights Reserved. Unauthorised copying of any content of this website is prohibited unless stated otherwise. Files that are for download are explicitly marked as such. I don't bite, please ask. Moreover I am not responsible for any content shown on linked websites. Web Programming: Richard Bausek
      </p>
      <p>© Markus Oberndorfer 2003-2012</p>
    </section>

  </div>

  <div class="home-image">
    <a href="/foukauld/"><img src="/img/home_image.jpg" alt="Lens" /></a>
  </div>

</section>
