---
title: "Markus Oberndorfer: CONTACT &amp; HOME"
target: "markus-oberndorfer-contact-home"
layout: "layout_simple"
---


<section class="home" id="home">
  <div class="home-content">

<section class="home-section">
      <h1>CURRENT:</h1>
      <ul>
    <li>LEGENDS NEVER DIE, Bildraum 01, Strauchgasse 2, 1010 Vienna</li>
    <li>6.11.2015 - 4.12.2015, Mo-Fr 13-18:00 and by appointment</li>
    <li><a title="Opens window for sending email" class="mail" href="mailto:markus@markusoberndorfer.com">markus(at)markusoberndorfer.com</a><br>
        &#9990; 0043 699 110 755 47<br></li>
    <li class="download"><a href="/img/oberndorfer-legends-press.pdf" target="_blank">Pressetext</a></li>
  </p>
      </ul>
    </section>


    <section class="home-section">
      <h1>SELECTED &amp; UPCOMING:</h1>
      <ul>
    <li>"Legends Never Die", Bildraum 01, Solo Show, Vienna, 5.11.2015, 19:00 (A)</li>
    <li>"Text:Bild II" (Artist Books), Fotogalerie Wien, Vienna, (A)</li>
    <li>"Paul Busk - Look at me now", Inoperable Gallery, Vienna (A)</li>
    <li>"Page.Print-Post>Make a Book", Main Dade Library, Miami -14.11.2015 (US)</li>
    <li>"Widerstandsmahnmal Bregenz", Concept, Final 5 Shorlist (A)</li>
    <li>"Destination Wien Extended", WellWellWell, Vienna (A)</li>
    <li>"Plasticity - In der Kubatur des Kabinetts", Fluc, Vienna (A)</li>
    <li>"Crossing Europe Filmfestival", Local Artists, Linz (A)</li>
    <li>"SilvrettAtelier", Palais Lichtenstein, Feldkirch (A)</li>
    <li>"Extra Fort @ Recyclart" Talk, Gare Bruxelles-Chapelle, Brussels (B) </li>
    <li>"Dialogue #10", Markus Oberndorfer &amp; Max Schaffer, DI∞G, Vienna (A)</li>
    <li>"Autrement on devient fou....." Expo. &amp; Book presentation, Institut Français Wien (A)</li>
		<li>"Monat der Fotografie Berlin", Galerie Loris, Berlin (D)</li>
		<li>"Dialogue #05", Markus Oberndorfer &amp; Max Schaffer, DI∞G, Vienna (A)</li>
		<li>"Artist Talk &amp; Guest Teacher", Nordic Art School Kokkola (FIN)</li>
		<li>"Artist Talk", Museum of Modern Art Mönchsberg, Salzburg (A)</li>
		<li>"Under Pressure", Museum of Modern Art Mönchsberg, Salzburg (A)</li>
    <li>"Preise &amp; Talente", Award ceremony &amp; exhibit, OK Linz (A)</li>
		<li>"Se Souvenir", performance &amp; installation, La Pointe du Cap Ferret (F)</li>
		<li>"VII.Jeux de la Francophonie", Concours Culturel, Nice (F)</li></p>
      </ul>
    </section>

    <section class="home-section">
      <h1>CONTACT:</h1>
      <div>
        <a title="Opens window for sending email" class="mail" href="mailto:markus@markusoberndorfer.com">markus(at)markusoberndorfer.com</a><br>
        <a href="http://sirlensalot.tumblr.com" target="_blank">Sirlensalot Tumblr</a></p>
        All photographic works are limited to 3+2Ap or 5+2Ap.<br>
        For price and availability pls contact me via email<br>
      </ul>
    </div>
    </section>

    <section class="home-section">
      <h1>COPYRIGHT INFORMATION:</h1>
      <p>Some projects require a password. Feel free to write an email to receive it for curatorial purposes. The content and works published on this website are governed by the copyright laws of Austria. Any duplication, processing, distribution or any form of utilisation beyond the scope of copyright law shall require the prior written consent of the author in question. Means: If you are interested, please ask. I am not responsible for any content shown on linked websites. In all cases, the provider of information of the linked websites is liable for the content and accuracy of the information provided.
      </p>
      <p>
      Web Programming: 
      <a href="https://www.linkedin.com/pub/richard-bausek/43/356/a71" target="_blank">Richard Bausek </a> </br>
      Maintenance: M. Oberndorfer </br>
      All Rights Reserved. © 2015</p>
    </section>

  </div>

<div class="project">
  <section class="project-stage">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="img/Oberndorfer-Legends.jpg" />
        </li>
        <li>
          <img src="img/bildraum-einladung-02.jpg" />
        </li>
        <li>
          <img src="img/bildraum-einladung-01.jpg" />
        </li>
        <li>
          <img src="img/busk-and-oberndorfer.jpg" />
        </li>
        <li>
          <img src="img/Oberndorfer-autrement.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-parnass-utopien.jpg" />
        </li>
        <li>
          <img src="img/Oberndorfer-blockhaus-la-depeche.jpg" />
        </li>
      </ul>
    </div>
  </section>
  <section class="project-info">
    <section class="project-facts">

</section>
