---
title: "Markus Oberndorfer: CONTACT &amp; HOME"
target: "markus-oberndorfer-contact-home"
layout: "layout_simple"
---


<section class="home" id="home">
  <div class="home-content">
    <section class="home-section">
      <h1>CONTACT:</h1>
      <div>
        Markus Oberndorfer (Mag.art)<br>
        sirlensalot(at)gmail.com<br>
        +43 699 110 755 47<br>
      </div>
    </section>

    <section class="home-section">
      <h1>DATES FOR 2013:</h1>
      <ul>
        <li>
       <!-- <li>"Under Pressure", Museum of Modern Art Mönchsberg, Salzburg (A), to be confirmed</li> -->	
		<li>"VII.Jeux de la Francophonie", Concours Culturel, Nice (F), 06.09.2013-15.09.2013</li>
		<li>"Am Ende der Sehnsucht. Fotografische Positionen zu Tod und Meer", Altonaer Museum für Kunst und Kulturgeschichte, Hamburg (D), 19.6.2013-06.10.2013 </li>
		<li>"Cash, Cans &amp; Candy", Galerie Ernst Hilger, Vienna (A), 31.05.2013-18.10.2013</li>
		<li>"What Would Thomas Bernhard Do?", Wiener Festwochen, Vienna (A), 17.05.2013-26.05.2013</li>
		<li>"Foukauld - La Disparition...", Bookpresentation, OstLicht, Gallery for Photography, Vienna (A), 22.03.2013</li>
		<li>"Land in Sicht!", Museum of Modern Art Mönchsberg, Salzburg (A), 21.03.2013-23.06.2013</li>
		<li>"The... Side of Things", Photowall, Halle.Cafe.Restaurant der Kunsthalle und der Wiener Festwochen, MQ Vienna (A), 19.03.2013-21.07.2013</li>
		<li>"Industrie", OstLicht, Gallery for Photography, Vienna (A), 24.01.2013-30.03.2013</li>
		<li>"Zwischenspie"l, Vertikale Galerie, Verbund HQ, Vienna (A), 21.10.2013-07.02.2013 </li>
		<li><a href="http://www.austria.org/yap/markusoberndorfer.html" target="_blank">"Young Austrian Photography, Architecture &amp; Landscape",
		Photoweek Washington DC (US)</a></li>
		</li>
       	<li>IT'S OFFICIAL: AUSTRIA'S CONTESTANT AT "VII. JEUX DE LA FRANCOPHONIE" IN NICE, CONCOURS CULTUREL, SEPTEMBER 2013”.</p>
      </ul>
    </section>

    <section class="home-section">
      <h1>RECENTLY UPDATED:</h1>
      <ul>
        <li><a href="http://www.markusoberndorfer.com/projects/21er-haus/">"21er-Haus" (Photography)</a></li>
        <li><a href="http://www.markusoberndorfer.com/projects/parisian-spring/">"Parisian Spring" (Photography)</a></li>
        <li><a href="http://www.markusoberndorfer.com/projects/kalhex/">"Chez Kalhex" (Photography, Audio)</a></li>
        <li><a href="http://www.markusoberndorfer.com/projects/hainburgerstrasse/">"Hainburgerstrasse" (Photography)</a></li>
        <li><a href="http://www.markusoberndorfer.com/projects/lenscapes-02/">"Lenscapes #02" (Mixed Media)</a></li>
      </ul>
    </section>

    <section class="home-section">
      <h1>PUBLICATION:</h1>
	  <ul>
        <li>
          <a href="http://www.markusoberndorfer.com/foukauld" target="_blank">Monography "FOUKAULD - LA DISPARITION”</a>
          <ul class="dashed-list">
            <li>With essays by Inge Marszolek, Wolf Langewitz and Markus Oberndorfer</li>
            <li>German, French, English. Linen hardcover embossed.</li>
            <li>22,2 x 28,2 cm, 106 pages, 57 color illustrations</li>
            <li>ISBN 978-3-902675-71-2,  Fotohof edition</li>
            <li>Edition: 750</li>
          </ul>
        </li>
        <li>
          <a href="http://www.markusoberndorfer.com/foukauld" target="_blank">Limited Box "FOUKAULD - LA DISPARITION"</a>
          <ul class="dashed-list">
           <li>1 Signed and numbered book “Foukauld” (see above)</li>
           <li>1 Limited, signed and numbered “Edition-print” </li>
           <li>1 Limited Blu-ray “Omega Point” // Sound by DDay One</li>
           <li><span class="indent">1 Accompanying Booklet (Fanzine) with essay by Lydia Nsiah <br>
		   about the intermediate image in German, French, English</span></li>
           <li>Edition: 50+3</li>
          </ul>
    </section>

    <section class="home-section">
      <h1>COPYRIGHT INFORMATION:</h1>
      <p>All Rights Reserved. Unauthorised copying of any content of this website is prohibited unless stated otherwise. Files that are for download are explicitly marked as such. I don't bite, please ask. Moreover I am not responsible for any content shown on linked websites. Web Programming: Richard Bausek
      </p>
      <p>© Markus Oberndorfer 2003-2013</p>
    </section>

  </div>

  <div class="home-image">
    <a href="/foukauld/"><img src="/img/home_image.jpg" alt="Lens" /></a>
  </div>

</section>
