---
title: "Markus Oberndorfer: CONTACT &amp; HOME"
target: "markus-oberndorfer-contact-home"
layout: "layout_simple"
---


<section class="home" id="home">
  <div class="home-content">
    <section class="home-section">
      <h1>CONTACT:</h1>
      <div>
        Markus Oberndorfer (Mag.art)<br>
        <a title="Opens window for sending email" class="mail" href="mailto:markus@markusoberndorfer.com">markus(at)markusoberndorfer.com</a><br>
        +43 699 110 755 47<br>
      </div>
    </section>

    <section class="home-section">
      <h1>LATEST &amp; UPCOMING:</h1>
      <ul>
    <li>"Autrement on devient fou....." Exhbition &amp; Book presentation, Institut Français Wien, -30.11.2014 (A)</li>
		<li>"Monat der Fotografie Berlin", Galerie Loris, Berlin (D) -8.11.2014</li>
		<li>"Dialogue #05", Markus Oberndorfer &amp; Max Schaffer, DI∞G, Vienna (A)</li>
		<li>"Artist Talk &amp; Guest Teacher", Nordic Art School Kokkola (FIN)</li>
		<li>"Am Ende der Sehnsucht. Fotografische Positionen zu Tod und Meer", Sylt:Quelle (D)</li>
		<li>"Artist Talk", Museum of Modern Art Mönchsberg, Salzburg (A)</li>
		<li>"Under Pressure", Museum of Modern Art Mönchsberg, Salzburg (A)</li>
        <li>"Preise &amp; Talente", Award ceremony &amp; exhibit, OK Linz (A)</li>
		<li>"Se Souvenir", fading work &amp; exhibition, La Pointe du Cap Ferret (F)</li>
		<li>"VII.Jeux de la Francophonie", Concours Culturel, Nice (F)</p>
      </ul>
    </section>

    <section class="home-section">
      <h1><a href="/shop" target="_blank">MONOGRAPHS:</a>:</h1>
	  <ul>
        <li>
          <a href="/autrement-on-devient-fou" target="_blank">Monography "AUTREMENT ON DEVIENT FOU..... (OmdU)"</a>
          <ul class="dashed-list">
            <li>Talk between Henri Lavrillat, Céline Foulon &amp; Markus Oberndorfer</li>
            <li>With essays by Inge Marszolek &amp; Markus Oberndorfer</li>
            <li>German &amp; French. Linen hardcover silkscreened.</li>
            <li>16 x 23 cm, 98 pages, different papers, 42 illustrations</li>
            <li>Design &amp; Typography: Nik Thönen</li>
            <li>Edition: 400, Selfpublished, 28€</li>
           	<li>Release Date: June 6, 2014</li>
          </ul>
        </li>
        <li>
          <a href="/foukauld" target="_blank">Monography "FOUKAULD - LA DISPARITION”</a>
          <ul class="dashed-list">
            <li>With essays by Inge Marszolek, Wolf Langewitz and Markus Oberndorfer</li>
            <li>German, French, English. Linen hardcover embossed.</li>
            <li>22,2 x 28,2 cm, 106 pages, 57 color illustrations</li>
            <li>ISBN 978-3-902675-71-2,  Fotohof edition, 39€</li>
    </section>

    <section class="home-section">
      <h1>COPYRIGHT INFORMATION:</h1>
      <p>All Rights Reserved. The content and works published on this website are governed by the copyright laws of Austria. Any duplication, processing, distribution or any form of utilisation beyond the scope of copyright law shall require the prior written consent of the author in question. Means: If you are interested, please ask. Files that are for download (press-kit, ...) are explicitly marked as such. Furthermore I am not responsible for any content shown on linked websites. In all cases, the provider of information of the linked websites is liable for the content and accuracy of the information provided. Web Programming: Richard Bausek
      </p>
      <p>© Markus Oberndorfer 2014</p>
    </section>

  </div>

  <div class="home-image">
    <img src="/img/institut-francais.jpg" alt="Lens" /><br>
    <img src="/img/oberndorfer-grenzgaenger.jpg" alt="Lens" /><br>
    <img src="/img/oberndorfer-institut-francais.jpg" alt="Lens" /><br>
    <a href="/shop" target="_blank"><img src="/img/autrement.jpg" alt="Lens" /></a><br>
    <a href="/cv/downloads/Anne-Debaumarche-Autrement-on-devient-fou.pdf" target="_blank"><img src="/img/depeche-autrement.jpg" alt="Lens" /></a><br>
    <a href="/cv/downloads/EIKON-Rezension-2014.pdf" target="_blank"><img src="/img/EIKON-Rezension-2014.jpg" alt="Lens" /></a><br>
    <a href="/cv/downloads/ooe-nachrichten.pdf" target="_blank"><img src="/img/nachrichten.jpg" alt="Lens" /></a><br>
    <a href="http://www.museumdermoderne.at/de/ausstellungen/aktuell/details/mdm/under-pressure/" target="_blank"><img src="/img/under-pressure-1.jpg" alt="Lens" /></a><br>
    <a href="/cv/downloads/Anne-Debaumarche-L-Autrichien-qui-fait-parler-les-blockhaus-Cap-Ferret.pdf" target="_blank"><img src="/img/parler.jpg" alt="Lens" /></a><br>
    <a href="/projects/inherited/" target="_blank"><img src="/img/brandstiftung-gr.jpg" alt="Lens" /></a><br>
    <img src="/img/jeux.jpg" alt="Lens" />
  </div>

</section>
