---
title: "Markus Oberndorfer: CONTACT &amp; HOME"
target: "markus-oberndorfer-contact-home"
layout: "layout_simple"
---


<section class="home" id="home">
  <div class="home-content">
    <section class="home-section">
      <h1>LATEST &amp; UPCOMING:</h1>
      <ul>
    <li>"tba", tba, Vienna, 5.11.2015 - 6.12.2015 (A)</li>
    <!--<li>"Text:Bild II" (Artist Books), Fotogalerie Wien, Vienna, -3.10.2015 (A)</li>-->
    <li>"Paul Busk - Look at me now", Inoperable Gallery, Vienna (A)</li>
    <li>"Page.Print-Post>Make a Book", Main Dade Library, Miami -14.11.2015 (US)</li>
    <li>"Widerstandsmahnmal Bregenz", Concept, Final 5 Shorlist (A)</li>
    <li>"Destination Wien Extended", WellWellWell, Vienna (A)</li>
    <li>"Plasticity - In der Kubatur des Kabinetts", Fluc, Vienna (A)</li>
    <li>"Crossing Europe Filmfestival", Local Artists, Linz (A)</li>
    <li>"SilvrettAtelier", Palais Lichtenstein, Feldkirch (A)</li>
    <li>"Extra Fort @ Recyclart" Talk, Gare Bruxelles-Chapelle, Brussels (B) </li>
    <li>"Dialogue #10", Markus Oberndorfer &amp; Max Schaffer, DI∞G, Vienna (A)</li>
    <li>"Autrement on devient fou....." Expo. &amp; Book presentation, Institut Français Wien (A)</li>
		<li>"Monat der Fotografie Berlin", Galerie Loris, Berlin (D)</li>
		<li>"Dialogue #05", Markus Oberndorfer &amp; Max Schaffer, DI∞G, Vienna (A)</li>
		<li>"Artist Talk &amp; Guest Teacher", Nordic Art School Kokkola (FIN)</li>
		<li>"Artist Talk", Museum of Modern Art Mönchsberg, Salzburg (A)</li>
		<li>"Under Pressure", Museum of Modern Art Mönchsberg, Salzburg (A)</li>
    <li>"Preise &amp; Talente", Award ceremony &amp; exhibit, OK Linz (A)</li>
		<li>"Se Souvenir", performance &amp; installation, La Pointe du Cap Ferret (F)</li>
		<li>"VII.Jeux de la Francophonie", Concours Culturel, Nice (F)</p>
      </ul>
    </section>

    <section class="home-section">
      <h1>CONTACT:</h1>
      <div>
        <a title="Opens window for sending email" class="mail" href="mailto:markus@markusoberndorfer.com">markus(at)markusoberndorfer.com</a><br>
        &#9990; 0043 699 110 755 47<br>
        <a href="http://sirlensalot.tumblr.com" target="_blank">Sirlensalot Tumblr</a><br>
      </ul>
    </div>
    </section>

    <section class="home-section">
      <h1>COPYRIGHT INFORMATION:</h1>
      <p>For some projects a password is required. Feel free to write an email to receive it for curatorial purposes. The content and works published on this website are governed by the copyright laws of Austria. Any duplication, processing, distribution or any form of utilisation beyond the scope of copyright law shall require the prior written consent of the author in question. Means: If you are interested, please ask. I am not responsible for any content shown on linked websites. In all cases, the provider of information of the linked websites is liable for the content and accuracy of the information provided. Web Programming: Richard Bausek. 
      </p>
      <p>© Markus Oberndorfer 2015</br>
      All Rights Reserved. </p>
    </section>

  </div>

<div class="project">
  <section class="project-stage">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="img/busk-and-oberndorfer.jpg" />
        </li>
        <li>
          <img src="img/Oberndorfer-autrement.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-parnass-utopien.jpg" />
        </li>
        <li>
          <img src="img/Oberndorfer-blockhaus-la-depeche.jpg" />
        </li>
      </ul>
    </div>
  </section>
  <section class="project-info">
    <section class="project-facts">

</section>
