---
title: "Markus Oberndorfer: CONTACT &amp; HOME"
target: "markus-oberndorfer-contact-home"
layout: "layout_simple"
---


<section class="home" id="home">
  <div class="home-content">
    <section class="home-section">
      <h1>CONTACT:</h1>
      <div>
        Markus Oberndorfer (Mag.art)<br>
        markus(at)markusoberndorfer.com<br>
        +43 699 110 755 47<br>
      </div>
    </section>

    <section class="home-section">
      <h1>MAIN DATES FOR 2013:</h1>
      <ul>
        <li>
		<li>"Under Pressure", Museum of Modern Art Mönchsberg, Salzburg (A), 11/2013</li>
		<li>"VII.Jeux de la Francophonie", Concours Culturel, Nice (F), 06.09.2013-15.09.2013</li>
		<li>"Hohe Dosis", Atterseehalle, Attersee (A)</li>
		<li>"gesammelt", Galerie Traklhaus, Salzburg (A)</li>
		<li>"Am Ende der Sehnsucht. Fotografische Positionen zu Tod und Meer", Altonaer Museum für Kunst und Kulturgeschichte, Hamburg (D) -06.10.2013 </li>
		<li>"ViennaPhotoBookFestival, OstLicht.Gallery for Photography, Vienna (A)</li>
		<li>"Cash, Cans &amp; Candy", Galerie Hilger NEXT, Vienna (A), -14.09.2013</li>
		<li>"What Would Thomas Bernhard Do?", Kunsthalle Wien MQ, Vienna (A)</li>
		<li>"Land in Sicht!", Museum of Modern Art Mönchsberg, Salzburg (A), PROLONGED -07.07.2013</li>
		<li>"The... Side of Things", Photowall, Halle.Cafe.Restaurant der Kunsthalle und der Wiener Festwochen, MQ Vienna (A) -21.07.2013</li>
		<li>"Foukauld", Bookpresentation, OstLicht.Gallery for Photography, Vienna (A)</li>
		<li>"Industrie", OstLicht. Gallery for Photography, Vienna (A)</li>
		<li>"Zwischenspiel", Vertikale Galerie, Verbund HQ, Vienna (A)</li><br />
		</li>
       	<li>Austrian Contestant at "VII. Jeux de la Francophonie" in Nice, Concours Culturel, September 2013.</li>
		<li>European Design Award 2013 "Gold" (for best single poster) with bueronardin</p>
      </ul>
    </section>

    <section class="home-section">
      <h1>PUBLICATION:</h1>
	  <ul>
        <li>
          <a href="http://www.markusoberndorfer.com/foukauld" target="_blank">Monography "FOUKAULD - LA DISPARITION”</a>
          <ul class="dashed-list">
            <li>With essays by Inge Marszolek, Wolf Langewitz and Markus Oberndorfer</li>
            <li>German, French, English. Linen hardcover embossed.</li>
            <li>22,2 x 28,2 cm, 106 pages, 57 color illustrations</li>
            <li>ISBN 978-3-902675-71-2,  Fotohof edition</li>
            <li>Edition: 750</li>
          </ul>
        </li>
        <li>
          <a href="http://www.markusoberndorfer.com/foukauld" target="_blank">Limited Box "FOUKAULD - LA DISPARITION"</a>
          <ul class="dashed-list">
           <li>1 Signed and numbered book “Foukauld” (see above)</li>
           <li>1 Limited, signed and numbered “Edition-print” </li>
           <li>1 Limited Blu-ray “Omega Point” // Sound by DDay One</li>
           <li><span class="indent">1 Accompanying Booklet (Fanzine) with essay by Lydia Nsiah <br>
		   about the intermediate image in German, French, English</span></li>
           <li>Edition: 50+3</li>
          </ul>
    </section>

    <section class="home-section">
      <h1>COPYRIGHT INFORMATION:</h1>
      <p>All Rights Reserved. Unauthorised copying of any content of this website is prohibited unless stated otherwise. Files that are for download are explicitly marked as such. I don't bite, please ask. Moreover I am not responsible for any content shown on linked websites. Web Programming: Richard Bausek
      </p>
      <p>© Markus Oberndorfer 2003-2013</p>
    </section>

  </div>

  <div class="home-image">
    <a href="/cv/downloads/Oberndorfer-Photonews-Rezension.jpg" target="_blank"><img src="/img/home_image.jpg" alt="Lens" /></a>
  </div>

</section>
rved. Unauthorised copying of any content of this website is prohibited unless stated otherwise. Files that are for download are explicitly marked as such. I don't bite, please ask. Moreover I am not responsible for any content shown on linked websites. Web Programming: Richard Bausek
      </p>
      <p>© Markus Oberndorfer 2003-2013</p>
    </section>

  </div>

  <div class="home-image">
    <a href="/cv/Oberndorfer-Photonews-Rezension.jpg"><img src="/img/home_image.jpg" alt="Lens" /></a>
  </div>

</section>
