---
title: "Markus Oberndorfer: CONTACT &amp; HOME"
target: "markus-oberndorfer-contact-home"
layout: "layout_simple"
---


<section class="home" id="home">
  <div class="home-content">

    <section class="home-section">
      <h1>UPCOMING &amp; SELECTED:</h1>
      <ul> 
    <li>"Guest Teacher &amp; Artist Talk", Nordic Art School Kokkola (FIN)</li>  
    <li>"REVISITED" @ Circulation(s) Festival 2017, Centquatre, Paris (F) 20.1.2017 -05.03.2017</li></br>

    <li><a href="http://institut-francais.at/vienne/de/kultur/unsere-veranstaltungen/begegnungen-vortraege/1143-frontieres-cycle-3-art-et-frontieres-lidentite-europeene-en-question.html" target="_blank">"Kunst und Grenzen: Neu zeichnen, neu denken, neu erfinden", MAK, Vienna (A)</a> 
    <li><a href="http://www.franciaintezet.hu/articles/programme/conférences/-artistes-sans-frontieres-regards-contemporains-sur-les-frontieres-lidentite-et-les-migrations.html" target="_blank">"Artistes sans frontières. Regards contemporains sur les frontières, l'identité et les migrations", Auditorium Institut Francais, Budapest (H)</a>
    <li><a href="http://www.ifp.cz/Migrations-frontieres-et-identites?lang=fr" target="_blank">"Migrations, frontières et identités en Europe - Regards d'Artistes", Divadlo Archa, Prague (CZ)</a>
    <li>"Neulich im Labor" by Ruth Horak &amp; Claudia Rohrauer, book with a contribution by myself</li>
    <li>"Sprechen über Abraham", Schloss Bruck, Lienz (A)</li> 
    <li>"Architekt Raimund Abraham - Back Home", Schloss Bruck, Lienz (A) -26.10.2016</li>  
    <li>"Aus der Sammlung: Landschaft", Landesgalerie, Linz (A)</li>
    <li>"Circulation(s) 2016", Projection &amp; Books, Centquatre, Paris (F)</li>
    <li>"Legends Never Die", Bildraum 01, Solo, Vienna (A)</li>
    <li>"Widerstandsmahnmal Bregenz", Concept for a monument, Final 5 Shorlist (A)</li>
    <li>"Extra Fort @ Recyclart" Talk, Gare Bruxelles-Chapelle, Brussels (B) </li>
    <li>"Autrement on ..." Book presentation &amp; exhibit, Institut Français Wien (A)</li>
    <li>"Monat der Fotografie Berlin", Galerie Loris, Berlin (D)</li>
    <li>"Guest Teacher &amp; Artist Talk", Nordic Art School Kokkola (FIN)</li>
    <li>"Artist Talk", Museum of Modern Art Mönchsberg, Salzburg (A)</li>
    <li>"Preise &amp; Talente", Award ceremony &amp; show, OK Linz (A)</li>
      </ul>
    </section>

    <section class="home-section">
      <h1>CONTACT:</h1>
      <div>
        <a title="Opens window for sending email" class="mail" href="mailto:markus@markusoberndorfer.com">markus(at)markusoberndorfer.com</a><br> 
        <a href="https://www.instagram.com/markusoberndorferphoto/" target="_blank">Instagram</a> / 
        <a href="https://www.facebook.com/Sirlensalot" target="_blank">Facebook</a> /
        <a href="http://sirlensalot.tumblr.com" target="_blank">Tumblr</a>
        
      </ul>
    </div>
    </section>

    <section class="home-section">
      <h1>INFO &amp; COPYRIGHT:</h1>
      <div>
        <p>
        © Markus Oberndorfer 2016. All Rights Reserved. The works published on this website are governed by the copyright laws of Austria. Any duplication, processing, distribution or any form of utilisation beyond the scope of copyright law requires the written consent of the author in question. Details: <a href="/imprint/index.html" target="_blank">IMPRINT &amp; AGB</a>
      </p> 
    </section>
  </div>



<div class="project">
  <section class="project-stage">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="/img/circulations.jpg" />
        </li>
        <li>
          <a href="/revisited/index.html" target="_blank"><img src="/img/oberndorfer-stereoscope-3.jpg" /></a>
        </li>
        <li>
          <img src="/img/frontieres-identites-prague.jpg" />
        </li>
      </ul>
    </div>
  </section>
  <section class="project-info">
    <section class="project-facts">

</section>
