<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">


  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title><%= current_page.data.title %></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/flexslider.css">  
  <script src="/js/libs/modernizr.custom.js"></script>
</head>
<body>
  <div id="container" class="l-container">
    <header role="banner" class="page-head">
      <a href="/">
        <h1>Markus Oberndorfer <span>(beta)</span></h1>
      </a>
      <nav class="mainnav">
        <ul>    
          <li><a href="/">Home</a></li>
          <li>
            <a href="/">Photography</a>
          </li>
          <li>
            <a href="/">Photofilm</a>
          </li>
          <li>
            <a href="/">Cv</a>
          </li>          
          <li>
            <a href="/">Friends</a>
          </li>           
          <li>
            <a href="/foukauld/">Foukauld - La Disparition</a>
          </li>           
      </ul>
    </header>
    <div class="content" id="content">
      <div class="l-sidebar">
        <nav role="navigation" class="subnav">
          <%= yield_content :subnav  %>
        </nav>
      </div>
      <div role="main" class="l-content">
        <%= yield %>
      </div>
    </div>
    <footer>

    </footer>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/js/libs/jquery-1.7.2.min.js"><\/script>')</script>

  <!-- scripts concatenated and minified via build script -->
  <script src="/js/plugins.js"></script>
  <script src="/js/libs/jquery.fitvids.js"></script>
  <script src="/js/libs/jquery.flexslider-min.js"></script>
  <script src="/js/script.js"></script>
  <!-- end scripts -->

  <script>
    var _gaq=[['_setAccount','UA-33298712-1'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>