---
title: "Markus Oberndorfer: SOUND"
section: "sound"
---

<% content_for :subnav do %>
  <%= partial "partials/sound/navigation" %>
<% end %>


<div class="project">
  <section class="project-stage">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="/sound/img/oberndorfer-usb-dead-drop.jpg" />
        </li>
        <li>
          <img src="/sound/img/oberndorfer-legends.jpg" />
        </li>
      </ul>
    </div>
  </section>
</div>

<div class="project">
  <section class="project-stage">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=2198973841/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://sirlensalot.bandcamp.com/album/a-sound-is-not-just-a-sound">A Sound Is Not (Just A Sound) by Lens J (aka Sirlensalot)</a></iframe>
        </li>
      </ul>
    </div>
  </section>
</div>

  <section class="project-info">
    <section class="project-facts">
      <h1>A SOUND IS NOT (JUST A SOUND)/ 2016</h1>
      <p>
      PRE-Masters of a 16 Track Hip Hop Album with lots of wordsamples correlating with the topic of my exhibition and project "Legends Never Die" that deals with self-staging, pop culture, entertainment and art production. 
      </p>
      <p class="project-credits">
      The album and additional materials (all lyrics, images, sounds, ...) have exclusively been available on a DEAD DROP in my exhibition "Legends Never Die" in 2015. 
      </p>
    </section>

    <section class="project-description">
      <h1>TRACKLISTING:</h1>
      <p>
      Track 01: Intro Skit</br>
      Track 02: Escalade Pt.I (Negativity Brings Failure)</br>
      Track 03: Escalade Pt.II (Peace In The Middle East)</br>
      Track 04: Escalade Pt.III (Weak Or Strong)</br>
      Track 05: Bucket Of Blood (1959)</br>
      Track 06: Rock Or Statue Skit</br>
      Track 07: In Your Jeep</br>
      Track 08: Australian Snowflake</br>
      Track 09: Endurance Skit</br>
      Track 10: On The Road Again</br>
      Track 11: Outside Looking In (Lens J Remix) *</br>
      Track 12: The Shit Skit</br>
      Track 13: Sublime feat. Silowette **</br>
      Track 14: Trading Places (Fame Scratch) ***</br>
      Track 15: Schèma de Vie (Lens J Remix) ****</br>
      Track 16: Outro Skit</br>
      </p>
      
      <h1>VOCAL &amp; REMIX CREDITS:</h1>
      <p>
      * Vocals written and performed by Silowette of The Annexx Clique 2015</br>
      ** Original performed by Darc Mind, Mindbenda 1996 </br>
      *** Scratches performed by Dj Kompact, Sonido Ojo Rojo 2015</br>
      **** Original performed by Le Makizar (de Kalhex), Akromegalie Records 2016</br>
      ***** With the kind permission of the performing artists.</p>

      All tracks produced by Lens J (aka Sirlensalot)</br>
      Premastered by Dj Kompact, © 2016 </br>

      </p>
    </section>

  </section>
</div>

