---
title: "Markus Oberndorfer: SHOP"
section: "shop"
layout: "layout_simple"
---

<section class="cv-section">

  <div class="exhibition-block">
    <section class="exhibition-category">
      <h1>AUTREMENT ON DEVIENT FOU..... (OmdU)</h1>
      <article>
        <img src="img/autrement.jpg" alt="Lens" /><br>
        <ul>
          <li>MONOGRAPH - 96 pages, 16 x 23 cm, two different papers, 42 illustrations, German/French, linen hardcover silkscreened. Texts: Talk between Henri Lavrillat, Céline Foulon &amp; Markus Oberndorfer. Essays by Inge Marszolek &amp; Markus Oberndorfer. Design: Nik Thönen. Selfpublished. </li>
          <li>Also available at: MdM Mönchsberg Museumshop, Salon für Kunstbuch 21er-Haus Vienna, Librairie Centre Culturel Suisse Paris, Lehrerzimmer Bern, Alice Mediastore Cap Ferret, Tipi Bookshop Brussels, ...</li>
          <li>Please <a title="Opens window for sending email" class="mail" href="mailto:markus@markusoberndorfer.com">email me</a> if you are a reseller.</li>
          <li>Project Link: <a href="/autrement-on-devient-fou/index.html" target="_blank">Click here</a></li>
          <li>Release: June 6, 2014</li>
          <li>Edition: 400</li>
          <li>Price: 28,00€</li>
        </ul>

        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="2BATCDUCGMW9L">
          <input type="image" src="http://www.markusoberndorfer.com/btn/btn_buynow_at.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
          <img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
          </form>
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="44E95MPGVS7VJ">
          <input type="image" src="http://www.markusoberndorfer.com/btn/btn_buynow_eur.gif" border="0" name="submit" alt="Jetzt einfach, schnell und sicher online bezahlen – mit PayPal.">
          <img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
          </form>
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="JURBVPPYUX73U">
          <input type="image" src="http://www.markusoberndorfer.com/btn/btn_buynow_wo.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
          <img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
          </form>
      </article>
    </section>


    <section class="exhibition-category">
      <article>
        <img src="img/autrement-ed.jpg" alt="Lens" /><br>
        <ul>
          <li>LTD EDITION SET - Signed and numbered book “Autrement on devient fou.....” (see left), + Limited, signed and numbered “Handprinted Edition C-print” (22x28cm) + Set of postcards ”Foukauld" (10 postcards)</li>
         <li>Project Link: <a href="/autrement-on-devient-fou/index.html" target="_blank">Click here</a></li>
          <li>Release: June 6, 2014</li>
          <li>Edition: 20 </li>
          <li>Price: 450,00€</li>
       </ul>
         SOLD OUT
      </article>
    </section>
  </div>


  <div class="exhibition-block">
    <section class="exhibition-category">
      <h1>FOUKAULD - LA DISPARITION</h1>
      <article>
        <!--<img src="img/foukauld.jpg" alt="Lens" />-->
        <div id="video" class="video">
        <iframe src="http://player.vimeo.com/video/47365833?color=ffffff" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div><br>
        <ul>
          <li>MONOGRAPH - 106 pages, 22 x 28 cm, 57 color illustrations, German/French/English. Linen hardcover embossed. Texts: Essays by Inge Marszolek, Wolf Langewitz and Markus Oberndorfer, ISBN 978-3-902675-71-2,  Fotohof edition. </li>
          <li>Available via: Fotohof, Selected bookstores in Europe and US</li>
         <li>Project Link: <a href="/foukauld/index.html" target="_blank">Click here</a></li>
          <li>Release: October 22, 2012</li>
          <li>Edition: 750 </li>
          <li>Price: 39,00€</li> 
       </ul>
         <a href="http://www.ebay.at/itm/Markus-Oberndofer-Foukauld-Das-Verschwinden-La-Disparition-Disappearance-2012-/280966372485?pt=LH_DefaultDomain_16&hash=item416ae69c85" target="_blank">BUY LAST COPIES</a><br>
         (via Fotohof)

      </article>
    </section>


    <section class="exhibition-category">
      <article>
        <img src="img/foukauld-ed.jpg" alt="Lens" /><br>
        <ul>
          <li>LTD EDITION BOX - Signed and numbered book. Limited, signed and numbered analog "Edition C-print” (22x28cm) + Limited Blu-ray “Omega Point” (Sound by DDay One) + Accompanying Fanzine with essay by Lydia Nsiah about the intermediate image in my photofilm "Omega Point" (also in German, French, English) + Set of postcards "Foukauld" (10 postcards)</li>
         <li>Project Link: <a href="/foukauld/index.html" target="_blank">Click here</a></li>
          <li>Release: October 22, 2012</li>
          <li>Edition: 50 (very few left)</li>
          <li>Price: 250€</li>
        </ul>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="Q8RNND2EJFEFS">
          <input type="image" src="http://www.markusoberndorfer.com/btn/btn_buynow_at.gif" border="0" name="submit" alt="Jetzt einfach, schnell und sicher online bezahlen – mit PayPal.">
          <img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
        </form>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="ZPS72SFXFAMNG">
          <input type="image" src="http://www.markusoberndorfer.com/btn/btn_buynow_eur.gif" border="0" name="submit" alt="Jetzt einfach, schnell und sicher online bezahlen – mit PayPal.">
          <img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
        </form>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="Y4PES26LJZL5N">
          <input type="image" src="http://www.markusoberndorfer.com/btn/btn_buynow_wo.gif" border="0" name="submit" alt="Jetzt einfach, schnell und sicher online bezahlen – mit PayPal.">
          <img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
        </form>
      </article>
    </section>


    <section class="exhibition-category">
      <article>
        <img src="img/postcards-foukauld.jpg" alt="Lens" /><br>
        <ul>
         <li>SET OF POSTCARDS - "Foukauld - La Disparition" in handcrafted folder</li>
         <li>Project Link: <a href="/foukauld/index.html" target="_blank">Click here</a></li>
         <li>Release: October 22, 2012</li>
         <li>Edition: 200 (few left)</li>
         <li>Price: 12€</li>
       </ul>
         SOLD OUT<br> 
    </article>
    </section>

  </div>

  <div class="exhibition-block last">
    <section class="exhibition-category">
      <h1>OTHER (RECORDS, POSTCARDS, ...)</h1>
      <article>
        <img src="img/plasticity.jpg" alt="Lens" /><br>
        <ul>
         <li>LTD EDITION BOX - produced for "Plasticity" at Fluc Wien (curated by Liddy Scheffknecht). The box features 5 signed Risoprints. One by each participating artist (Paul Busk, Marlene Hausegger, Deep Inc, Markus Oberndorfer, Käthe Schönle) and a Plasticity cover print designed by Paul Busk</li>
         <li>Project Link: No Link yet</li>
         <li>Release: May 13, 2015</li>
         <li>Edition: 100 (4 left)</li>
         <li>Price: 49€</li>
       </ul>
       <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="FVE7K33CT7ZRG">
        <input type="image" src="http://www.markusoberndorfer.com/btn/btn_buynow_at.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
        </form>
    </article>
    </section>

    <section class="exhibition-category">
      <article>
        <!--<img src="img/brandstiftung.jpg" alt="Lens" />-->
        <div id="video" class="video">
        <iframe src="http://player.vimeo.com/video/81816676?color=ffffff" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div><br>
        <ul>
         <li>VINYLPOSTCARD - Brandstiftung (Lathecut 5") - produced for WWTBD - What Would Thomas Bernhard Do @ Kunsthalle Wien. Track contains samples of Krista Fleischmann, Monologe auf Mallorca &amp; Die Ursache bin ich selbst — Die großen Interviews mit Thomas Bernhard, 1981/1986. With the kind permission of Krista Fleischmann; Suhrkamp, Frankfurt am Main, 2008. </li>
         <li>Also available at: Kunsthalle Wien MQ, Museumsplatz 1, 1070 Wien.</li>
         <li>Project Link: <a href="/projects/inherited/index.html" target="_blank">Click here</a></li>
         <li>Release: December 21, 2013</li>
         <li>Edition: 100 (very few left)</li>
         <li>Price: 15€</li>
       </ul>
       <a href="https://sirlensalot.bandcamp.com/album/brandstiftung-inherited" target="_blank">BUY NOW (bandcamp)</a> 
    </article>
    </section>

    <section class="exhibition-category">
      <article>
        <img src="img/lenscapes.jpg" alt="Lens" /><br>
        <ul>
         <li>VINYLPOSTCARD - Lenscapes #02 (Lathecut 5") - produced for an installation shown during "Vor Ort" exhibition at Kölnbreinsperre (Maltatal) together with other work that produced during my artist residency awarded by Verbund AG </li>
         <li>Project Link: <a href="/projects/lenscapes-02/vinylpostcard.html" target="_blank">Click here</a></li>
         <li>Release: October 3, 2011</li>
         <li>Edition: 30+3</li>
       </ul>
         SOLD OUT
      </article>
    </section>

  </div>
</section>
