---
title: "Markus Oberndorfer: SHOP"
section: "shop"
layout: "layout_simple"
---


<section class="home" id="shop">
  <div class="">
    <section class="home-section">
      <h1>SHOP INFORMATION:</h1>
      <p>BUY NOW will directly connect you to Paypal. Please select your region (Austria / Europe / World). Only select (Pick Up) if you are in Vienna and can/want to pick your package up in 1160 Vienna by appointment. Every order will of course be sent with an invoice! INSURED SHIPPING ONLY! 
    </section>
  </div>

</section>


<section class="cv-section">

  <div class="exhibition-block">
    <section class="exhibition-category">
      <h1>MONOGRAPHS:</h1>
      <article>
        <h2>Autrement on devient fou..... (OmdU)</h2>
        <img src="img/autrement.jpg" alt="Lens" /><br>
        <ul>
          <li>96 pages, 16 x 23 cm, two different papers, 42 illustrations, German/French, linen hardcover silkscreened. Texts: Talk between Henri Lavrillat, Céline Foulon &amp; Markus Oberndorfer. Essays by Inge Marszolek &amp; Markus Oberndorfer. Design: Nik Thönen. Selfpublished. </li>
          <li>Also available at: MdM Mönchsberg Museumshop, Salon für Kunstbuch 21er-Haus Vienna, Librairie Centre Culturel Suisse Paris, Lehrerzimmer Bern, Alice Mediastore Cap Ferret, ...</li>
          <li>If you are a reseller: Please write an email</li>
          <li>Release: June 6, 2014</li>
          <li>Edition: 400</li>
          <li>Price: 28,00€ (+ postage)</li>
        </ul>

        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="2BATCDUCGMW9L">
          <input type="image" src="http://www.markusoberndorfer.com/btn/btn_buynow_at.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
          <img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
          </form>
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="44E95MPGVS7VJ">
          <input type="image" src="http://www.markusoberndorfer.com/btn/btn_buynow_eur.gif" border="0" name="submit" alt="Jetzt einfach, schnell und sicher online bezahlen – mit PayPal.">
          <img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
          </form>
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="29XFBM6PL8FTA">
          <input type="image" src="http://www.markusoberndorfer.com/btn/btn_buynow_wo.gif" border="0" name="submit" alt="Jetzt einfach, schnell und sicher online bezahlen – mit PayPal.">
          <img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
        </form>

      </article>

      <article>
        <h2>Foukauld - La Disparition</h2>
        <img src="img/foukauld.jpg" alt="Lens" /><br>
        <ul>
          <li>106 pages, 22 x 28 cm, 57 color illustrations, German/French/English. Linen hardcover embossed. Texts: Essays by Inge Marszolek, Wolf Langewitz and Markus Oberndorfer, ISBN 978-3-902675-71-2,  Fotohof edition. </li>
          <li>Also available via: Fotohof, Selected bookstores in Europe and US, Alice Mediastore Cap Ferret,</li>
          <li>Release: October 22, 2012</li>
          <li>Price: 39,00€ (+ postage)</li>
        </ul>

        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="GE4U9YSSV2PGL">
          <input type="image" src="http://www.markusoberndorfer.com/btn/btn_buynow_at.gif" border="0" name="submit" alt="Jetzt einfach, schnell und sicher online bezahlen – mit PayPal.">
          <img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
          </form>
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="8JWN5CF6E56NW">
          <input type="image" src="http://www.markusoberndorfer.com/btn/btn_buynow_eur.gif" border="0" name="submit" alt="Jetzt einfach, schnell und sicher online bezahlen – mit PayPal.">
          <img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
          </form>
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="9ULYEL3U2LFUE">
          <input type="image" src="http://www.markusoberndorfer.com/btn/btn_buynow_wo.gif" border="0" name="submit" alt="Jetzt einfach, schnell und sicher online bezahlen – mit PayPal.">
          <img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
        </form>

      </article>

    </section>

  </div>

  <div class="exhibition-block">
    <section class="exhibition-category">
      <h1>LIMITED EDITIONS:</h1>
      
      <article>
        <h2>Autrement on devient fou..... (OmdU)</h2>
        <img src="img/autrement-ed.jpg" alt="Lens" />
        <ul>
          <li>Signed and numbered book “Autrement on devient fou.....” (see left), + Limited, signed and numbered “Handprinted Edition C-print” (22x28cm) + Set of postcards ”Foukauld" (10 postcards)</li>
          <li>Release: June 6, 2014</li>
          <li>Edition: 20 (3 remaining)</li>
          <li>Price: 450,00€ (+ postage)</li>
        </ul>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="29XFBM6PL8FTA">
          <input type="image" src="http://www.markusoberndorfer.com/btn/btn_buynow_at.gif" border="0" name="submit" alt="Jetzt einfach, schnell und sicher online bezahlen – mit PayPal.">
          <img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
        </form>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="8H2VF5AUFHGWU">
          <input type="image" src="http://www.markusoberndorfer.com/btn/btn_buynow_eur.gif" border="0" name="submit" alt="Jetzt einfach, schnell und sicher online bezahlen – mit PayPal.">
          <img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
        </form>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="7GDSUPQS5U9JE">
          <input type="image" src="http://www.markusoberndorfer.com/btn/btn_buynow_wo.gif" border="0" name="submit" alt="Jetzt einfach, schnell und sicher online bezahlen – mit PayPal.">
          <img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
        </form>
      </article>
      
      <article>
        <h2>Foukauld - La Disparition</h2>
        <img src="img/foukauld-ed.jpg" alt="Lens" /><br>
        <ul>
          <li>Signed and numbered book “Foukauld” (see left), Limited, signed and numbered “Handprinted Edition C-print” (22x28cm) + Limited Blu-ray “Omega Point” (Sound by DDay One) + Accompanying Fanzine with essay by Lydia Nsiah about the intermediate image in my photofilm "Omega Point" (also in German, French, English) + Set of postcards "Foukauld" (10 postcards)</li>
          <li>Release: October 22, 2012</li>
          <li>Edition: 50 (5 remaining)</li>
          <li>Price: 250€ (+ postage)</li>
        </ul>          
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="Q8RNND2EJFEFS">
          <input type="image" src="http://www.markusoberndorfer.com/btn/btn_buynow_at.gif" border="0" name="submit" alt="Jetzt einfach, schnell und sicher online bezahlen – mit PayPal.">
          <img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
        </form>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="ZPS72SFXFAMNG">
          <input type="image" src="http://www.markusoberndorfer.com/btn/btn_buynow_eur.gif" border="0" name="submit" alt="Jetzt einfach, schnell und sicher online bezahlen – mit PayPal.">
          <img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
        </form>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="Y4PES26LJZL5N">
          <input type="image" src="http://www.markusoberndorfer.com/btn/btn_buynow_wo.gif" border="0" name="submit" alt="Jetzt einfach, schnell und sicher online bezahlen – mit PayPal.">
          <img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
        </form>
      </article>

    </section>

  </div>

  <div class="exhibition-block last">
    <section class="exhibition-category">
      <h1>RECORDS / OTHER:</h1>
      <article>
        <h2>Brandstiftung (Lathecut 5")</h2>
        <img src="img/brandstiftung.jpg" alt="Lens" /><br>
        <ul>
         <li>Produced in connection with Erik Leidal's Intermezzi during WWTBD - What Would Thomas Bernhard Do: 17/5 - 26/5 2013, Kunsthalle Wien Museumsquartier, #WWTBD. Track contains samples of Krista Fleischmann, Monologe auf Mallorca & Die Ursache bin ich selbst — Die großen Interviews mit Thomas Bernhard, 1981/1986, 94 Min. With the kind permission of Krista Fleischmann; Suhrkamp, Frankfurt am Main, 2008. </li>
         <li>Also available at: Kunsthalle Wien MQ, Museumsplatz 1, 1070 Wien. As long as supplies last.</li>
         <li>Release: December 21, 2013</li>
         <li>Edition: 100</li>
         <li>Price: 15€ (+ postage)</li>
       </ul>
       <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="R4VJT8CJ224JL">
        <input type="image" src="http://www.markusoberndorfer.com/btn/btn_buynow_at.gif" border="0" name="submit" alt="Jetzt einfach, schnell und sicher online bezahlen – mit PayPal.">
        <img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
      </form>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="R4VJT8CJ224JL">
        <input type="image" src="http://www.markusoberndorfer.com/btn/btn_buynow_eur.gif" border="0" name="submit" alt="Jetzt einfach, schnell und sicher online bezahlen – mit PayPal.">
        <img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
      </form>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="9ZKKUVTL9R4M8">
        <input type="image" src="http://www.markusoberndorfer.com/btn/btn_buynow_wo.gif" border="0" name="submit" alt="Jetzt einfach, schnell und sicher online bezahlen – mit PayPal.">
        <img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
      </form>

    </article>

      <article>
        <h2>Lenscapes #02 (Lathecut 5")</h2>
        <img src="img/lenscapes-02.jpg" alt="Lens" /><br>
        <ul>
         <li>Part of mixed media installation work "Lenscapes #02"</li>
         <li>Release: October 3, 2011</li>
         <li>SOLD OUT</li>
       </ul>
      </article>
    </section>
    
    <section class="exhibition-category">
      <h1>DOWNLOADS:</h1>
      <article>
        <ul>
          <li><a href="http://sirlensalot.bandcamp.com/releases" target="_blank">via Bandcamp</a></li>
        </ul>
      </article>
    </section>

  </div>
</section>
