---
title: "Markus Oberndorfer: SHOP"
section: "shop"
layout: "layout_simple"
---


<section class="home" id="home">
  <div class="">
    <section class="home-section">
      <h1>SHOP INFORMATION:</h1>
      <p>You can soon order my monographs, limited editions and other physical releases here. Original prints will not for sale in this online shop. Prices and availability on request. Use the "PAYPAL" button to use Paypal express checkout or the "BUY HERE" button, to pay via Credit Card or Bank Transfer. "BUY HERE" will for now reconnect to this little online shop. If you are a reseller, please write an email for commission prices ... THIS IS STILL A HOLDER PAGE ... no buttons are sensitive yet. Updated June 6th.
    </section>
  </div>

</section>


  <section class="cv-section">
    <div class="exhibition-block">
      <section class="exhibition-category">
        <h1>MONOGRAPHS:</h1>
        <article>
          <h2>Autrement on devient fou..... (OmdU)</h2>
          <img src="/img/autrement.jpg" alt="Lens" /><br>
          <ul>
			<li>Talk between Henri Lavrillat, Céline Foulon &amp; Markus Oberndorfer</li>
            <li>With essays by Inge Marszolek &amp; Markus Oberndorfer</li>
            <li>German &amp; French. Linen hardcover silkscreened.</li>
            <li>16 x 23 cm, 98 pages, different papers, 42 illustrations</li>
           	<li>Release Date: June 6, 2014</li>
           	<li>BUY HERE or PAYPAL (AVAILABLE SOON)</li>
          </ul>
        </article>
        <article>
          <h2>Foukauld - La Disparition</h2>
          <img src="img/foukauld.jpg" alt="Lens" /><br>
          <ul>
        	<li>With essays by Inge Marszolek, Wolf Langewitz and Markus Oberndorfer</li>
            <li>German, French, English. Linen hardcover embossed.</li>
            <li>22,2 x 28,2 cm, 106 pages, 57 color illustrations</li>
            <li>ISBN 978-3-902675-71-2,  Fotohof edition, 39€</li>
           	<li>BUY HERE or VIA FOTOHOF</li>
          </ul>
        </article>
      </section>

      </section>
    </div>
    <div class="exhibition-block">
      <section class="exhibition-category">
        <h1>LIMITED EDITIONS:</h1>
        <article>
          <h2>Autrement on devient fou..... (OmdU)</h2>
          <ul>
    <img src="img/autrement-ed.jpg" alt="Lens" /><br>
           <li>1 Signed and numbered book “Autrement” (see above)</li>
           <li>1 Limited, signed and numbered “Edition-print” </li>
           <li>1 Postcard Set ”Foukauld-La Disparition” </li>
           	<li>Release Date: June 6, 2014</li>
           <li>BUY HERE or PAYPAL (AVAILABLE SOON)</li>
        </article>
        <article>
          <h2>Foukauld - La Disparition</h2>
          <ul>
    <img src="img/foukauld-ed.jpg" alt="Lens" /><br>
           <li>1 Signed and numbered book “Foukauld” (see above)</li>
           <li>1 Limited, signed and numbered “Edition-print” </li>
           <li>1 Limited Blu-ray “Omega Point” // Sound by DDay One</li>
           <li><span class="indent">1 Accompanying Booklet (Fanzine) with essay by Lydia Nsiah <br>
		   about the intermediate image (in German, French, English)</span></li>
           <li>Edition: 50+3, 250€</li>
           <li>BUY HERE or PAYPAL</li>
          </ul>
        </article>
      </section>

      </section>
    </div>

    <div class="exhibition-block last">
      <section class="exhibition-category">
        <h1>RECORDS / OTHER:</h1>
        <article>
          <h2>Brandstiftung (Lathecut 5")</h2>
          <ul>
    <img src="img/brandstiftung.jpg" alt="Lens" /><br>
           <li>Edition: 100, 15€</li>
           <li>BUY HERE or PAYPAL</li>
        </article>
        <article>
          <h2>Lenscapes #02 (Lathecut 5")</h2>
          <ul>
    <img src="img/lenscapes-02.jpg" alt="Lens" /><br>
           <li>Edition: 33, 15€</li>
           <li>SOLD OUT</li><br>
          </ul>
        </article>
      </section>
<!--
      <section class="exhibition-category">
        <h1>DOWNLOADS:</h1>
        <article>
          <ul>
            <li>Brandstiftung (mp3/flac)</li>
            <li>Lenscapes #02 (mp3)</li>
          </ul>
        </article>
      </section> -->

    </div>
  </section>
</div>