---
title: "Markus Oberndorfer: SHOP"
section: "shop"
layout: "layout_simple"
---

<section class="cv-section">

  <div class="exhibition-block">
    <section class="exhibition-category">
      <h1>AUTREMENT ON DEVIENT FOU..... (OmdU)</h1>
      <article>
        <img src="img/autrement.jpg" alt="Lens" /><br>
        <ul>
          <li>MONOGRAPH - 96 pages, 16 x 23 cm, two different papers, 42 illustrations, German/French, linen hardcover silkscreened. Texts: Talk between Henri Lavrillat, Céline Foulon &amp; Markus Oberndorfer. Essays by Inge Marszolek &amp; Markus Oberndorfer. Design: Nik Thönen. Selfpublished. </li>
          <li>Please <a title="Opens window for sending email" class="mail" href="mailto:markus@markusoberndorfer.com">email me</a> if you are a reseller.</li>
          <li>Project Link: <a href="/autrement-on-devient-fou/index.html" target="_blank">Click here</a></li>
          <li>Release: June 6, 2014</li>
          <li>Edition: 400</li>
          <li>Price: 28,00€</li>
        </ul>

        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="2BATCDUCGMW9L">
          <input type="image" src="http://www.markusoberndorfer.com/btn/btn_buynow_at.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
          <img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
          </form>
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="44E95MPGVS7VJ">
          <input type="image" src="http://www.markusoberndorfer.com/btn/btn_buynow_eur.gif" border="0" name="submit" alt="Jetzt einfach, schnell und sicher online bezahlen – mit PayPal.">
          <img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
          </form>
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="JURBVPPYUX73U">
          <input type="image" src="http://www.markusoberndorfer.com/btn/btn_buynow_wo.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
          <img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
          </form>
      </article>
    </section>


    <section class="exhibition-category">
      <article>
        <img src="img/autrement-ed.jpg" alt="Lens" /><br>
        <ul>
          <li>LTD EDITION SET - Signed and numbered book “Autrement on devient fou.....” + Limited, signed and numbered “Handprinted Edition C-print” (22x28cm) + Set of postcards ”Foukauld"</li>
         <li>Project Link: <a href="/autrement-on-devient-fou/index.html" target="_blank">Click here</a></li>
          <li>Release: June 6, 2014</li>
          <li>Edition: 20 </li>
       </ul>
         SOLD OUT
      </article>
    </section>
  </div>


  <div class="exhibition-block">
    <section class="exhibition-category">
      <h1>FOUKAULD - LA DISPARITION</h1>
      <article>
        <img src="img/foukauld-ed.jpg" alt="Lens" /><br>
        <ul>
          <li>LTD EDITION BOX - Signed and numbered book. Limited, signed and numbered analog "Edition C-print” (22x28cm) + Limited Blu-ray “Omega Point” (Sound by DDay One) + Accompanying Fanzine with essay by Lydia Nsiah about the intermediate image in my photofilm "Omega Point" (also in German, French, English) + Set of postcards "Foukauld" (10 postcards)</li>
         <li>Project Link: <a href="/foukauld/index.html" target="_blank">Click here</a></li>
          <li>Release: October 22, 2012</li>
          <li>Edition: 50 </li>
          <li>Price: 250€</li>
          <li>LOW STOCK </li>
        </ul>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="Q8RNND2EJFEFS">
          <input type="image" src="http://www.markusoberndorfer.com/btn/btn_buynow_at.gif" border="0" name="submit" alt="Jetzt einfach, schnell und sicher online bezahlen – mit PayPal.">
          <img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
        </form>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="ZPS72SFXFAMNG">
          <input type="image" src="http://www.markusoberndorfer.com/btn/btn_buynow_eur.gif" border="0" name="submit" alt="Jetzt einfach, schnell und sicher online bezahlen – mit PayPal.">
          <img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
        </form>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="Y4PES26LJZL5N">
          <input type="image" src="http://www.markusoberndorfer.com/btn/btn_buynow_wo.gif" border="0" name="submit" alt="Jetzt einfach, schnell und sicher online bezahlen – mit PayPal.">
          <img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
        </form>
      </article>
    </section>

    <section class="exhibition-category">
    <article>
        <!--<img src="img/foukauld.jpg" alt="Lens" />-->
        <div id="video" class="video">
        <iframe src="http://player.vimeo.com/video/47365833?color=ffffff" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div><br>
        <ul>
          <li>MONOGRAPH - 106 pages, 22 x 28 cm, 57 color illustrations, German/French/English. Linen hardcover embossed. Texts: Essays by Inge Marszolek, Wolf Langewitz and Markus Oberndorfer, ISBN 978-3-902675-71-2 </li>
          <li>Distribution: Fotohof, Vice Versa, RAM Publications, artdata</li>
          <li>Project Link: <a href="/foukauld/index.html" target="_blank">Click here</a></li>
          <li>Release: October 22, 2012</li>
          <li>Edition: 750 </li>
       </ul>
        SOLD OUT (try via Fotohof)<br>

      </article>
    </section>





    <section class="exhibition-category">
      <article>
        <img src="img/postcards-foukauld.jpg" alt="Lens" /><br>
        <ul>
         <li>SET OF POSTCARDS - "Foukauld - La Disparition" in handcrafted folder</li>
         <li>Project Link: <a href="/foukauld/index.html" target="_blank">Click here</a></li>
         <li>Release: October 22, 2012</li>
       </ul>
         SOLD OUT<br> 
    </article>
    </section>

  </div>

  <div class="exhibition-block last">
    <section class="exhibition-category">
      <h1>OTHER (RECORDS, POSTCARDS, ...)</h1>
      <article>
        <!--<img src="img/brandstiftung.jpg" alt="Lens" />-->
        <div id="video" class="video">
        <iframe src="http://player.vimeo.com/video/81816676?color=ffffff" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div><br>
        <ul>
         <li>VINYLPOSTCARD - Brandstiftung (Lathecut 5") - produced for WWTBD (What Would Thomas Bernhard Do) at Kunsthalle Wien. </li>
         <li>Project Link: <a href="/projects/inherited/index.html" target="_blank">Click here</a></li>
         <li>Release: December 21, 2013</li>
         <li>Edition: 100</li>
       </ul></ul>
        SOLD OUT<br>
      </article>
    </section>

    <section class="exhibition-category">
    <article>
        <img src="img/plasticity.jpg" alt="Lens" /><br>
        <ul>
         <li>LTD EDITION BOX - produced for "Plasticity" at Fluc Wien (curated by Liddy Scheffknecht). The box features 5 signed Risoprints. One by each participating artist (Paul Busk, Marlene Hausegger, Deep Inc, Markus Oberndorfer, Käthe Schönle) and a Plasticity cover print designed by Paul Busk</li>
         <li>Release: May 13, 2015</li>
          <li>Edition: 100 </li>
       </ul>
         OUT OF STOCK<br>
    </article>
    </section>

    <section class="exhibition-category">
      <article>
        <img src="img/lenscapes.jpg" alt="Lens" /><br>
        <ul>
         <li>VINYLPOSTCARD - Lenscapes #02 (Lathecut 5") - produced during Verbund AG artist residency </li>
         <li>Project Link: <a href="/projects/lenscapes-02/vinylpostcard.html" target="_blank">Click here</a></li>
         <li>Release: October 3, 2011</li>
         <li>Edition: 30+3</li>
       </ul>
         SOLD OUT
      </article>
    </section>

  </div>
</section>
