<div class="subnav-section">
  <h1>Revisited:</h1>
  <ul>
    <li>
      <%= nav_link_to "Re-Enactment", "/revisited/slide.html" %>
    </li>
    <li>
      <%= nav_link_to "Afterglow (360° Trailer)", "/revisited/index.html" %>
    </li>
    <!--<li>
      <%= nav_link_to "Early Morning (360° Trailer)", "/revisited/morning.html" %>
    </li>
    <li>
      <%= nav_link_to "Essay M.Oberndorfer (E)", "/revisited/essay.html" %>
    </li>--> <br/>
       <p>
     This is a short insight into my last project inspired by Ed Ruscha's accordion-fold Leporello book "Every Building On The Sunset Strip" and consisting of 4x 360° videos, photographs, collage and text. Dont hesitate to contact me for more info or curatorial issues.
      </p> 
  </ul>
</div>
