---
title: "Photofilm Reference Project"
---

<% content_for :subnav do %>
  <%= partial "partials/photofilm/navigation" %> 
<% end %>

<div class="project">
  <section class="project-stage">
    <div id="video" class="video">
        <iframe src="http://player.vimeo.com/video/55231061?color=ffffff" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>    
  </section>
  <section class="project-info">
    <section class="project-facts">
      <h1>UNTITLED IN CASE 05_4 / 2009</h1>
      <p>
      1min 48sec, Vienna, 2008<br />
      Starring: Unknown Artists<br />
	  Original: 1920 x 1440 px<br />
      © Markus Oberndorfer 2009
      </p>
      <p class="project-credits">
        The same edit of the film exists in three different sound versions that ask the question about the creative potential of sound in regards to how it influences the speed, mood and visual perception:
		_01 To be performed live by a-d-a-p-t-e-r
		_02 Written & Produced by Kemoka<br />
		_03 Written & Produced by Gonzo<br />
		_04 Written & Produced by Dj Kompact
      </p>
    </section>
    <section class="project-description">
      <h1>ABOUT THE PROJECT”:</h1>
      <p>     
      Number #05 of my series of documentary photofilms on urban and suburban space, it‘s architecture, function and mystic. A snap-shot of urban intervention and the re-dedication of space, questioning, exceeding and training the limits of visual perception. What stays seems to be - at least for me - rather a feeling or impression of what i might have seen, than a concrete image of it [...]
      </p>
      <p>
      [...] Each photo for my photofilms has been taken by consciously pressing the trigger (no scripts or automations). All motion blurs for transitions are the result of moving the photographic process. No effects or graphic elements are used."
      </p>
    </section>

  </section>
</div>