---
title: "Photography: HAINBURGERSTRASSE"
section: "photography"
---

<% content_for :subnav do %>
  <%= partial "partials/photography/navigation" %>
<% end %>

<div class="project">
  <section class="project-stage">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="img/oberndorfer-hainburgerstrasse-01.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-hainburgerstrasse-02.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-hainburgerstrasse-03.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-hainburgerstrasse-04.jpg" />
        </li>
        <li>
          <img src="img/oberndorfer-hainburgerstrasse-05.jpg" />
        </li>
		<li>
          <img src="img/oberndorfer-hainburgerstrasse-06.jpg" />
        </li>
      </ul>
    </div>
  </section>
  <section class="project-info">
    <section class="project-facts">
      <h1>HAINBURGERSTRASSE / 2011 </h1>
      <p>
      Vienna 2011<br />
      C-Prints: 50 cm x 60 cm to 120 cm x 150 cm <br />
	  Edition: 3+2
      </p>
      <p>
      The photography section is getting shaped and reorganized. I am sorry for the inconveniences.
      </p>
    </section>
    <section class="project-description">
      <h1>ABOUT THE PROJECT: </h1>
      <p>
       The family that is the owner of this building in Hainburgerstrasse, assigned me with a portrait of herself and a part of the mezzanin floor of building during its reconstruction and renovating process. Its transition from a former governmental building into a family home.
      </p>
      <p>
      
      </p>

    </section>

  </section>
</div>