---
title: "Photography: BAKARY J"
section: "photography"
---

<% content_for :subnav do %>
  <%= partial "partials/photography/navigation" %>
<% end %>

<div class="project">
  <section class="project-stage">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="img/oberndorfer-bakary-j-01.jpg" />
        </li>
		<li>
          <img src="img/oberndorfer-bakary-j-02.jpg" />
        </li>
		<li>
          <img src="img/oberndorfer-bakary-j-03.jpg" />
        </li>
		<li>
          <img src="img/oberndorfer-bakary-j-04.jpg" />
        </li>
      </ul>
    </div>
  </section>
  <section class="project-info">
    <section class="project-facts">
      <h1>BAKARY J / 2006</h1>
      <p>
      Vienna 2006<br />
      C-Prints: 37,5 cm x 29,2 cm to 150 cm x 120 cm <br />
	  Edition: 3+2
      </p>
      <p>
      The photography section is getting shaped and reorganized. I am sorry for the inconveniences.
      </p>
    </section>
    <section class="project-description">
      <h1>ABOUT THE PROJECT: </h1>
      <p>
      One of my photographic excursions lead me into an abandonned depot in vienna. I took a photo of a stickman, whose face - originally on a board on the wall - was lying on the floor; scrunched. Some weeks after that the asylum seeker Bakary J. was abused and nearly beaten to death by an alien branch of the austrian police in that same building.
      </p>
      <p>
      Texts coming sooon.
      </p>

    </section>

  </section>
</div>